{% extends 'AppBundle:Emails:layout.html.twig' %}

{% block email_content %}
    <p><strong>Dear User,</strong></p>

    {% if credit_change > 0 %}
        <p>Your game account {{ gamelogin }} has been credited with {{ credit_change }} Cash Points.</p>
    {% else %}
        <p>We removed {{ credit_change }} Cash Points from you game account {{ gamelogin }}.</p>
    {% endif %}
    <p>Reason: {{ reason }}</p>
    <p>You can move your points across your different accounts on the control panel <a href="{{ url('panel_index') }}">here</a>.</p>
    <p>If you run into any trouble please feel free to visit our <a href="http://support.riseofmidgard.com/">support page</a>.</p>
    <p>Thank you,</p>
    <p>The Rise of Midgard Team</p>
{% endblock %}
