Dear User,
{% if credit_change > 0 %}

    Your game account {{ gamelogin }} has been credited with {{ credit_change }} Cash Points.
{% else %}

    We removed {{ credit_change }} Cash Points from you game account {{ gamelogin }}.
{% endif %}

Reason: {{ reason }}

You can move your points across your different accounts on the control panel here ({{ url('panel_index') }}) .

If you run into any trouble please feel free to visit our support page (http://support.riseofmidgard.com/) .

Thank you,

The Rise of Midgard Team


Website Link (https://riseofmidgard.com)
Copyright &copy; 2016 Blazegames, All rights reserved.
