Hello!

Apparently today is your birthday! As we would like to celebrate with you, we got you some presents and cake!

Login now on your game account {{ gamelogin }} to receive a Costume Cake Hat, some Birthday Firecrackers, and a Life Insurance! :)

Have fun!

The Rise of Midgard Team


Website Link (https://riseofmidgard.com)
Copyright &copy; 2016 Blazegames, All rights reserved.
