{% extends 'AppBundle:Emails:layout.html.twig' %}

{% block email_content %}
    <p><strong>Hello!</strong></p>
    <p>Apparently today is your birthday! As we would like to celebrate with you, we got you some presents and cake!</p>
    <p>Login now on your game account {{ gamelogin }} to receive a Costume Cake Hat, some Birthday Firecrackers, and a Life Insurance! :) </p>
    <p>Have fun!</p>
    <p>The Rise of Midgard Team</p>
{% endblock %}
