{% extends 'AppBundle:Emails:layout.html.twig' %}

{% block email_content %}
    <p><strong>Thanks a lot for your order!</strong></p>
    <p>Your game account {{ gamelogin }} has been credited with {{ credits_given }} Cash Points.</p>
    <div style="border: 1px solid #000; padding: 15px">
        Payment Date: {{ payment_date }}<br>
        Transaction ID: {{ txn_id }}<br>
        Payment Instrument: Paypal<br>
        Payment Email: {{ payer_email }}<br>
        Country: {{ country }}<br>
        <br>
        Item: {{ credits_given }} Points<br>
        Quantity: 1<br>
        Price: ${{ gross }}<br>
        VAT Rate: 0%<br>
        Total VAT/Tax: $0<br>
        Total: ${{ gross }}<br>
        <br>
        <strong>Issued For:</strong><br>
        Game Account: {{ gamelogin }}<br>
        User Email: {{ user_email }}<br>
    </div>


    <p>You can move your points across your different accounts on the control panel <a href="{{ url('panel_index') }}">here</a>.</p>
    <p>If you run into any trouble please feel free to visit our <a href="http://support.riseofmidgard.com/">support page</a>.</p>
    <p>Thank you,</p>
    <p>The Rise of Midgard Team</p>
{% endblock %}
