Thanks a lot for your order!

Your game account {{ gamelogin }} has been credited with {{ credits_given }} Cash Points.

Payment Date: {{ payment_date }}
Transaction ID: {{ txn_id }}
Payment Instrument: Paypal
Payment Email: {{ payer_email }}
Country: {{ country }}

Item: {{ credits_given }} Points
Quantity: 1
Price: ${{ gross }}
VAT Rate: 0%
Total VAT/Tax: $0
Total: ${{ gross }}

Issued For:
Game Account: {{ gamelogin }}
User Email: {{ user_email }}

You can move your points across your different accounts on the control panel here ({{ url('panel_index') }}) .

If you run into any trouble please feel free to visit our support page (http://support.riseofmidgard.com/) .

Thank you,

The Rise of Midgard Team


Website Link (https://riseofmidgard.com)
Copyright &copy; 2016 Blazegames, All rights reserved.
