{% extends 'AppBundle:Emails:layout.html.twig' %}

{% block email_content %}
    <p><strong>Dear User,</strong></p>
    <p>Thank you so much for your order of {{ gross }} {{ currency }} on Rise of Midgard!</p>
    <p>However we're terribly sorry, but our hamster driven server requires a break. Please allow up to 24 hours for feeding time and for your points to be manually processed and appear in game.
        If you do not receive your points or another email after 24 hours, please contact us at support.</p>
    <div style="border: 1px solid #000; padding: 15px">
        Payment Date: {{ payment_date }}<br>
        Transaction ID: {{ txn_id }}<br>
        Payment Instrument: Paypal<br>
        Payment Email: {{ payer_email }}<br>
        Country: {{ country }}<br>
        <br>
        Item: {{ credits_given }} Points<br>
        Quantity: 1<br>
        Price: {{ gross }} {{ currency }}<br>
        VAT Rate: 0%<br>
        Total VAT: 0 {{ currency }}<br>
        Total: {{ gross }} {{ currency }}<br>
        <br>
        <strong>Issued For:</strong><br>
        Game Account: <br>
        User Email: <br>
    </div>

    <p>Thank you for your patience,</p>
    <p>The Rise of Midgard Team</p>
{% endblock %}
