Dear User,

Thank you so much for your order of {{ gross }} {{ currency }} on Rise of Midgard!

However we're terribly sorry, but our hamster driven server requires a break. Please allow up to 24 hours for feeding time and for your points to be manually processed and appear in game. If you do not receive your points or another email after 24 hours, please contact us at support.

Payment Date: {{ payment_date }}
Transaction ID: {{ txn_id }}
Payment Instrument: Paypal
Payment Email: {{ payer_email }}
Country: {{ country }}

Item: {{ credits_given }} Points
Quantity: 1
Price: {{ gross }} {{ currency }}
VAT Rate: 0%
Total VAT: 0 {{ currency }}
Total: {{ gross }} {{ currency }}

Issued For:
Game Account:
User Email:

Thank you for your patience,

The Rise of Midgard Team


Website Link (https://riseofmidgard.com)
Copyright &copy; 2016 Blazegames, All rights reserved.
