Hello!

Thank you a lot for registering on Rise of Midgard.
In order to validate your account and access the game, please click the link below:

{{ url('security_confirm_email', {'key': code}) }}

If you cannot click, please copy and paste the link in the address bar.

You can also request another code from the control panel ({{ url('panel_index') }}) in case you run into any trouble validating your account.

We wish you a great time on Rise of Midgard!


Website Link (https://riseofmidgard.com)
Copyright &copy; 2016 Blazegames, All rights reserved.
