{% extends 'AppBundle:Emails:layout.html.twig' %}

{% block email_content %}
    <p><strong>Hello!</strong></p>
    <p>
      Thank you a lot for registering on Rise of Midgard.<br>
      In order to validate your account and access the game, please click the link below:
    </p>
    <p><a href="{{ url('security_confirm_email', {'key': code}) }}">{{ url('security_confirm_email', {'key': code}) }}</a></p>

    <p>If you cannot click, please copy and paste the link in the address bar.</p>
    <p>You can also request another code from the <a href="{{ url('panel_index') }}">control panel</a> in case you run into any trouble validating your account.</p>
    <p>We wish you a great time on Rise of Midgard!</p>
{% endblock %}
