<html>
<head>
    <title></title>
</head>
<body style="background-color: #e0def0;padding:15px 0">
    <div style="width:600px;margin:0 auto;background-color:#FFF">
        <div style="margin-bottom:18px">
            <img align="center" alt="" src="https://marketing-image-production.s3.amazonaws.com/uploads/621c4fe64c92183ae30a97ec7c5ec90263eb6b478442266501262a8b24b9acb83a38017ce1413e6779b906db8a900abfcb3b733a640f0839f51822c8c0154c8d.png"
                 width="600"
                 style="max-width:1000px; padding-bottom: 0; display: inline !important; vertical-align: bottom;">
        </div>
        <div style="width:600px;padding: 0px 0px 9px;box-sizing:border-box;font-size:12px;line-height: 150%;font-family: &quot;Trebuchet MS&quot;, &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, &quot;Lucida Sans&quot;, Tahoma, sans-serif;">
            <div style="color: #53535A;text-align: left;width:564px;margin:0 auto">
                {% block email_content %}

                {% endblock %}
            </div>
            <div style="position:relative;width:95px;padding:10px;margin:0 auto;border-radius: 10px;background-color: #6B5B6D;box-sizing: border-box;text-align: center;">
                <a title="Website Link" href="https://riseofmidgard.com" target="_blank"
                   style="font-weight:normal;font-size:13px;letter-spacing:0px;line-height:100%;text-align:center;text-decoration:none;color: #FFFFFF;">Website Link</a>
            </div>
            <div style="padding: 35px 18px 9px 18px;color:#656565;font-family:Helvetica;text-align:center;">
                <em>Copyright &copy; 2016 Blazegames, All rights reserved.</em><br>
                {% block email_footer %}

                {% endblock %}
            </div>
        </div>
        <div>
            <img align="center" alt="" src="https://marketing-image-production.s3.amazonaws.com/uploads/7184ad7230c4b637c731b1adb783ebcdc0d71ed49e176bba2f944507b0b5b05835b107adfd47333f1f5e639ce7b9328fa0ed7075b65c5fdd607b47a306c9e3ec.png"
                 width="600"
                 style="max-width:1000px; padding-bottom: 0; display: inline !important; vertical-align: bottom;">
        </div>
    </div>
</body>
</html>
