{% extends 'AppBundle:Emails:layout.html.twig' %}

{% block email_content %}
    <p><strong>Dear User,</strong></p>
    <p>A password reset was requested for the Master Account attached to this email. In order to complete the reset, please click the link below:</p>
    <p><a href="{{ url('security_password_reset', {'key': code}) }}">{{ url('security_password_reset', {'key': code}) }}</a></p>
    <p>If you cannot click the link, please copy and paste the link into your navigation bar.</p>
    <p>We wish you a great time on Rise of Midgard!</p>
    <p>If you did not request this, please feel free to inform us via our <a href="http://support.riseofmidgard.com/">support page</a>.</p>
{% endblock %}
