Dear User,

A password reset was requested for the Master Account attached to this email. In order to complete the reset, please click the link below:

{{ url('security_password_reset', {'key': code}) }}

If you cannot click the link, please copy and paste the link into your navigation bar.

We wish you a great time on Rise of Midgard!

If you did not request this, please feel free to inform us via our support page (http://support.riseofmidgard.com/) .


Website Link (https://riseofmidgard.com)
Copyright &copy; 2016 Blazegames, All rights reserved.
