<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="{{ 'trans.page_description'|trans }}" />
    <link rel="canonical" href="https://riseofmidgard.com" />
    <title>{{ 'trans.page_title'|trans }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<!-- Theme style -->
	<link rel="stylesheet" href="{{ asset('bundles/app/admin/css/AdminLTE.min.css') }}">
	<link rel="stylesheet" href="{{ asset('bundles/app/admin/css/skin-yellow-light.min.css') }}" >

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- REQUIRED JS SCRIPTS -->

    <!-- AdminLTE App -->
    <script defer async src="{{ asset('bundles/app/admin/js/app.min.js') }}"></script>
    <script defer async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js" integrity="sha256-qE/6vdSYzQu9lgosKxhFplETvWvqAAlmAuR+yPh/0SI=" crossorigin="anonymous"></script>

    {% block extra_header_loading %}
    {% endblock %}
</head>

<body class="skin-yellow-light fixed">
	<div id="loading" class="loading" style="display:none"><div class="loading-wheel"></div></div>
	<style>
		.loading{width:100%;height:100%;position:fixed;z-index:9999;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.5)}
		.loading-wheel{width:20px;height:20px;margin-top:-40px;margin-left:-40px;position:absolute;top:50%;left:50%;border-width:30px;border-radius:50%;border-style:double;border-color:#ccc transparent;-webkit-animation:spin 1s linear infinite}
		@-webkit-keyframes spin {
			0%{-webkit-transform:rotate(0)}
			100%{-webkit-transform:rotate(-360deg)}
		}
		.char_row{background-color:rgba(0,18,70,0.5)}
		.character_list,.character_list>thead>tr>th,.character_list>tbody>tr>td{border:1px solid #ddd!important;border-spacing:1px;color:#000}
		.character_list th,.character_list td{padding:5px!important}
		.character_list a{color:#a9e2ff}
		.character_list a:hover{color:#72cfff}
	</style>
	<div class="wrapper">
		<!-- Main Header -->
		<header class="main-header">
			<!-- Logo -->
			<a href="{{ path('admin_index') }}" class="logo">
			  <!-- mini logo for sidebar mini 50x50 pixels -->
			  <span class="logo-mini"><b>Rise</b></span>
			  <!-- logo for regular state and mobile devices -->
			  <span class="logo-lg"><b>Rise</b> of Midgard</span>
			</a>
			
			<!-- Header Navbar -->
			<nav class="navbar navbar-static-top" role="navigation">
			  <!-- Sidebar toggle button-->
			  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle navigation</span>
			  </a>
			</nav>
		</header>
		
		<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				<!-- search form (Optional) -->
				<form action="{{ path("admin_search") }}" method="post" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="search" class="form-control" placeholder="{{ 'trans.admin.search_placeholder'|trans }}">
						<span class="input-group-btn">
							<button type="submit" name="submit" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
						</span>
					</div>
				</form>
				<!-- /.search form -->

				<!-- Sidebar Menu -->
				<ul class="sidebar-menu">
					<li class="header">{{ 'trans.admin.menu'|trans }}</li>
					<!-- Optionally, you can add icons to the links -->
					<li{% block home_active %} class="active" {% endblock %}><a href="{{ path("admin_index") }}"><i class="fa fa-home"></i> <span>{{ 'trans.admin.home'|trans }}</span></a></li>
					<li{% block staff_active %}{% endblock %}><a href="{{ path("admin_staff_list") }}"><i class="fa fa-users"></i> <span>{{ 'trans.admin.staff_information'|trans }}</span></a></li>
					<li{% block mvp_active %}{% endblock %}><a href="{{ path("admin_mvps") }}"><i class="fa fa-meh-o"></i> <span>{{ 'trans.admin.mvp.information'|trans }}</span></a></li>
					<li{% block economy_active %}{% endblock %}><a href="{{ path("admin_economy") }}"><i class="fa fa-money"></i> <span>{{ 'trans.admin.economy'|trans }}</span></a></li>
					<li{% block unconfirmed_active %}{% endblock %}><a href="{{ path("admin_unconfirmed_list") }}"><i class="fa fa-hourglass-o"></i> <span>{{ 'trans.admin.unconfirmed_accounts'|trans }}</span></a></li>
					{% if is_granted('ROLE_ADMIN') %}
					<li{% block donation_active %}{% endblock %}><a href="{{ path("admin_donations") }}"><i class="fa fa-paypal"></i> <span>{{ 'trans.admin.donations'|trans }}</span></a></li>
					{% endif %}
				</ul>
			<!-- /.sidebar-menu -->
			</section>
			<!-- /.sidebar -->
		</aside>
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
		<!-- Content Header (Page header) -->
			<section class="content-header">
				{% block page_header %}
				{% endblock %}
			</section>

			<!-- Main content -->
			<section class="content">
			{% block modals %}
			{% endblock %}
			{% block page_content %}
			<!-- Your Page Content Here -->
			{% endblock %}
			</section>
		<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Main Footer -->
		<footer class="main-footer">
		<!-- To the right -->
		<div class="pull-right hidden-xs">
		Rise of ZinZin
		</div>
		<!-- Default to the left -->
		<strong>Copyright &copy; 2016 <a href="{{ path('app_pages_index') }}">Rise of Midgard</a>.</strong> All rights reserved.
		</footer>
		</div>
	{% block javascripts_inline %}{% endblock %}
	<script>
		// Remove all form errors
		function clearAllErrors () {
			$('.glyphicon.form-control-feedback').each(function() {
				$(this).removeClass('glyphicon-ok');
				$(this).removeClass('glyphicon-remove');
			});

			$('.has-feedback').each(function() {
				$(this).removeClass('has-success');
				$(this).removeClass('has-error');
			});

			$('.errorStatus').each(function() {
				$(this).empty();
				$(this).css('display', 'none');
			});
		}
	</script>
<!-- ./wrapper -->
</body>
</html>
