<!-- One location to load datatables from -->

{% block extra_header_loading %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="//cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
    {# How to avoid god damn caching 101 #}
    <style>
        .dataTables_length,.dataTables_info{text-align:left!important;}
        .dataTables_length,.dataTables_filter{margin-bottom:15px!important;}
        .dataTables_info,.dataTables_paginate{margin-top:15px!important;}
    </style>
{% endblock %}
