<!DOCTYPE html>
{% block html_class %}<html lang="en">{% endblock %}

    <head>
        <title>{{ 'trans.page_title'|trans }}</title>
        <meta charset="utf-8">
        <meta name="robots" content="index, follow">
        <meta name="revisit-after" content="1 month">
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="canonical" href="https://riseofmidgard.com/" />
        <meta name="description" content="{{ 'trans.page_description'|trans }}" />
        <meta name="keywords" content="" />

        <!-- Twitter -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@riseofmidgard">
        <meta name="twitter:title" content="{{ 'trans.page_title'|trans }}">
        <meta name="twitter:creator" content="@riseofmidgard">
        <meta name="twitter:description" content="{{ 'trans.page_description'|trans }}">
        <meta name="twitter:image:src" content="{{ asset('bundles/app/img/ROM-OG-Logo.png') }}">

        <!-- Facebook -->
        <meta property="og:url" content="https://riseofmidgard.com">
        <meta property="og:site_name" content="{{ 'trans.page_title'|trans }}">
        <meta property="og:title" content="{{ 'trans.page_title'|trans }}">
        <meta property="og:description" content="{{ 'trans.page_description'|trans }}">
        <meta property="og:site_name" content="Rise of Midgard">
        <meta property="og:image" content="{{ absolute_url('bundles/app/img/ROM-OG-Logo.png') }}">
        <meta property="og:type" content="website">
        <!-- Google Plus -->
        <meta itemprop="name" content="{{ 'trans.page_title'|trans }}">
        <meta itemprop="description" content="{{ 'trans.page_description'|trans }}">
        <meta itemprop="image" content="{{ absolute_url('bundles/app/img/ROM-OG-Logo.png') }}">


        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('bundles/app/css/rom_style.v3.2.css') }}" />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script async defer src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>

        {% block extra_header_loading %}
        {% endblock %}
        {# Dev instant style testing {% include 'AppBundle::style.html.twig' %}#}

    </head>
    <body class="{% block body_class%}{% endblock %}">
        <div id="loading" class="loading" style="display:none"><div class="loading-wheel"></div></div>

        <div class="wrapper">
            {% block content %}
                {% if not app.user %}
                    {{ render(controller('AppBundle:Security:register', {'modal' : true})) }}
                    {{ render(controller('AppBundle:Security:login', {'modal' : true})) }}
                {% endif %}
                {% block modals %}
                {% endblock %}
                <div class="container-fluid">

                    {% block header %}
                        <nav id="navbar" class="nav_bar show">
                            <div class="container-fluid">
                                <div class="nav_header">
                                    <a class="nav_logo" href="/">
                                        <img class="logo_img" src="{{ asset('bundles/app/img/ROM-HOMEPAGE-Logo.png') }}" alt="{{ 'trans.menu.home'|trans }}" aria-label="{{ 'trans.menu.home'|trans }}"/>
                                    </a>
                                </div>
                                {% set menu = knp_menu_get('left', [], {include_homepage: false}) %}
                                {{ knp_menu_render(menu, {'template': 'AppBundle::knp_menu.html.twig'}) }}

                                {% set menu = knp_menu_get('right', [], {include_homepage: false}) %}
                                {{ knp_menu_render(menu, {'template': 'AppBundle::knp_menu.html.twig'}) }}
                            </div>
                        </nav>
                        {{ render(controller('AppBundle:Pages:status')) }}
                    {% endblock %}


                    {% block page_content %}
                    {% endblock %}
                </div>
            {% endblock %}
            <div class="push"></div>
        </div>
        {% block footer %}
            <footer>
                <div class="text-center">
                    <a href="{{ path('app_pages_terms') }}">{{ 'trans.terms_of_use'|trans }}</a> | <a href="{{ path('app_pages_privacy') }}">{{ 'trans.privacy_policy'|trans }}</a> | &copy; 2016-2017
                </div>
            </footer>
            <span id="top-link-block" class="hidden">
                <a href="#main" class="well well-sm text-muted" onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
                    <i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i> {{ 'trans.back_to_top'|trans }}
                </a>
            </span>
        {% endblock %}
        <script>
            // Remove all form errors
            function clearAllErrors () {
                $('.glyphicon.form-control-feedback').each(function() {
                    $(this).removeClass('glyphicon-ok');
                    $(this).removeClass('glyphicon-remove');
                });

                $('.has-feedback').each(function() {
                    $(this).removeClass('has-success');
                    $(this).removeClass('has-error');
                });

                $('.errorStatus').each(function() {
                    $(this).empty();
                    $(this).css('display', 'none');
                });
            }

            window.cookieconsent_options = {
                message: '{{ 'trans.cookie_message'|trans }}',
                learnMore: '{{ 'trans.cookie_info'|trans }}',
                dismiss: '{{ 'trans.cookie_dismiss'|trans }}',
                domain: 'riseofmidgard.com',
                link: '{{ path('app_pages_privacy') }}',
                target: '_blank',
                theme: 'light-floating'
            };

            $('.modal').on('hidden.bs.modal', function(){
                $(this).find("input,textarea,select").val('').end();
            });

            $('#loading').hide();
            $(window).load(function(){
                {% if not app.user %}
                if(location.hash == "#register")
                    $('#register').modal('show');
                else if(location.hash.indexOf("#register/") >= 0) {
                    $('#register').modal('show');
					$('#user_registration_form_referralCode').val(location.hash.split('/')[1]);
				}
                if(location.hash == "#login")
                    $('#login').modal('show');
                {% endif %}

                if ( ($(window).height() + 100) < $(document).height() ) {
                    $('#top-link-block').removeClass('hidden').affix({
                        offset: {top:100}
                    });
                }
            });
        </script>
        {% block javascripts_inline %}{% endblock %}
    </body>
</html>
