<section class="main_content" id="main">
    <div class="container">
        We're currently in maintenance mode! Join us on <a href="https://discord.gg/0gkIznhqiWTCU89X">Discord</a> while you wait!
    </div>
</section>
