{# Fucking cached css #}

{% block style %}
	<style>

        html,body{height:100%}
        .wrapper{min-height:100%;margin:0 auto -30px}
        footer,.push{height:30px}
        .bg{background:transparent url({{ asset("bundles/app/img/rom-teaser-background-controlpanel.png") }}) no-repeat center center fixed}
        body{position:relative;font-family:"AlegreyaSans";color:#475F77;background-color:transparent}
        input[type="text"],input[type="password"],input[type="email"],select{font-family:Arial}
        a:hover{cursor:pointer;text-decoration:none}
        .nav_bar{position:fixed;top:0;z-index:1030;width:100%;min-width:500px;min-height:50px;margin-bottom:20px;-webkit-transition:all .6s ease-out;-moz-transition:all .6s ease-out;-o-transition:all .6s ease-out;-ms-transition:all .6s ease-out;transition:all .6s ease-out}
        .container-fluid{padding-right:0;padding-left:0}
        .row{margin-left:0;margin-right:0}
        .nav_header{position:absolute;top:0;left:0;right:0;margin:0 auto;text-align:left}
        .nav_logo{color:#9d9d9d;padding:15px;font-size:18px;line-height:20px;opacity:0;-webkit-transition:opacity .6s ease-in-out;-moz-transition:opacity .6s ease-in-out;-o-transition:opacity .6s ease-in-out;transition:opacity .6s ease-in-out}
        .nav_ul{float:right!important;margin:0;padding-left:0;list-style:none}
        .nav_ul>li{float:left;position:relative;display:block}
        .nav_ul>li>a{padding:0 25px;line-height:50px;position:relative;display:block;color:#FFF;text-decoration:none;font-size:20px;font-style:italic;text-shadow:0 0 4px rgba(69,96,115,1),0 0 4px rgba(69,96,115,0.9),0 0 4px rgba(69,96,115,0.9)}
        .nav_ul>li>a:focus,.nav_ul>li>a:hover{text-decoration:none;background-color:transparent;text-shadow:0 0 10px rgba(69,96,115,1),0 0 10px rgba(69,96,115,0.9),0 0 10px rgba(69,96,115,0.9)}
        .nav_ul>.dropdown>.dropdown-toggle:after{font-size:15px;width:13px;position:relative;top:1px;padding-left:5px;display:inline-block;font-family:'FontAwesome';font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;content:'\f0d7'}
        .caret{display:none}
        .show{background-color:#455F73}
        .show .nav_logo{opacity:1}
        .show .nav_ul>li>a{text-shadow:none}
        .show .nav_ul>li>a:focus,.show .nav_ul>li>a:hover{text-shadow:0 0 10px rgba(255,255,255,0.3),0 0 10px rgba(255,255,255,0.3),0 0 10px rgba(255,255,255,0.3)}
        #volume{position:absolute;top:-9999px;left:-9999px}
        #volume:checked + a > label > i:before{content:"\f028"}
        #volume:not(:checked) + a > label > i:before{content:"\f026"}
        .logo{text-align:center}
        .full{width:100%;height:100vh;min-width:1250px;background:transparent url({{ asset("bundles/app/img/rom-teaser-background-s-2.png") }}) no-repeat center center}
        .main_content{padding-top:10vh;min-width:1250px}
        .main_link{margin:0 auto;text-align:center;margin-top:55px}
        .mbYTP_wrapper{filter:sepia() hue-rotate(180deg);overflow-y:hidden!important;width:100%;min-width:1250px!important;min-height:100vh!important}
        .playerBox{margin-left:0!important;width:100%!important}
        .sign_up_link{display:inline-block;position:relative}
        .reddit_link{display:inline-block;position:relative}
        .sign_up_link::before,.reddit_link::before{content:" ";width:274px;height:275px;margin-left:3px;margin-top:3px;z-index:1;position:absolute;border-radius:50%;background-color:rgba(255,255,255,0.45);transform:scale(0,0);-webkit-transition:all 1s;-moz-transition:all 1s;-o-transition:all 1s;transition:all 1s}
        .sign_up_link:hover::before,.reddit_link:hover::before{transform:scale(1,1)}
        .sign_up_img,.reddit_img{z-index:2;position:relative}
        .explore{position:absolute;bottom:0;left:0;right:0;text-align:center;text-decoration:none}
        .explore_link{position:relative;display:block;width:200px;height:112px;margin:0 auto;background:transparent url({{ asset("bundles/app/img/rom-teaser-button-explore-s.png") }})}
        .explore_link::after{content:" ";position:absolute;top:0;left:0;width:100%;height:100%;background:transparent url({{ asset("bundles/app/img/rom-teaser-button-explore-s-hover.png") }});opacity:0;-webkit-transition:opacity .6s ease-in-out;-moz-transition:opacity .6s ease-in-out;-o-transition:opacity .6s ease-in-out;transition:opacity .6s ease-in-out}
        .explore_link:hover::after{opacity:1}
        @media(max-width: 1440px) {
            .logo_img{width:130px;height:98px}
            .sign_up_img,.reddit_img{width:224px;height:225px}
            .sign_up_link::before,.reddit_link::before{width:218px;height:219px;}
        }
        .tag{height:35px;min-width:1250px;background-color:#456073;box-shadow:0 0 5px #456073;text-align:center;color:#fff;font-size:20px;font-style:italic;line-height:35px}
        .tag img{height:100%;width:auto}
        .pre_descript {width:100%;height:135px;background:transparent url({{ asset("bundles/app/img/rom-teaser-background-bottom.png") }}) no-repeat center center;margin-bottom:-100px}
        .about_section{min-width:1250px}
        .descripts{width:1250px}
        .descript{padding-left:0;padding-right:100px;position:relative;text-shadow:0 1px 1px #c8d4be}
        .descript::before{content:" ";width:75px;height:100px;position:absolute;left:-87.5px;top:75px}
        .descript_title{text-align:center}
        .social::before{background:url({{ asset("bundles/app/img/rom-teaser-img-social.png") }}) no-repeat center center}
        .innovative::before{background:url({{ asset("bundles/app/img/rom-teaser-img-innovative.png") }}) no-repeat center center}
        .competitive::before{background:url({{ asset("bundles/app/img/rom-teaser-img-competitive.png") }}) no-repeat center center}
        h4{font-style:italic;padding:10px 0}
        .sep{background-color:#8BB8B1;width:100%;height:1px;box-shadow:0 0 5px hsla(171,24%,45%,1);margin:10px 0 20px}
        .join_section{padding:50px 0;min-width:1250px}
        #top-link-block.affix{position:fixed;bottom:18px;right:10px}
        .loading{width:100%;height:100%;position:fixed;z-index:9999;top:0;right:0;bottom:0;left:0;background-color:rgba(0,0,0,.5)}
        .loading-wheel{width:20px;height:20px;margin-top:-40px;margin-left:-40px;position:absolute;top:50%;left:50%;border-width:30px;border-radius:50%;border-style:double;border-color:#ccc transparent;-webkit-animation:spin 1s linear infinite}
        @-webkit-keyframes spin {
            0%{-webkit-transform:rotate(0)}
            100%{-webkit-transform:rotate(-360deg)}
        }
        .table{margin:0 auto;background-color:rgba(0,18,70,0.5);color:#eee}
        .table>tbody>tr{background-color:#f9f9f9}
        .table>tbody>tr>td{color:#000}
        .table-bordered,.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{border-color:#001146}
        tbody tr th,tbody tr td{text-align:center;vertical-align:middle!important}
        .details-control{cursor:pointer}
        .pagination>li>a,.pagination>li>span{color:#fff;background-color:rgba(0,17,70,0.5);border-color:#001146}
        .pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{color:#fff;background-color:rgba(0,17,70,0.7);border-color:#001146}
        .pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{color:#fff;background-color:rgba(0,17,70,0.7);border-color:#001146}
        .char_row{background-color:rgba(0,18,70,0.5)}
        .character_list,.character_list>thead>tr>th,.character_list>tbody>tr>td{border:1px solid #ddd!important;border-spacing:1px;color:#FFF}
        .character_list th,.character_list td{padding:5px!important}
        .character_list a{color:#a9e2ff}
        .character_list a:hover{color:#72cfff}
        .bg .main_content{color:#455f73;font-size:15px}
        .singular_form{width:450px;margin:0 auto}
        .vending_button {width:40%;margin:0 auto;margin-bottom:25px}
        .panel_user{text-align:center;padding-bottom:25px}
        .panel_buttons {width:90%;margin:0 auto;margin-bottom:25px}
        .btn_rom {color:#fff!important;background-color:rgba(0,18,70,0.5);border-color:#001146}
        .btn_rom.active,.btn_rom:active,.btn_rom:hover{color:#fff;background-color:rgba(0,18,70,0.7);border-color:#001146}
	</style>
{% endblock %}
