{% extends 'AppBundle::admin_layout.html.twig' %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block home_active %}{% endblock %}
{% block donation_active %} class="active" {% endblock %}

{% block page_header %}
    <h1>
        {{ 'trans.admin.donations'|trans }}
    </h1>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.donation_failed'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="failed_list-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.logs.id'|trans }}</th>
                            <th>{{ 'trans.logs.date'|trans }}</th>
                            <th>{{ 'trans.logs.transaction_id'|trans }}</th>
                            <th>{{ 'trans.logs.amount'|trans }}</th>
                            <th>{{ 'trans.logs.message'|trans }}</th>
                            <th>{{ 'trans.game_account.id'|trans }}</th>
                            <th>{{ 'trans.admin.master_id'|trans }}</th>
                            <th>{{ 'trans.admin.payer_email'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.donation_complete'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="complete_list-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.logs.id'|trans }}</th>
                            <th>{{ 'trans.logs.date'|trans }}</th>
                            <th>{{ 'trans.logs.transaction_id'|trans }}</th>
                            <th>{{ 'trans.logs.amount'|trans }}</th>
                            <th>{{ 'trans.logs.message'|trans }}</th>
                            <th>{{ 'trans.game_account.id'|trans }}</th>
                            <th>{{ 'trans.admin.master_id'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_inline %}
    <script>
        $('#failed_list-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ failed|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 10,
            "pagingType": "numbers",
            "autoWidth": true,
            "language": {
                "zeroRecords": "{{ 'trans.admin.no_donation_fails'|trans }}"
            },
            "columns":[
                {"data": "id"},
                {"data": "date"},
                {"data": "txn_id"},
                {"data": "amount"},
                {"data": "message"},
                {"data": "account_id"},
                {"data": "master_id",
                    "render": function (data, type, full, meta) {
                        if(full.master_id)
                            return "<a href='{{ asset("/admin/user") }}/"+full.master_id+"' target='_blank'>"+full.master_id+"</a>";
                        else
                            return "";
                    }},
                {"data": "payer_email"}
            ],
            "order": [0, 'desc']
        });
        $('#complete_list-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ complete|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 10,
            "pagingType": "numbers",
            "autoWidth": true,
            "language": {
                "zeroRecords": "{{ 'trans.admin.no_donation_complete'|trans }}"
            },
            "columns":[
                {"data": "id"},
                {"data": "date"},
                {"data": "txn_id"},
                {"data": "amount"},
                {"data": "message"},
                {"data": "account_id"},
                {"data": "master_id",
                    "render": function (data, type, full, meta) {
                        if(full.master_id)
                            return "<a href='{{ asset("/admin/user") }}/"+full.master_id+"' target='_blank'>"+full.master_id+"</a>";
                        else
                            return "";
                    }}
            ],
            "order": [0, 'desc']
        });
    </script>
{% endblock %}
