{% extends 'AppBundle::admin_layout.html.twig' %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block home_active %}{% endblock %}
{% block economy_active %} class="active" {% endblock %}

{% block page_header %}
    <h1>
        {{ 'trans.admin.economy'|trans }}
    </h1>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.eco.top_zeny'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="top_zeny_list-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.admin.eco.amount'|trans }}</th>
                            <th>{{ 'trans.admin.master_id'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.eco.top_points'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="top_points_list-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.admin.eco.amount'|trans }}</th>
                            <th>{{ 'trans.admin.master_id'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts_inline %}
    <script>
        $('#top_zeny_list-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ top_zeny|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "bFilter": false,
            "pageLength": 20,
            "bPaginate": false,
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.admin.mvp.no_mvp_cards'|trans }}"
            },
            "columns":[
                {"data": "amount"},
                {"data": "master_id",
                    "render": function (data, type, full, meta) {
                        if(full.master_id)
                            return "<a href='{{ asset("/admin/user") }}/"+full.master_id+"' target='_blank'>"+full.master_id+"</a>";
                        else
                            return "";
                    }}
            ],
            "order": [0, 'desc']
        });
        $('#top_points_list-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ top_points|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "bFilter": false,
            "pageLength": 10,
            "bPaginate": false,
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.admin.mvp.no_mvps_killed'|trans }}"
            },
            "columns":[
                {"data": "amount"},
                {"data": "master_id",
                    "render": function (data, type, full, meta) {
                        if(full.master_id)
                            return "<a href='{{ asset("/admin/user") }}/"+full.master_id+"' target='_blank'>"+full.master_id+"</a>";
                        else
                            return "";
                    }}
            ],
            "order": [0, 'desc']
        });
    </script>
{% endblock %}
