{% extends 'AppBundle::admin_layout.html.twig' %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block page_header %}
    <h1>
        General Statistics
        <small>Because Zinzin has a boner for numbers</small>
    </h1>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="info-box bg-orange">
            <span class="info-box-icon"><i class="fa fa-user-circle"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{ 'trans.admin.online_accounts'|trans }}</span>
                <span class="info-box-number">{{ current_players }}</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                  {{ biweekly_active_users }} {{ 'trans.admin.weekly_active_users'|trans }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="info-box bg-orange">
            <span class="info-box-icon"><i class="fa fa-users"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{ 'trans.admin.total_master_accounts'|trans }}</span>
                <span class="info-box-number">{{ total_master_accounts }}</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                  {{ avg_game_per_master }} {{ 'trans.admin.avg_game_per_master'|trans }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="info-box bg-orange">
            <span class="info-box-icon"><i class="fa fa-pencil"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{ 'trans.admin.daily_registrations'|trans }}</span>
                <span class="info-box-number">{{ registrations_day }}</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                  {{ registrations_week }} {{ 'trans.admin.weekly_registrations'|trans }}
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="info-box bg-orange">
            <span class="info-box-icon"><i class="fa fa-money"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{ 'trans.admin.active_zeny'|trans }}</span>
                <span class="info-box-number">{{ active_zeny }}</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                  {{ zeny_earned }} {{ 'trans.admin.zeny_earned'|trans }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="info-box bg-orange">
            <span class="info-box-icon"><i class="fa fa-star"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{ 'trans.admin.active_points'|trans }}</span>
                <span class="info-box-number">{{ active_points }}</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                  {{ points_spent }} {{ 'trans.admin.points_spent'|trans }}
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="info-box bg-orange">
            <span class="info-box-icon"><i class="fa fa-times"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">{{ 'trans.admin.total_banned_users'|trans }}</span>
                <span class="info-box-number">{{ total_banned }}</span>
                <div class="progress">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
                <span class="progress-description">
                  {{ weekly_bans }} {{ 'trans.admin.weekly_banned'|trans }}
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'trans.admin.demographics'|trans }}</h3>
            </div>
            <div class="box-body">
                <table id="demographic-table" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'trans.admin.country'|trans }}</th>
                        <th>{{ 'trans.admin.player_count'|trans }}</th>
                    </tr>
                    <thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts_inline %}
<script>
    $('#demographic-table').DataTable( {
        "processing": true,
        "ajax": function (data, callback, settings) {
            callback(
                    jQuery.parseJSON( '{{ demographic_list|raw }}' )
            );
        },
        "sAjaxDataProp": "data",
        "sScrollX": "100%",
        "sScrollXInner": "100%",
        "bLengthChange": false,
        "pageLength": 10,
        "pagingType": "numbers",
        "autoWidth": false,
        "language": {
            "zeroRecords": "{{ 'trans.admin.no_demographics'|trans }}"
        },
        "columns":[
            {"data": "country"},
            {"data": "cnt"}
        ],
        "order": [ 1, "desc" ],
    });
</script>
{% endblock %}
