{% extends 'AppBundle::admin_layout.html.twig' %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block page_header %}
    <h1>
        {{ 'trans.admin.viewing_user'|trans }} {{ master_account.masterId }}
        {% if master_account.state is constant('AppBundle\\Controller\\ENUM\\Gamestate::MASTER_BAN') %}<i style="color:red">{{ 'trans.admin.banned'|trans }}</i>{% endif %}
    </h1>
{% endblock %}
{% block modals %}
    {{ render(controller('AppBundle:Admin:banUser', {'modal' : true})) }}
    {{ render(controller('AppBundle:Admin:unbanUser', {'modal' : true})) }}
    {{ render(controller('AppBundle:Admin:banGameAccount', {'modal' : true})) }}
    {{ render(controller('AppBundle:Admin:unbanGameAccount', {'modal' : true})) }}
    {{ render(controller('AppBundle:Admin:rewardGameAccount', {'modal' : true})) }}
    {% if unconfirmed == true %}
        {{ render(controller('AppBundle:Security:adminConfirmUser', {'modal' : true})) }}
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        {{ render(controller('AppBundle:Security:editStaff', {'modal' : true})) }}
        {{ render(controller('AppBundle:Security:adminEdit', {'id' : master_account.masterId, 'modal' : true})) }}
        {{ render(controller('AppBundle:Admin:updatePoints', {'modal' : true})) }}
        {{ render(controller('AppBundle:Admin:moveGameAccount', {'modal' : true})) }}
    {% endif %}
{% endblock %}
{% block page_content %}
    {# Users Full Account Actions #}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.account_information'|trans }}</h3>
                </div>
                <div class="box-body">
                    <div>
                        {{ 'trans.admin.user_email'|trans }} : {{ master_account.email }} {% if master_account.state is constant('AppBundle\\Controller\\ENUM\\Gamestate::EMAIL_UNCONFIRMED') %}<i>unconfirmed</i>{% endif %}
                    </div>
                    <div>{{ 'trans.form.birthdate'|trans }} (YY-MM-DD) : {{ master_account.birthdate|date("y-m-d") }}</div>
                    <div>{{ 'trans.admin.money_spent'|trans }} : ${{ master_account.moneySpent }}</div>
                    <div>{{ 'trans.form.country'|trans }} : {{ master_account.countryName }}</div>
                    <div>{{ 'trans.admin.total_points_received'|trans }} : {{ received_points }}</div>
                    <div>{{ 'trans.admin.total_points_pending'|trans }} : {{ pending_points }}</div>
                    <div>
                        {% if master_account.state is constant('AppBundle\\Controller\\ENUM\\Gamestate::MASTER_BAN') %}
                            <a href='#' class='btn btn-danger' onclick='event.preventDefault();unbanUser({{ master_account.masterId }});'><i class="fa fa-unlock"></i> {{ 'trans.admin.unban_master_account'|trans }}</a>
                        {% else %}
                            <a href='#' class='btn btn-danger' onclick='event.preventDefault();banUser({{ master_account.masterId }});'><i class="fa fa-lock"></i> {{ 'trans.admin.ban_master_account'|trans }}</a>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') %}
                            {% if isStaff == true %}
                                <a href='#' class='btn btn-danger' onclick='event.preventDefault();editStaff({{ master_account.masterId }},"R");'><i class="fa fa-user-times"></i> Remove From Staff</a>
                            {% elseif allowRemove == true %}
                                <a href='#' class='btn btn-danger' onclick='event.preventDefault();editStaff({{ master_account.masterId }},"A");'><i class="fa fa-user-plus"></i> Make Staff</a>
                            {% endif %}
                            <a href='#' class='btn btn-success' onclick='event.preventDefault();editUser();'><i class="fa fa-gear"></i> Edit User</a>
                        {% endif %}
                        {% if unconfirmed == true %}
                            <a href='#' class='btn btn-danger' onclick='event.preventDefault();confirmUser({{ master_account.masterId }});'>{{ 'trans.admin.confirm_user'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Users Account List #}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.user_game_accounts'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="user_gameaccounts-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>{{ 'trans.game_account.id'|trans }}</th>
                                <th>{{ 'trans.game_account.userid'|trans }}</th>
                                <th>{{ 'trans.game_account.points'|trans }}</th>
                                <th>{{ 'trans.game_account.pending_points'|trans }}</th>
                                <th>{{ 'trans.game_account.zeny'|trans }}</th>
                                <th>{{ 'trans.game_account.last_login'|trans }}</th>
                                <th>{{ 'trans.game_account.last_ip'|trans }}</th>
                                <th>{{ 'trans.game_account.status'|trans }}</th>
                            </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# Users Punishment Information #}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.logs.gm_action_log'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="user_bans-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>{{ 'trans.logs.date'|trans }}</th>
                                <th>{{ 'trans.logs.gm'|trans }}</th>
                                <th>{{ 'trans.logs.character'|trans }}</th>
                                <th>{{ 'trans.logs.command'|trans }}</th>
                            </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.logs.gm_web_log'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="user_web_bans-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.logs.date'|trans }}</th>
                            <th>{{ 'trans.logs.gm'|trans }}</th>
                            <th>{{ 'trans.logs.action'|trans }}</th>
                            <th>{{ 'trans.logs.reason'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_inline %}
    <script>
        var table = $('#user_gameaccounts-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ gameaccounts|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 15,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.errors.no_game_accounts_found'|trans }}"
            },
            "columns":[
                {"data": "account_id"},
                {"data": "userid",
                    "className": 'details-control',
                    "render": function (data, type, full, meta) {
                        return '<b>'+full.userid + '</b><br/><span style="font-size:10px">(Click to see characters)</span>';
                    }},
                {"data": "cashpoints"},
                {"data": "pending_points"},
                {"data": "zeny"},
                {"data": "last_login"},
                {"data": "last_ip"},
                {"data": "userid",
                    "render": function ( data, type, full, meta ) {
                        {% if master_account.state is constant('AppBundle\\Controller\\ENUM\\Gamestate::MASTER_BAN') %}
                        return "{{ 'trans.admin.user_master_banned'|trans }}";
                        {% else %}
                        var msg = "";
                        if (full.banned) {
                            msg = "{{ 'trans.game_account.banned'|trans }} <a href='#' class='btn btn-danger' onclick='event.preventDefault();unbanGameAccount("+full.account_id+");'><i class='fa fa-unlock'></i> {{ 'trans.admin.unban_game_account'|trans }}</a>";
                        } else if (full.locked) {
                            msg = "{{ 'trans.game_account.locked'|trans }} <a href='#' class='btn btn-danger' onclick='event.preventDefault();banGameAccount("+full.account_id+");'><i class='fa fa-lock'></i> {{ 'trans.admin.ban_game_account'|trans }}</a>"
                        } else {
                            msg = "<a href='#' class='btn btn-danger' onclick='event.preventDefault();banGameAccount("+full.account_id+");'><i class='fa fa-lock'></i> {{ 'trans.admin.ban_game_account'|trans }}</a>";
                            msg += " <a href='#' class='btn btn-info' onclick='event.preventDefault();rewardGameAccount("+full.account_id+");'><i class='fa fa-star'></i> {{ 'trans.admin.reward_gameaccount'|trans }}</a>";
                            {% if is_granted('ROLE_ADMIN') %}
                                msg += " <a href='#' class='btn btn-info' onclick='event.preventDefault();updatePoints("+full.account_id+");'><i class='fa fa-money'></i> {{ 'trans.admin.update_points'|trans }}</a>";
                                msg += " <a href='#' class='btn btn-warning' onclick='event.preventDefault();moveGameAccount("+full.account_id+");'><i class='fa fa-refresh'></i> {{ 'trans.admin.move_game_account'|trans }}</a>";
                            {% endif %}

                        }
                        return msg;
                        {% endif %}
                    }
                }
            ],
            "order": [ 0, "asc" ],
        });

        /* Formatting function for row details */
        function format ( d ) {
            // `d` is the original data object for the row
            var ret = '<table class="character_list" cellpadding="10" cellspacing="5" border="1" style="width:100%;padding-left:50px;text-align:center;">'+
                    '<thead>'+
                    '<tr>'+
                    '<th>{{ 'trans.character.name'|trans }}</th>'+
                    '<th>{{ 'trans.character.class'|trans }}</th>'+
                    '<th>{{ 'trans.character.gender'|trans }}</th>'+
                    '<th>{{ 'trans.character.guild'|trans }}</th>'+
                    '<th>{{ 'trans.character.base_level'|trans }}</th>'+
                    '<th>{{ 'trans.character.job_level'|trans }}</th>'+
                    '<th>{{ 'trans.character.online'|trans }}</th>'+
                    '<th>{{ 'trans.character.location'|trans }}</th>'+
                    '<th>{{ 'trans.character.save_point'|trans }}</th>'+
                    '</tr>'+
                    '</thead>'+
                    '<tbody>';

            for (var i = 0; i < d.chars.length; i++) {
                ret = ret + '<tr>'+
                        '<td>'+d.chars[i].name+'</td>'+
                        '<td>'+d.chars[i].class+'</td>'+
                        '<td>'+d.chars[i].sex+'</td>'+
                        '<td>'+d.chars[i].guild+'</td>'+
                        '<td>'+d.chars[i].base_level+'</td>'+
                        '<td>'+d.chars[i].job_level+'</td>'+
                        '<td>'+(d.chars[i].online == 1? 'Online' : 'Offline')+'</td>'+
                        '<td>'+d.chars[i].location+'</td>'+
                        '<td>'+d.chars[i].savepoint+'</td>'+
                        '</tr>';
            }

            ret = ret +	'</tbody>'+
                    '</table>';

            return ret;
        }

        // Add event listener for opening and closing details
        $('#user_gameaccounts-table tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = table.row( tr );

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        } );
        $('#user_bans-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ punish_logs|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 15,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.logs.no_gm_logs'|trans }}"
            },
            "columns":[
                {"data": "date"},
                {"data": "gm"},
                {"data": "char_name"},
                {"data": "command"}
            ],
            "order": [ 0, "desc" ],
        });
        $('#user_web_bans-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ web_logs|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 15,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.logs.no_gm_logs'|trans }}"
            },
            "columns":[
                {"data": "date"},
                {
                    "data": "gm",
                    "render": function (data, type, full, meta) {
                        if(full.gm == 0) return "System";
                        else return "<a href='{{ asset("/admin/user") }}/"+full.gm+"' target='_blank'>"+full.gm+"</a>";
                    }
                },
                {"data": "type"},
                {"data": "reason"}
            ],
            "order": [ 0, "desc" ],
        });
    </script>
{% endblock %}
