{% extends 'AppBundle::admin_layout.html.twig' %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block home_active %}{% endblock %}
{% block mvp_active %} class="active" {% endblock %}

{% block page_header %}
    <h1>
        {{ 'trans.admin.mvp.information'|trans }}
    </h1>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.mvp.card_list'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="mvp_card_list-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.admin.mvp.item'|trans }}</th>
                            <th>{{ 'trans.admin.mvp.card0'|trans }}</th>
                            <th>{{ 'trans.admin.mvp.card1'|trans }}</th>
                            <th>{{ 'trans.admin.mvp.card2'|trans }}</th>
                            <th>{{ 'trans.admin.mvp.card3'|trans }}</th>
                            <th>{{ 'trans.admin.master_id'|trans }}</th>
                            <th>{{ 'trans.character.name'|trans }}</th>
                            <th>{{ 'trans.character.guild'|trans }}</th>
                            <th>{{ 'trans.admin.mvp.location'|trans }}</th>
                            <th>{{ 'trans.admin.mvp.count'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.mvp.total_killed'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="mvps_killed_list-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.admin.mvp.killed'|trans }}</th>
                            <th>{{ 'trans.admin.mvp.item'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.mvp.top_killers'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="mvp_killer_list-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.admin.mvp.killed'|trans }}</th>
                            <th>{{ 'trans.character.name'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts_inline %}
    <script>
        $('#mvp_card_list-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ mvp_cards|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 10,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.admin.mvp.no_mvp_cards'|trans }}"
            },
            "columns":[
                {"data": "item"},
                {"data": "card0"},
                {"data": "card1"},
                {"data": "card2"},
                {"data": "card3"},
                {"data": "master_id",
                    "render": function (data, type, full, meta) {
                        if(full.master_id)
                            return "<a href='{{ asset("/admin/user") }}/"+full.master_id+"' target='_blank'>"+full.master_id+"</a>";
                        else
                            return "";
                    }},
                {"data": "char_name"},
                {"data": "guild"},
                {"data": "location"},
                {"data": "count"}
            ]
        });
        $('#mvps_killed_list-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ mvps_killed|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 10,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.admin.mvp.no_mvps_killed'|trans }}"
            },
            "columns":[
                {"data": "count"},
                {"data": "kName"}
            ],
            "order": [0,'desc']
        });
        $('#mvp_killer_list-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ mvp_killers|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 10,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.admin.mvp.no_mvp_killers'|trans }}"
            },
            "columns":[
                {"data": "count"},
                {"data": "name",
                    "render": function (data, type, full, meta) {
                        if(full.master_id)
                            return "<a href='{{ asset("/admin/user") }}/"+full.master_id+"' target='_blank'>"+full.name+"</a>";
                        else
                            return "";
                    }}
            ],
            "order": [0,'desc']
        });
    </script>
{% endblock %}
