{% extends 'AppBundle::admin_layout.html.twig' %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block page_header %}
    <h1>
        {{ 'trans.admin.searching'|trans }} {{ search }}
    </h1>
{% endblock %}

{% block page_content %}
    {# Users Search #}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.search_users'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="users-table" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>{{ 'trans.admin.master_id'|trans }}</th>
                                <th>{{ 'trans.admin.user_email'|trans }}</th>
                            </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# Game Accounts Search #}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.search_game_accounts'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="gameaccounts-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.admin.master_id'|trans }}</th>
                            <th>{{ 'trans.game_account.id'|trans }}</th>
                            <th>{{ 'trans.game_account.userid'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# Characters Search #}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.search_characters'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="characters-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.admin.master_id'|trans }}</th>
                            <th>{{ 'trans.game_account.id'|trans }}</th>
                            <th>{{ 'trans.character.id'|trans }}</th>
                            <th>{{ 'trans.character.name'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts_inline %}
    <script>
        $('#users-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ user_list|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 15,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.errors.no_users_found'|trans }}"
            },
            "columns":[
                {"data": "masterId",
                    "render": function (data, type, full, meta) {
                        return "<a href='{{ asset("/admin/user") }}/"+full.masterId+"' target='_blank'>"+full.masterId+"</a>";
                    }
                },
                {"data": "email"}
            ]
        });
        $('#gameaccounts-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ gameaccount_list|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 15,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.errors.no_game_accounts_found'|trans }}"
            },
            "columns":[
                {"data": "masterId",
                    "render": function (data, type, full, meta) {
                        return "<a href='{{ asset("/admin/user") }}/"+full.masterId+"' target='_blank'>"+full.masterId+"</a>";
                    }
                },
                {"data": "accountId"},
                {"data": "userid"}
            ]
        });
        $('#characters-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ character_list|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 15,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.errors.no_characters_found'|trans }}"
            },
            "columns":[
                {"data": "masterId",
                    "render": function (data, type, full, meta) {
                        return "<a href='{{ asset("/admin/user") }}/"+full.masterId+"' target='_blank'>"+full.masterId+"</a>";
                    }
                },
                {"data": "accountId"},
                {"data": "charId"},
                {"data": "name"}
            ]
        });
    </script>
{% endblock %}
