{% extends 'AppBundle::admin_layout.html.twig' %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block home_active %}{% endblock %}
{% block staff_active %} class="active" {% endblock %}

{% block page_header %}
    <h1>
        {{ 'trans.admin.staff_information'|trans }}
    </h1>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.admin.staff_list'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="staff_list-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.admin.master_id'|trans }}</th>
                            <th>{{ 'trans.admin.staff_email'|trans }}</th>
                            <th>{{ 'trans.admin.staff_roles'|trans }}</th>
                            <th>{{ 'trans.game_account.last_ip'|trans }}</th>
                            <th>{{ 'trans.game_account.last_login'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {# Users Punishment Information #}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.logs.gm_action_log'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="user_bans-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.logs.date'|trans }}</th>
                            <th>{{ 'trans.logs.gm'|trans }}</th>
                            <th>{{ 'trans.character.name'|trans }}</th>
                            <th>{{ 'trans.logs.command'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ 'trans.logs.gm_web_log'|trans }}</h3>
                </div>
                <div class="box-body">
                    <table id="user_web_bans-table" class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>{{ 'trans.logs.date'|trans }}</th>
                            <th>{{ 'trans.logs.gm'|trans }}</th>
                            <th>{{ 'trans.logs.user'|trans }}</th>
                            <th>{{ 'trans.logs.action'|trans }}</th>
                            <th>{{ 'trans.logs.reason'|trans }}</th>
                        </tr>
                        <thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_inline %}
    <script>
        $('#staff_list-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ staff_list|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 15,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.errors.no_staff'|trans }}"
            },
            "columns":[
                {"data": "masterId",
                    "render": function (data, type, full, meta) {
                        return "<a href='{{ asset("/admin/user") }}/"+full.masterId+"' target='_blank'>"+full.masterId+"</a>";
                    }},
                {"data": "email"},
                {"data": "roles"},
                {"data": "lastIp"},
                {"data": "lastLogin.date"}
            ],
            "order": [0,'asc']
        });

        $('#user_bans-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ punish_logs|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 15,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.logs.no_gm_logs'|trans }}"
            },
            "columns":[
                {"data": "date"},
                {"data": "gm"},
                {"data": "char_name"},
                {"data": "command"}
            ],
            "order": [0,'desc']
        });

        $('#user_web_bans-table').DataTable( {
            "processing": true,
            "ajax": function (data, callback, settings) {
                callback(
                        jQuery.parseJSON( '{{ web_logs|raw }}' )
                );
            },
            "sAjaxDataProp": "data",
            "sScrollX": "100%",
            "sScrollXInner": "100%",
            "bLengthChange": false,
            "pageLength": 15,
            "pagingType": "numbers",
            "autoWidth": false,
            "language": {
                "zeroRecords": "{{ 'trans.logs.no_gm_logs'|trans }}"
            },
            "columns":[
                {"data": "date"},
                {"data": "gm",
                    "render": function (data, type, full, meta) {
                        if(full.gm == 0) return "System";
                        else return "<a href='{{ asset("/admin/user") }}/"+full.gm+"' target='_blank'>"+full.gm+"</a>";
                    }
                },
                {"data": "gm",
                    "render": function (data, type, full, meta) {
                        if(full.user == 0) return "System";
                        else return "<a href='{{ asset("/admin/user") }}/"+full.user+"' target='_blank'>"+full.user+"</a>";
                    }
                },
                {"data": "type"},
                {"data": "reason"}
            ],
            "order": [ 0, "desc" ],
        });
    </script>
{% endblock %}
