{% extends 'AppBundle::admin_layout.html.twig' %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block home_active %}{% endblock %}
{% block unconfirmed_active %} class="active" {% endblock %}

{% block page_header %}
    <h1>
        {{ 'trans.admin.unconfirmed_accounts'|trans }}
    </h1>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">{{ 'trans.admin.unconfirmed_accounts'|trans }}</h3>
            </div>
            <div class="box-body">
                <table id="users-table" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>{{ 'trans.admin.register_date'|trans }}</th>
                        <th>{{ 'trans.admin.master_id'|trans }}</th>
                        <th>{{ 'trans.admin.user_email'|trans }}</th>
                    </tr>
                    <thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts_inline %}
<script>
    $('#users-table').DataTable( {
        "processing": true,
        "ajax": function (data, callback, settings) {
            callback(
                    jQuery.parseJSON( '{{ user_list|raw }}' )
            );
        },
        "sAjaxDataProp": "data",
        "sScrollX": "100%",
        "sScrollXInner": "100%",
        "bLengthChange": true,
        "pageLength": 25,
        "pagingType": "numbers",
        "autoWidth": false,
        "language": {
            "zeroRecords": "{{ 'trans.errors.no_users_found'|trans }}"
        },
        "columns":[
            {"data": "date"},
            {"data": "master_id",
                "render": function (data, type, full, meta) {
                    return "<a href='{{ asset("/admin/user") }}/"+full.master_id+"' target='_blank'>"+full.master_id+"</a>";
                }
            },
            {"data": "email"}
        ],
        "order": [ 0, "desc" ],
        "columnDefs": [
            { "targets": 0,"width": "150px"},
            { "targets": 1,"width": "150px"}
        ]
    });
</script>
{% endblock %}
