{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        {% if confirmed == true %}
            <div class="alert alert-success">
              {{ 'trans.master.confirm_email_success'|trans }} {% if not app.user %}{{ 'trans.click_login'|trans|raw }}{% endif %}
            </div>
        {% else %}
            <div class="alert alert-danger">
              {{ 'trans.master.confirm_email_fail'|trans({'%path%': path('security_resend_email_confirm')})|raw }}
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
