<div class="modal fade edit-modal text-left" id="edit" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
                <h4 class="modal-title">{{ 'trans.form.edit'|trans }}</h4>
            </div>
            {{ form_start(form, {'attr': {'id': 'admin-edit-user-form'}}) }}
            <div class="modal-body">
                <div role="alert" id="edit-alert" class="alert alert-danger" style="display: none"></div>
                <div class="form-group has-feedback"  id="edit-email">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                    <span id="editFeedback-email" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="editStatus-email" class="errorStatus help-block"></span>
                </div>

                <div class="form-group has-feedback"  id="edit-password">
                    {{ form_label(form.newPassword.password) }}
                    {{ form_widget(form.newPassword.password) }}
                    <span id="editFeedback-password" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="editStatus-password" class="errorStatus help-block"></span>
                </div>

                <div class="form-group has-feedback"  id="edit-confirm_password">
                    {{ form_label(form.newPassword.confirm_password) }}
                    {{ form_widget(form.newPassword.confirm_password) }}
                    <span id="editFeedback-confirm_password" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="editStatus-confirm_password" class="errorStatus help-block"></span>
                </div>

                <div class="form-group has-feedback"  id="edit-birthdate">
                    {{ form_label(form.birthdate) }}
                    {{ form_widget(form.birthdate) }}
                    <span id="editFeedback-birthdate" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="editStatus-birthdate" class="errorStatus help-block"></span>
                </div>

                <div class="form-group has-feedback"  id="edit-country">
                    {{ form_label(form.country) }}
                    {{ form_widget(form.country) }}
                    <span id="editFeedback-country" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                    <span id="editStatus-country" class="errorStatus help-block"></span>
                </div>

                {{ form_row(form.allowEmail) }}

            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn_rom_modal btn-block">{{ 'trans.form.update'|trans }}</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
    function editUser() {
        $('#edit').modal('show');
    }

    $("#admin-edit-user-form").submit(function(e) {
        clearAllErrors();
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('security_admin_edit', {'id': master_id}) }}",
            data: $("#admin-edit-user-form").serialize(),
            success: function (response) {
                if (response['success']) {
                    location.reload();
                } else {
                    var fields = ["email", "password", "confirm_password", "country"];
                    var msg = '';
                    for (var k in response) {
                        if (fields.indexOf(k) == -1) {
                            msg += "<li>" + response[k] + "</li>";
                        } else {
                            var form_group = $('#edit-' + k);
                            var error_feedback = $('#editFeedback-' + k);
                            var error_status = $('#editStatus-' + k);

                            form_group.addClass('has-error');
                            if (error_feedback) {
                                error_feedback.addClass('glyphicon-remove');
                            }

                            error_status.html(response[k]);
                            error_status.show();

                            if (k == 'password' && response[k].indexOf('match') !== -1) {
                                $('#edit-confirm_password').addClass('has-error');
                                $('#editFeedback-confirm_password').addClass('glyphicon-remove');
                            }
                        }
                    }
                    if (msg.length > 0) {
                        msg = "<ul class='list-unstyled'>" + msg + "</ul>";
                        $("#edit-alert").show();
                        $("#edit-alert").html(msg);
                    }
                    $('#loading').hide();
                }
            }
        });

        e.preventDefault();
    });
</script>
