{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        {% if saved == true %}
            <div class="alert alert-success">
                {{ 'trans.master.edit_saved'|trans }}
            </div>
        {% endif %}
        {{ form_start(form, {'attr': {'id': 'edit-form', 'class': 'singular_form'}}) }}
            <div class="form-group has-feedback {% if form.email.vars.errors|length > 0 %}has-error{% endif %}"  id="edit-email">
                {{ form_label(form.email) }}
                {{ form_widget(form.email) }}
                <span id="editFeedback-email" class="glyphicon form-control-feedback {% if form.email.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
                    <span id="editStatus-email" class="errorStatus help-block">
                            <ul class="list-unstyled">
                                {%- for error in form.email.vars.errors -%}
                                    <li>{{ error.message }}</li>
                                {%- endfor -%}
                            </ul>
                    </span>
            </div>

            <div class="form-group has-feedback {% if form.newPassword.password.vars.errors|length > 0 %}has-error{% endif %}"  id="edit-password">
                {{ form_label(form.newPassword.password) }}
                {{ form_widget(form.newPassword.password) }}
                <span id="editFeedback-password" class="glyphicon form-control-feedback {% if form.newPassword.password.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
                    <span id="editStatus-password" class="errorStatus help-block">
                            <ul class="list-unstyled">
                                {%- for error in form.newPassword.password.vars.errors -%}
                                    <li>{{ error.message }}</li>
                                {%- endfor -%}
                            </ul>
                    </span>
            </div>

            <div class="form-group has-feedback {% if form.newPassword.confirm_password.vars.errors|length > 0 %}has-error{% endif %}"  id="edit-confirm_password">
                {{ form_label(form.newPassword.confirm_password) }}
                {{ form_widget(form.newPassword.confirm_password, {'attr': {'maxlength': '23'}}) }}
                <span id="editFeedback-confirm_password" class="glyphicon form-control-feedback {% if form.newPassword.confirm_password.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
                    <span id="editStatus-confirm_password" class="errorStatus help-block">
                            <ul class="list-unstyled">
                                {%- for error in form.newPassword.confirm_password.vars.errors -%}
                                    <li>{{ error.message }}</li>
                                {%- endfor -%}
                            </ul>
                    </span>
            </div>

            <div class="form-group has-feedback {% if form.country.vars.errors|length > 0 %}has-error{% endif %}"  id="edit-country">
                {{ form_label(form.country) }}
                {{ form_widget(form.country) }}
                <span id="editFeedback-country" class="glyphicon form-control-feedback {% if form.country.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
                    <span id="editStatus-country" class="errorStatus help-block">
                            <ul class="list-unstyled">
                                {%- for error in form.country.vars.errors -%}
                                    <li>{{ error.message }}</li>
                                {%- endfor -%}
                            </ul>
                    </span>
            </div>

            {{ form_row(form.allowEmail) }}

            <hr class="darksep">

            <div class="form-group has-feedback {% if form.oldPassword.vars.errors|length > 0 %}has-error{% endif %}"  id="edit-oldPassword">
                {{ form_label(form.oldPassword) }}
                {{ form_widget(form.oldPassword) }}
                <span id="editFeedback-oldPassword" class="glyphicon form-control-feedback {% if form.oldPassword.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
                <span id="editStatus-oldPassword" class="errorStatus help-block">
                        <ul class="list-unstyled">
                            {%- for error in form.oldPassword.vars.errors -%}
                                <li>{{ error.message }}</li>
                            {%- endfor -%}
                        </ul>
                </span>
            </div>

            <button type="submit" class="btn btn_rom btn-block">{{ 'trans.form.update'|trans }}</button>
        {{ form_end(form) }}

        {% block javascripts_inline %}
            <script>
                $("#edit-form").submit(function(e){
                    clearAllErrors();
                    $('#loading').show();
                });
            </script>
        {% endblock %}
    </div>
</section>
{% endblock %}
