{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        <form action="{{ path('security_login') }}" method="post" class="singular_form">
            {% if error %}
                <div class="alert alert-danger">
                    {{ error.messageKey|trans(error.messageData) }}
                </div>
            {% endif %}

            <div class="form-group">
                <label for="email" classs="control-label required">{{ 'trans.form.email'|trans }}</label>
                <input required="required" class="form-control" type="email" id="email" name="_email" value="{{ last_username }}" />
            </div>

            <div class="form-group">
                <label for="password" classs="control-label required">{{ 'trans.form.password'|trans }}</label>
                <input required="required" class="form-control" type="password" id="password" name="_password" />
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="remember_me" name="_remember_me" checked> {{ 'trans.form.remember_me'|trans }}
                </label>
            </div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <hr class="darksep">
            <div class="text-center"><a href="{{ path('security_password_recovery') }}">{{ 'trans.form.forgot_password'|trans }}</a></div>
            <button type="submit" class="btn btn_rom btn-block">{{ 'trans.form.login'|trans }} <span class="fa fa-lock"></span></button>
        </form>
    </div>
</section>
{% endblock %}
