<div class="modal fade login-modal text-left" id="login" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
                <h4 class="modal-title">{{ 'trans.form.login'|trans }}</h4>
            </div>
            <form action="{{ path('security_login') }}" method="post" id="login-form">
                <div class="modal-body">
                    <div id="login-alert" class="alert alert-danger" style="display: none">
                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label required">{{ 'trans.form.email'|trans }}</label>
                        <input required="required" class="form-control" type="email" id="email" name="_email" value="{{ last_username }}" />
                    </div>

                    <div class="form-group">
                        <label for="password" class="control-label required">{{ 'trans.form.password'|trans }}</label>
                        <input required="required" class="form-control" type="password" id="password" name="_password" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" checked> {{ 'trans.form.remember_me'|trans }}
                        </label>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                </div>
                <div class="modal-footer">
                    <div class="text-center"><a href="{{ path('security_password_recovery') }}">{{ 'trans.form.forgot_password'|trans }}</a></div>
                    <button type="submit" class="btn btn_rom_modal btn-block">{{ 'trans.form.login'|trans }}</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $("#login-form").submit(function(e) {

        $('#loading').show();
        $('#login-alert').hide();
        $.ajax({
            type: "POST",
            url: "{{ path('security_login') }}",
            data: $("#login-form").serialize(),
            success: function (response) {
                if (response['error']) {
                    $('#login-alert').show();
                    $('#login-alert').html(response['error']);
                    $('#loading').hide();
                } else {
                    location.reload();
                }
            }
        });

        e.preventDefault();
    });
</script>
