{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        {% if sent == true %}
            <div class="alert alert-success">
                {{ 'trans.master.password_recovery_sent'|trans }}
            </div>
        {% endif %}
        <div>
            <div class="alert alert-info">Forgot your password? Enter your email address below to be sent a password recovery email.</div>
            {{ form_start(form) }}
            {{ form_row(form.email) }}

            <button type="submit" class="btn btn_rom btn-block">{{ 'trans.form.submit'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
