<div class="modal fade register-modal text-left" id="register" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
                <h4 class="modal-title">{{ 'trans.form.register'|trans }}</h4>
            </div>
            {{ form_start(form, {'attr': {'id': 'register-form'}}) }}
                <div class="modal-body">
                    <div role="alert" id="register-alert" class="alert alert-danger" style="display: none"></div>
                    <div class="form-group has-feedback"  id="register-email">
                        {{ form_label(form.email) }}
                        <small>{{ 'trans.form.register_email'|trans }}</small>
                        {{ form_widget(form.email) }}
                        <span id="registerFeedback-email" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span id="registerStatus-email" class="errorStatus help-block"></span>
                    </div>

                    <div class="form-group has-feedback"  id="register-password">
                        {{ form_label(form.plainPassword.password) }}
                        {{ form_widget(form.plainPassword.password) }}
                        <span id="registerFeedback-password" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span id="registerStatus-password" class="errorStatus help-block"></span>
                    </div>

                    <div class="form-group has-feedback"  id="register-confirm_password">
                        {{ form_label(form.plainPassword.confirm_password) }}
                        {{ form_widget(form.plainPassword.confirm_password) }}
                        <span id="registerFeedback-confirm_password" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span id="registerStatus-confirm_password" class="errorStatus help-block"></span>
                    </div>

                    {% for gameaccount in form.gameAccounts %}
                        <div class="form-group has-feedback"  id="register-userid">
                            {{ form_label(gameaccount.userid) }}
                            {{ form_widget(gameaccount.userid) }}
                            <span id="registerFeedback-userid" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span id="registerStatus-userid" class="errorStatus help-block"></span>
                        </div>
                        <div class="form-group has-feedback"  id="register-sex">
                            {{ form_label(gameaccount.sex) }}
                            {{ form_widget(gameaccount.sex) }}
                            <span id="registerFeedback-sex" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                            <span id="registerStatus-sex" class="errorStatus help-block"></span>
                        </div>
                    {% endfor %}

                    <div class="form-group has-feedback"  id="register-birthdate">
                        {{ form_label(form.birthdate) }}
						 <small>{{ 'trans.form.register_birthdate'|trans }}</small>
                        {{ form_widget(form.birthdate) }}
                        <span id="registerFeedback-birthdate" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span id="registerStatus-birthdate" class="errorStatus help-block"></span>
                    </div>

                    <div class="form-group has-feedback"  id="register-country">
                        {{ form_label(form.country) }}
                        {{ form_widget(form.country) }}
                        <span id="registerFeedback-country" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span id="registerStatus-country" class="errorStatus help-block"></span>
                    </div>

                    {{ form_row(form.allowEmail) }}

                </div>
                <div class="modal-footer">
                    <div class="text-center">
                        <small>{{ 'trans.form.read_terms'|trans({'%path1%': path('app_pages_terms'),'%path2%': path('app_pages_privacy')})|raw }}</small>
                    </div>
                    <button type="submit" class="btn btn_rom_modal btn-block">{{ 'trans.form.sign_up'|trans }}</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
    $("#register-form").submit(function(e) {

        clearAllErrors();
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('security_register') }}",
            data: $("#register-form").serialize(),
            success: function (response) {
                if (response['success']) {
                    location.reload();
                } else {
                    var fields = ["email", "password", "confirm_password", "userid", "sex", "birthdate", "country"];
                    var msg = '';
                    for (var k in response) {
                        if (fields.indexOf(k) == -1) {
                            msg += "<li>" + response[k] + "</li>";
                        } else {
                            var form_group = $('#register-' + k);
                            var error_feedback = $('#registerFeedback-' + k);
                            var error_status = $('#registerStatus-' + k);

                            form_group.addClass('has-error');
                            if (error_feedback) {
                                error_feedback.addClass('glyphicon-remove');
                            }

                            error_status.html(response[k]);
                            error_status.show();

                            if (k == 'password' && response[k].indexOf('match') !== -1) {
                                $('#register-confirm_password').addClass('has-error');
                                $('#registerFeedback-confirm_password').addClass('glyphicon-remove');
                            }
                        }
                    }
                    if (msg.length > 0) {
                        msg = "<ul class='list-unstyled'>" + msg + "</ul>";
                        $("#register-alert").show();
                        $("#register-alert").html(msg);
                    }
                    $('#loading').hide();
                }
            }
        });

        e.preventDefault();
    });
</script>
