{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        {{ form_start(form, {'attr': {'id': 'registerPage-form', 'class': 'singular_form'}}) }}
        {% if form.vars.errors|length > 0 %}
            <div role="alert" id="registerPage-alert" class="alert alert-danger" style="display: none">{{ form_errors(form) }}</div>
        {% endif %}
        <div class="form-group has-feedback {% if form.email.vars.errors|length > 0 %}has-error{% endif %}"  id="registerPage-email">
            {{ form_label(form.email) }}
			 <small>{{ 'trans.form.register_email'|trans }}</small>
            {{ form_widget(form.email) }}
            <span id="registerPageFeedback-email" class="glyphicon form-control-feedback {% if form.email.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
            <span id="registerPageStatus-email" class="errorStatus help-block">
                <ul class="list-unstyled">
                    {%- for error in form.email.vars.errors -%}
                        <li>{{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </span>
        </div>

        <div class="form-group has-feedback {% if form.plainPassword.password.vars.errors|length > 0 %}has-error{% endif %}"  id="registerPage-password">
            {{ form_label(form.plainPassword.password) }}
            {{ form_widget(form.plainPassword.password) }}
            <span id="registerPageFeedback-password" class="glyphicon form-control-feedback {% if form.plainPassword.password.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
            <span id="registerPageStatus-password" class="errorStatus help-block">
                <ul class="list-unstyled">
                    {%- for error in form.plainPassword.password.vars.errors -%}
                        <li>{{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </span>
        </div>

        <div class="form-group has-feedback {% if form.plainPassword.confirm_password.vars.errors|length > 0 %}has-error{% endif %}"  id="registerPage-confirm_password">
            {{ form_label(form.plainPassword.confirm_password) }}
            {{ form_widget(form.plainPassword.confirm_password, {'attr': {'maxlength': '23'}}) }}
            <span id="registerPageFeedback-confirm_password" class="glyphicon form-control-feedback {% if form.plainPassword.confirm_password.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
            <span id="registerPageStatus-confirm_password" class="errorStatus help-block">
                <ul class="list-unstyled">
                    {%- for error in form.plainPassword.confirm_password.vars.errors -%}
                        <li>{{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </span>
        </div>

        {% for gameaccount in form.gameAccounts %}
            <div class="form-group has-feedback {% if gameaccount.userid.vars.errors|length > 0 %}has-error{% endif %}"  id="registerPage-userid">
                {{ form_label(gameaccount.userid) }}
                {{ form_widget(gameaccount.userid) }}
                <span id="registerPageFeedback-userid" class="glyphicon form-control-feedback {% if gameaccount.userid.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
                <span id="registerPageStatus-userid" class="errorStatus help-block">
                    <ul class="list-unstyled">
                        {%- for error in gameaccount.userid.vars.errors -%}
                            <li>{{ error.message }}</li>
                        {%- endfor -%}
                    </ul>
                </span>
            </div>

            <div class="form-group has-feedback {% if form.plainPassword.confirm_password.vars.errors|length > 0 %}has-error{% endif %}"  id="registerPage-sex">
                {{ form_label(gameaccount.sex) }}
                {{ form_widget(gameaccount.sex) }}
                <span id="registerPageFeedback-sex" class="glyphicon form-control-feedback {% if gameaccount.sex.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
                <span id="registerPageStatus-sex" class="errorStatus help-block">
                    <ul class="list-unstyled">
                        {%- for error in gameaccount.sex.vars.errors -%}
                            <li>{{ error.message }}</li>
                        {%- endfor -%}
                    </ul>
                </span>
            </div>
        {% endfor %}

        <div class="form-group has-feedback {% if form.birthdate.vars.errors|length > 0 %}has-error{% endif %}"  id="registerPage-birthdate">
            {{ form_label(form.birthdate) }}
			<small>{{ 'trans.form.register_birthdate'|trans }}</small>
            {{ form_widget(form.birthdate) }}
            <span id="registerPageFeedback-birthdate" class="glyphicon form-control-feedback {% if form.birthdate.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
            <span id="registerPageStatus-birthdate" class="errorStatus help-block">
                <ul class="list-unstyled">
                    {%- for error in form.birthdate.vars.errors -%}
                        <li>{{ error.message }}</li>
                    {%- endfor -%}
                </ul>
            </span>
        </div>

        <div class="form-group has-feedback {% if form.country.vars.errors|length > 0 %}has-error{% endif %}"  id="registerPage-country">
            {{ form_label(form.country) }}
            {{ form_widget(form.country) }}
            <span id="registerPageFeedback-country" class="glyphicon form-control-feedback {% if form.country.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
            <span id="registerPageStatus-country" class="errorStatus help-block">
                    <ul class="list-unstyled">
                        {%- for error in form.country.vars.errors -%}
                            <li>{{ error.message }}</li>
                        {%- endfor -%}
                    </ul>
            </span>
        </div>

        {{ form_row(form.allowEmail) }}

        <hr class="darksep">

        <button type="submit" class="btn btn_rom btn-block">{{ 'trans.form.submit'|trans }}</button>
        {{ form_end(form) }}

        {% block javascripts_inline %}
            <script>
                $("#registerPage-form").submit(function(e){
                    clearAllErrors();
                    $('#loading').show();
                });
            </script>
        {% endblock %}
    </div>
</section>
{% endblock %}
