{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        {% if sent == true %}
            <div class="alert alert-success">
                {{ 'trans.master.confirm_email_sent'|trans }}
            </div>
        {% endif %}
        <div>
            {{ form_start(form) }}
                <div class="form-group"  id="resend-email">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <button type="submit" class="btn btn_rom btn-block">{{ 'trans.form.submit'|trans }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</section>
{% endblock %}
