{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        {% if recovered == true %}
            <div class="alert alert-success">
                {{ 'trans.master.password_recovery_complete'|trans }} {% if not app.user %}{{ 'trans.click_login'|trans|raw }}{% endif %}
            </div>
        {% elseif allow_recovery == true %}
            <div>
                {{ form_start(form) }}
                {{ form_row(form.newPassword.password) }}
                {{ form_row(form.newPassword.confirm_password) }}

                <button type="submit" class="btn btn_rom btn-block">{{ 'trans.form.submit'|trans }}</button>
                {{ form_end(form) }}
            </div>
        {% else %}
            <div class="alert alert-danger">
                {{ 'trans.master.password_recovery_fail'|trans({'%path%': path('security_resend_email_confirm')})|raw }}
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
