<div class="modal fade download-modal text-left" id="download" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
                <h4 class="modal-title">{{ 'trans.download.title'|trans }}</h4>
            </div>
            <div class="modal-body">
                <div class="download_full">
                    <p>{{ 'trans.download.full_details'|trans|raw }}</p>

                    <p class="text-center">
                        <a href="http://dl.riseofmidgard.com/Rise_of_Midgard_Full.zip" target="_blank" class="btn btn_rom_modal btn-lg">{{ 'trans.download.full_client'|trans }}</a><br/>
                    </p>
                </div>
                <hr class="darksep">
                <div>
                    <p>{{ 'trans.download.data_split'|trans }}</p>
                    <p>
                        <strong>{{ 'trans.download.combined_data_split'|trans }}</strong>:
                    </p>
                    <p>
                        <a href="http://dl.riseofmidgard.com/GRF-split.zip" target="_blank">[Part 1]</a>
                        <a href="http://dl.riseofmidgard.com/GRF-split.z01" target="_blank">[Part 2]</a>
                        <a href="http://dl.riseofmidgard.com/GRF-split.z02" target="_blank">[Part 3]</a>
                        <a href="http://dl.riseofmidgard.com/GRF-split.z03" target="_blank">[Part 4]</a>
                    </p>
                </div>
                <hr class="darksep">
                <div>
                    <p>{{ 'trans.download.lite_details'|trans }}</p>

                    <p><strong>{{ 'trans.download.lite_client'|trans }}</strong>:
                        <a href="http://dl.riseofmidgard.com/Rise_of_Midgard_Lite.zip" target="_blank">[Zip]</a> <a href="http://dl.riseofmidgard.com/Rise_of_Midgard_Lite_Installer.exe" target="_blank">[Installer]</a><br/>
                    </p>
                </div>
                <hr class="darksep">
                <div>
                    <small>
                    <p>*{{ 'trans.download.all_zip'|trans }}</p>
                    <p>**{{ 'trans.download.lite_req'|trans }}</p>
                    <p>***{{ 'trans.download.dl_data'|trans }}</p>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
