{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        <div class="btn-group btn-group-justified vending_button" role="group">
            <a href="{{ path("app_pages_vendors") }}" class="btn btn-lg btn_rom">
                {{ 'trans.market_list.vending_list'|trans }}
            </a>
            <a href="{{ path("app_pages_buyingstore") }}" class="btn btn-lg btn_rom active">
                {{ 'trans.market_list.buying_list'|trans }}
            </a>
        </div>

        <div class="active_zeny">
            <div class="zeny_amount">{{ active_zeny }}*</div>
            <small>{{ 'trans.market_list.active_zeny'|trans }}</small>
        </div>

        <div class="content-center">
            <table id="buying-table" class="table table-bordered table-striped table-responsive">
                <thead>
                <tr>
                    <th>{{ 'trans.market_list.item_name'|trans }}</th>
                    <th>Item ID</th>
                    <th>{{ 'trans.market_list.amount'|trans }}</th>
                    <th>{{ 'trans.market_list.price'|trans }}</th>
                    <th>{{ 'trans.market_list.shop_name'|trans }}</th>
                    <th>{{ 'trans.market_list.vendor'|trans }}</th>
                    <th>{{ 'trans.market_list.location'|trans }}</th>
                </tr>
                <thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts_inline %}
<script>
    var table = $('#buying-table').DataTable({
        "processing": true,
        "ajax": function (data, callback, settings) {
            callback(
                    jQuery.parseJSON( '{{ buyers|raw }}' )
            );
        },
        "sAjaxDataProp": "data",
        "sScrollX": "100%",
        "sScrollXInner": "100%",
        "bLengthChange": true,
        "pagingType": "numbers",
        "language": {
            "zeroRecords": "{{ 'trans.market_list.no_buyers'|trans }}"
        },
        "order": [[0, "asc"]],
        "columns": [
            {"data": "parsed_name"},
            {"data": "nameid", "visible": false},
            {"data": "amount"},
            {"data": "price"},
            {"data": "shop_name"},
            {"data": "buyer", "searchable": false},
            {"data": "location", "searchable": false,
                "render": function (data, type, full, meta) {
                    if (full.map != null &&
                            full.x != null &&
                            full.y != null ) {
                        return '/navi '+full.map+' '+full.x+'/'+full.y;
                    } else {
                        return full.location;
                    }
                }
            }
        ]
    });
</script>
{% endblock %}
