{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="shop_bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container text-center">

        {% if app.user %}
            <div class="shop_buy">
                <div class="shop_buy_row">
                    <div>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target=_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="4ZVL4ZQSM97BC">
                            <input type="hidden" name="custom" value="{{ app.user.firstGameAccountId }}">
                            {% if discount20 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+20-5.png") }}" alt="{{ 'trans.shop.donate_5'|trans }}" aria-label="{{ 'trans.shop.donate_5'|trans }}">
                            {% elseif discount10 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+10-5.png") }}" alt="{{ 'trans.shop.donate_5'|trans }}" aria-label="{{ 'trans.shop.donate_5'|trans }}">
                            {% else %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE-5.png") }}" alt="{{ 'trans.shop.donate_5'|trans }}" aria-label="{{ 'trans.shop.donate_5'|trans }}">
                            {% endif %}
                        </form>
                    </div>
                    <div>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target=_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="NG7JAJ8Q7WK4A">
                            <input type="hidden" name="custom" value="{{ app.user.firstGameAccountId }}">
                            {% if discount20 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+20-10.png") }}" alt="{{ 'trans.shop.donate_10'|trans }}" aria-label="{{ 'trans.shop.donate_10'|trans }}">
                            {% elseif discount10 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+10-10.png") }}" alt="{{ 'trans.shop.donate_10'|trans }}" aria-label="{{ 'trans.shop.donate_10'|trans }}">
                            {% else %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE-10.png") }}" alt="{{ 'trans.shop.donate_10'|trans }}" aria-label="{{ 'trans.shop.donate_10'|trans }}">
                            {% endif %}
                        </form>
                    </div>
                    <div>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target=_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="HGZ59JUJZSUYA">
                            <input type="hidden" name="custom" value="{{ app.user.firstGameAccountId }}">
                            {% if discount20 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+20-20.png") }}" alt="{{ 'trans.shop.donate_20'|trans }}" aria-label="{{ 'trans.shop.donate_20'|trans }}">
                            {% elseif discount10 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+10-20.png") }}" alt="{{ 'trans.shop.donate_20'|trans }}" aria-label="{{ 'trans.shop.donate_20'|trans }}">
                            {% else %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE-20.png") }}" alt="{{ 'trans.shop.donate_20'|trans }}" aria-label="{{ 'trans.shop.donate_20'|trans }}">
                            {% endif %}
                        </form>
                    </div>
                </div>
                <div class="shop_buy_row">
                    <div>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target=_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="5ETFTZUCF244Q">
                            <input type="hidden" name="custom" value="{{ app.user.firstGameAccountId }}">
                            {% if discount20 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+20-35.png") }}" alt="{{ 'trans.shop.donate_35'|trans }}" aria-label="{{ 'trans.shop.donate_35'|trans }}">
                            {% elseif discount10 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+10-35.png") }}" alt="{{ 'trans.shop.donate_35'|trans }}" aria-label="{{ 'trans.shop.donate_35'|trans }}">
                            {% else %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE-35.png") }}" alt="{{ 'trans.shop.donate_35'|trans }}" aria-label="{{ 'trans.shop.donate_35'|trans }}">
                            {% endif %}
                        </form>
                    </div>
                    <div>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target=_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="D3PJGHNCW6XQW">
                            <input type="hidden" name="custom" value="{{ app.user.firstGameAccountId }}">
                            {% if discount20 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+20-50.png") }}" alt="{{ 'trans.shop.donate_50'|trans }}" aria-label="{{ 'trans.shop.donate_50'|trans }}">
                            {% elseif discount10 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+10-50.png") }}" alt="{{ 'trans.shop.donate_50'|trans }}" aria-label="{{ 'trans.shop.donate_50'|trans }}">
                            {% else %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE-50.png") }}" alt="{{ 'trans.shop.donate_50'|trans }}" aria-label="{{ 'trans.shop.donate_50'|trans }}">
                            {% endif %}
                        </form>
                    </div>
                    <div>
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target=_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="47MPKH3HWDSQY">
                            <input type="hidden" name="custom" value="{{ app.user.firstGameAccountId }}">
                            {% if discount20 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+20-100.png") }}" alt="{{ 'trans.shop.donate_100'|trans }}" aria-label="{{ 'trans.shop.donate_100'|trans }}">
                            {% elseif discount10 %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE+10-100.png") }}" alt="{{ 'trans.shop.donate_100'|trans }}" aria-label="{{ 'trans.shop.donate_100'|trans }}">
                            {% else %}
                                <input type="image" name="submit" src="{{ asset("bundles/app/img/donate/ROM-DONATE-100.png") }}" alt="{{ 'trans.shop.donate_100'|trans }}" aria-label="{{ 'trans.shop.donate_100'|trans }}">
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="shop_login text-center">
                <a href="#login" data-toggle="modal" data-backdrop="true"><img src="{{ asset("bundles/app/img/donate/ROM-DONATE-Login.png") }}" alt="{{ 'trans.shop.login'|trans }}" aria-label="{{ 'trans.shop.login'|trans }}"/> </a>
            </div>
        {% endif %}

        <div>
            <div class="shop_top">
                <img src="{{ asset("bundles/app/img/donate/ROM-DONATE-Title.png") }}" alt="{{ 'trans.shop.donate_shop'|trans }}" aria-label="{{ 'trans.shop.donate_shop'|trans }}"/>
            </div>
            <div class="shop_content">
                <div class="shop_scroll_left">
                    <a href="#shopCarousel" role="button" data-slide="prev">
                        <img src="{{ asset("bundles/app/img/donate/ROM-DONATE-Left.png") }}" alt="{{ 'trans.shop.prev'|trans }}" aria-label="{{ 'trans.shop.prev'|trans }}"/>
                        <span class="sr-only">{{ 'trans.shop.prev'|trans }}</span>
                    </a>
                </div>
                <div id="shopCarousel" class="shop_scroll carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="row item active">
                            <div class="col-sm-6">
                                <table>
                                    <thead class="shop_header"><tr><th>{{ 'trans.shop.lower'|trans }}</th><th>{{ 'trans.shop.cost'|trans }}</th></tr></thead>
                                    <tbody class="shop_list">
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33369.gif") }}" alt=""/> Costume Gang Scarf</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33526.gif") }}" alt=""/> Costume Monster Card</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33534.gif") }}" alt=""/> Costume Scarlet Rose</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33555.gif") }}" alt=""/> Costume Well-Chewed Pencil</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33604.gif") }}" alt=""/> Costume Poring Letter</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33814.gif") }}" alt=""/> Costume Orange In Mouth</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33815.gif") }}" alt=""/> Costume CD in Mouth</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33847.gif") }}" alt=""/> Costume Shaving Cream</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33861.gif") }}" alt=""/> Costume Strawberry In Mouth</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33952.gif") }}" alt=""/> Costume Safety Whistle</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34129.gif") }}" alt=""/> Costume Shaving Foam</td><td class="shop_item_cost">50 CP</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table>
                                    <thead class="shop_header"><tr><th>{{ 'trans.shop.middle'|trans }}</th><th>{{ 'trans.shop.cost'|trans }}</th></tr></thead>
                                    <tbody class="shop_list">
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33316.gif") }}" alt=""/> Costume Red Glasses</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33337.gif") }}" alt=""/> Costume Observer</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33345.gif") }}" alt=""/> Costume Robot Eyes</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33365.gif") }}" alt=""/> Costume Wings Of Victory</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33404.gif") }}" alt=""/> Costume Black Glasses</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33405.gif") }}" alt=""/> Costume Mischievous Fairy</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33468.gif") }}" alt=""/> Costume Hairband Of Reginleif</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33568.gif") }}" alt=""/> Costume Sigrun Wing</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33661.gif") }}" alt=""/> Costume 3D Glasses</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33925.gif") }}" alt=""/> Costume Wing Frame Sunglasses</td><td class="shop_item_cost">50 CP</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row item">
                            <div class="col-sm-6">
                                <table>
                                    <thead class="shop_header"><tr><th>{{ 'trans.shop.upper'|trans }}</th><th>{{ 'trans.shop.cost'|trans }}</th></tr></thead>
                                    <tbody class="shop_list">
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33182.gif") }}" alt=""/> Costume Neko Mimi</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33204.gif") }}" alt=""/>  Costume Angeling Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33216.gif") }}" alt=""/>  Costume Baseball Cap</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33220.gif") }}" alt=""/>  Costume Note Headphone</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33222.gif") }}" alt=""/>  Costume Angeling Hairpin</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33265.gif") }}" alt=""/>  Costume Dress Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33300.gif") }}" alt=""/> Costume Valkyrie Feather Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33310.gif") }}" alt=""/> Costume Yellow Ribbon</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33333.gif") }}" alt=""/> Costume Large Hibiscus</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33367.gif") }}" alt=""/> Costume Ship Captain Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33378.gif") }}" alt=""/> Costume Koneko Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33385.gif") }}" alt=""/> Costume Balloon Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table>
                                    <thead class="shop_header"><tr><th>{{ 'trans.shop.upper'|trans }}</th><th>{{ 'trans.shop.cost'|trans }}</th></tr></thead>
                                    <tbody class="shop_list">
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33392.gif") }}" alt=""/> Costume Neko Mimi Kafra</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33411.gif") }}" alt=""/> Costume Purple Cowboy Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33432.gif") }}" alt=""/> Costume Chick Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33462.gif") }}" alt=""/> Costume Celestial Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33463.gif") }}" alt=""/> Costume Wind Milestone</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33485.gif") }}" alt=""/> Costume Anubis Helm</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33490.gif") }}" alt=""/> Costume Wandering Wolf Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33544.gif") }}" alt=""/> Costume Crown of Deceit</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33589.gif") }}" alt=""/> Costume Imp Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33625.gif") }}" alt=""/> Costume Sniper Goggles</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33626.gif") }}" alt=""/> Costume Red Driver Band</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33630.gif") }}" alt=""/> Costume Magic Stone Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row item">
                            <div class="col-sm-6">
                                <table>
                                    <thead class="shop_header"><tr><th>{{ 'trans.shop.upper'|trans }}</th><th>{{ 'trans.shop.cost'|trans }}</th></tr></thead>
                                    <tbody class="shop_list">
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33633.gif") }}" alt=""/> Costume Wind Whisper</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33634.gif") }}" alt=""/> Costume Reissue Schmitz Helm</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33713.gif") }}" alt=""/> Costume Skull Cap</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33724.gif") }}" alt=""/> Costume Idun Feather Ears</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33799.gif") }}" alt=""/> Costume Cow Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33817.gif") }}" alt=""/> Costume Tare Pope</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33838.gif") }}" alt=""/> Costume Sleeping Kitty Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I33978.gif") }}" alt=""/> Costume Gothic Headdress</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34016.gif") }}" alt=""/> Costume Husky Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34023.gif") }}" alt=""/> Costume Seppl Hat</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34049.gif") }}" alt=""/> Costume Pecopeco Cap</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34137.gif") }}" alt=""/> Costume Choir Hat</td><td class="shop_item_cost">50 CP</td></tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table>
                                    <thead class="shop_header"><tr><th>{{ 'trans.shop.upper'|trans }}</th><th>{{ 'trans.shop.cost'|trans }}</th></tr></thead>
                                    <tbody class="shop_list">
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34174.gif") }}" alt=""/> Costume Cheks Vandana</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34199.gif") }}" alt=""/> Costume Lightning Speed</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34209.gif") }}" alt=""/> Costume Beret Of Artist</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34342.gif") }}" alt=""/> Costume Hill Wind Mask</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34462.gif") }}" alt=""/> Costume Youinone Mask</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34180.gif") }}" alt=""/> Costume Rhythm Hairband</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I34189.gif") }}" alt=""/> Costume Horse King</td><td class="shop_item_cost">50 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I39997.gif") }}" alt=""/> Costume Invisible Cap</td><td class="shop_item_cost">30 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I39998.gif") }}" alt=""/> Costume Invisible Glasses</td><td class="shop_item_cost">30 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I39999.gif") }}" alt=""/> Costume Invisible Mask</td><td class="shop_item_cost">30 CP</td></tr>
                                     </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row item">
                            <div class="col-sm-6">
                                <table>
                                    <thead class="shop_header"><tr><th>{{ 'trans.shop.costume_boxes'|trans }}</th><th>{{ 'trans.shop.cost'|trans }}</th></tr></thead>
                                    <tbody class="shop_list">
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40090.gif") }}" alt=""/> Premium Lower Mystery Box</td><td class="shop_item_cost">90 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40091.gif") }}" alt=""/> Premium Middle Mystery Box</td><td class="shop_item_cost">90 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40092.gif") }}" alt=""/> Box of Wonders</td><td class="shop_item_cost">90 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40093.gif") }}" alt=""/> Box of Mysteries</td><td class="shop_item_cost">90 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40094.gif") }}" alt=""/> Winter Holidays Mystery Box</td><td class="shop_item_cost">80 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40095.gif") }}" alt=""/> Community Choice Mystery Box</td><td class="shop_item_cost">80 CP</td></tr>
                                    </tbody>
                                </table>
                                <table>
                                    <thead class="shop_header"><tr><th>{{ 'trans.shop.other_costumes'|trans }}</th><th>{{ 'trans.shop.cost'|trans }}</th></tr></thead>
                                    <tbody class="shop_list">
                                    <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I39000.gif") }}" alt=""/> Costume Santa Suit</td><td class="shop_item_cost">80 CP</td></tr>
                                    <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I39001.gif") }}" alt=""/> Costume Wedding Outfit</td><td class="shop_item_cost">80 CP</td></tr>
                                    <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I39002.gif") }}" alt=""/> Costume Summer Outfit</td><td class="shop_item_cost">80 CP</td></tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-6">
                                <table>
                                    <thead class="shop_header"><tr><th>{{ 'trans.shop.usables'|trans }}</th><th>{{ 'trans.shop.cost'|trans }}</th></tr></thead>
                                    <tbody class="shop_list">
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40073.gif") }}" alt=""/> Battle Manual 50% 24H</td><td class="shop_item_cost">40 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40072.gif") }}" alt=""/> Battle Manual 50% 72H</td><td class="shop_item_cost">90 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40001.gif") }}" alt=""/> Gender Swap Coupon</td><td class="shop_item_cost">40 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40002.gif") }}" alt=""/> Name Change Coupon</td><td class="shop_item_cost">40 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40003.gif") }}" alt=""/> Costume Ticket</td><td class="shop_item_cost">40 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40031.gif") }}" alt=""/> Character Slot Change Coupon</td><td class="shop_item_cost">40 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40065.gif") }}" alt=""/> Premium Pet Food</td><td class="shop_item_cost">20 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40077.gif") }}" alt=""/> Premium Pet Food Box</td><td class="shop_item_cost">180 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40066.gif") }}" alt=""/> Pet Renamer</td><td class="shop_item_cost">40 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40096.gif") }}" alt=""/> Mystery Egg</td><td class="shop_item_cost">30 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I40098.gif") }}" alt=""/> Homunculus Renamer</td><td class="shop_item_cost">40 CP</td></tr>
                                        <tr><td class="shop_item"><img src="{{ asset("bundles/app/img/donate/items/I17441.gif") }}" alt=""/> Halter Lead Box</td><td class="shop_item_cost">210 CP</td></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <ol class="carousel-indicators">
                        <li data-target="#shopCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#shopCarousel" data-slide-to="1"></li>
                        <li data-target="#shopCarousel" data-slide-to="2"></li>
                        <li data-target="#shopCarousel" data-slide-to="3"></li>
                    </ol>
                </div>
                <div class="shop_scroll_right">
                    <a href="#shopCarousel" role="button" data-slide="next">
                        <img src="{{ asset("bundles/app/img/donate/ROM-DONATE-Right.png") }}" alt="{{ 'trans.shop.next'|trans }}" aria-label="{{ 'trans.shop.next'|trans }}"/>
                        <span class="sr-only">{{ 'trans.shop.next'|trans }}</span>
                    </a>
                </div>
            </div>
            <div class="shop_bottom"></div>
        </div>
	</div>
</section>


{% endblock %}
{% block javascripts_inline %}
<script>
    $('#shopCarousel').carousel({
        interval: 15000 //changes the speed
    });
</script>
{% endblock %}
