{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        <div class="content-center">
            <table id="logs-table" class="table table-bordered table-striped table-responsive text-center">
              <thead>
                <tr>
                  <th>{{ 'trans.logs.id'|trans }}</th>
                  <th>{{ 'trans.logs.date'|trans }}</th>
                  <th>{{ 'trans.logs.gm'|trans }}</th>
                  <th>{{ 'trans.logs.map'|trans }}</th>
                  <th>{{ 'trans.logs.command'|trans }}</th>
                </tr>
              <thead>
              <tbody>
              </tbody>
            </table>
        </div>
        <!-- HI. ZINNY SINKS HERE.  DO YOU LIKE FREE THINGS? DO YOU LIKE GETTING THOSE THINGS WITHOUT MUCH WORK? THEN LOOK NO FURTHER!  DO I HAVE A PRODUCT FOR YOU! COMPENSATION: THE COMPLETE COLLECTION. -->
    </div>
</section>
{% endblock %}
{% block javascripts_inline %}
<script>
    $('#logs-table').DataTable( {
        "processing": true,
        "ajax": function (data, callback, settings) {
            callback(
                    jQuery.parseJSON( '{{ logs|raw }}' )
            );
        },
        "sAjaxDataProp": "data",
        "sScrollX": "100%",
        "sScrollXInner": "100%",
        "pageLength": 15,
        "pagingType": "numbers",
        "language": {
            "zeroRecords": "{{ 'trans.logs.no_gm_logs'|trans }}",
        },
        "columns":[
            {"data": "atcommand_id",
                render:  function (data, type, full, meta) {
                    return '<b>'+data+'</b>';
                }
            },
            {"data": "atcommand_date"},
            {"data": "char_name"},
            {"data": "map"},
            {"data": "command"}
        ],
        "order": [ 0, "desc" ],
        "columnDefs": [
            { "targets": 1,
                "width": "150px"}
        ]
    } );
</script>
{% endblock %}
