{% extends 'AppBundle::layout.html.twig' %}

{% block modals %}
    {% include 'AppBundle:Pages/Modal:download.html.twig' %}
{% endblock %}

{% block page_content %}
	<section class="main" id="main">
        <div class="home_bg"></div> <!-- GNU, stop having such a big screen https://puu.sh/sWlAG/157423fc7f.jpg-->
        <div class="home_crystal"></div>
		<div class="full">
			<div class="main_content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-4">
							<div class="main_link">
                                {% if app.user %}
                                    <a href="{{ path('panel_index') }}" class="sign_up_link" target="_blank">
                                        <img class="sign_up_img" src="{{ asset('bundles/app/img/home/ROM-HOMEPAGE-CP.png') }}" alt="{{ 'trans.sign_up_text'|trans }}" aria-label="{{ 'trans.control_panel'|trans }}"/>
                                    </a>
                                {% else %}
                                    <a href="#register" data-toggle="modal" data-backdrop=true class="sign_up_link">
                                        <img class="sign_up_img" src="{{ asset('bundles/app/img/home/ROM-HOMEPAGE-Signup.png') }}" alt="{{ 'trans.sign_up_text'|trans }}" aria-label="{{ 'trans.sign_up_text'|trans }}"/>
                                    </a>
                                {% endif %}
							</div>
						</div>
                        <div class="col-xs-4">
                            <img class="tagline_img" src="{{ asset('bundles/app/img/home/ROM-HOMEPAGE-Tagline.png') }}" alt="{{ 'trans.home.tagline'|trans }}" aria-label="{{ 'trans.home.tagline'|trans }}" />
                        </div>
						<div class="col-xs-4">
							<div class="main_link">
								<a href="#download"  data-toggle="modal" data-backdrop=true class="download_link">
									<img class="download_img" src="{{ asset('bundles/app/img/home/ROM-HOMEPAGE-Download.png') }}" alt="{{ 'trans.home.download_text'|trans }}" aria-label="{{ 'trans.home.download_text'|trans }}"/>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="clouds">
            <img src="{{ asset('bundles/app/img/home/ROM-HOMEPAGE-Clouds.svg') }}" />
        </div>
	</section>
	<section class="about_section" id="about">
		<div class="pre_descript"></div>
		<div class="descript">
            <div class="descript_text">
                <p class="descript_header text-right">A Place For Everyone</p>
                <p>
                    With the chance to get common cards increased to 0.2%, rebalanced leveling, four different War of Emperium environments, and plenty of content,
                    Rise of Midgard is a place where any type of player--whether they be casual or hardcore, new or old--can find what they love.
                    We would like for Rise of Midgard to be a place where you can enjoy Ragnarok Online's content to its fullest, a place you can call home.
                </p>

                <p class="descript_header text-right">Passion and Trust</p>
                <p>
                    Rise of Midgard is a project created by passionate Ragnarok Online players with the help of the community.
                    Our team is fair, easy to approach, and deeply caring. We endeavor to create the most <strong>attractive, balanced, and stable</strong> Ragnarok environment <strong>for you</strong>.
                </p>

                <p class="descript_header text-right">Content is Our Priority</p>
                <p>
                    Our server features dozens of events, unique instances, and a crafting system exclusive to Rise of Midgard.
                    Are you a fashion aficionado? We offer you a variety of ways to obtain pieces from our collection of 1500+ hats, accessories, pets and more! On top of this, you can choose from a wide variety of hairstyles and color palettes to design your character the way <strong>you</strong> want!
                    And if you were looking for more: <strong>Rise!</strong> Be Reborn again as a High Novice once you've reached the maximum level, and exchange points for exclusive items through the <strong>Rising Shop.</strong>
                </p>
            </div>
            <div class="descript_mid"><div class="descript_shard" style="transform: translateY(250px);"></div></div>
            <div class="descript_text">
                <p class="descript_header">Careful and Methodical Rebalancing</p>
                <p>
                    Years of experience, testing, and multiple discussions with our players have allowed us to carefully tweak some mechanics of the original game and rebalance party maps for an entirely new leveling experience.
                    We want to offer you a wide <strong>diversity of leveling locations</strong>, encourage party play, and shift the metagame in regard to competitive play
                </p>

                <p class="descript_header">A Unique Client</p>
                <p>
                    Thanks to our extraordinary development team, Rise of Midgard is the only server that has ever succeeded in making every player across the globe use their skills at the same pace, while preserving the original game mechanics.
                    We offer multiple ping reduction and customization functionalities, as well as enhanced security, as we strive for equality and fairness between players.
                </p>

                <p class="descript_header">Challenging and Updated PvP Environment</p>
                <p>
                    Tired of the same battleground modes? We made them shorter and more dynamic, for maximum action!
                    The competitive side of Ragnarok is just as valuable as the casual side to us. For that particular reason, we also created a Ragnarok World Championship TvT platform with events held regularly, and an instant WoE server to host Classic and Renewal WoEs.
                </p>
            </div>
		</div>
	</section>
	<section class="link_section">
        <div class="link_center">
            <a class="home_donate_link" href="{{ path('app_pages_cashshop') }}"><img src="{{ asset('bundles/app/img/home/ROM-HOMEPAGE-Donate.png') }}" alt="{{ 'trans.home.donate_text'|trans }}" aria-label="{{ 'trans.home.donate_text'|trans }}"/></a>
            <a class="home_review_link" href="http://ratemyserver.net/index.php?page=detailedlistserver&serid=19323&itv=6&url_sname=Rise%20of%20Midgard"><img src="{{ asset('bundles/app/img/home/ROM-HOMEPAGE-Review.png') }}" alt="{{ 'trans.home.review_text'|trans }}" aria-label="{{ 'trans.home.review_text'|trans }}"/></a>
            <a class="home_vote_link" href="{{ path('voting_page') }}"><img src="{{ asset('bundles/app/img/home/ROM-HOMEPAGE-Vote.png') }}" alt="{{ 'trans.home.vote_text'|trans }}" aria-label="{{ 'trans.home.vote_text'|trans }}"/></a>
        </div>
    </section>
{% endblock %}


{% block javascripts_inline %}
    <script>
        $(window).load(function() {
            if(location.hash == "#download")
                $('#download').modal('show');

            $("#scroll_about").on('click', function(event) {
                if (this.hash !== "") {
                    event.preventDefault();

                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top -50
                    }, 800, function(){
                        window.location.hash = hash;
                    });
                }
            });
        });
        var scrolled = $(window).scrollTop();
        $(window).scroll(function(e){
            scrolled = $(window).scrollTop();
        });
        window.requestAnimationFrame(parallax);

        function parallax(){
            $('.home_bg').css('transform','translateY('+Math.max(-400,-(scrolled*0.2))+'px)');
            $('.home_crystal').css('transform','translateY('+Math.max(-400,-(scrolled*0.4))+'px)');
            $('.descript_shard').css('transform','translateY('+Math.max(-50,Math.min(250,(350-(scrolled*0.3))))+'px)');
            window.requestAnimationFrame(parallax);
        }
    </script>
{% endblock %}
