{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
	<section class="main_content" id="main">
		<div class="container">
		</div>
	</section>
{% endblock %}
