{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
	<section class="main_content" id="main">
		<div class="container">
            <input type="radio" id="radioAnnouncement" name="newsType" checked>
            <input type="radio" id="radioPatchNotes" name="newsType">

			<div class="news_header">
                <label id="announceLabel" for="radioAnnouncement">
                    <img class="select" src="{{ asset("bundles/app/img/news/ROM-NEWS-ANNON.png") }}" alt="{{ 'trans.news.announcements'|trans }}"/>
                    <img class="unselect" src="{{ asset("bundles/app/img/news/ROM-NEWS-ANNON-unselect.png") }}" alt="{{ 'trans.news.announcements'|trans }}"/>
                </label>
				<img src="{{ asset("bundles/app/img/news/ROM-NEWS-Shard.png") }}"/>
                <label id="patchLabel" for="radioPatchNotes">
                    <img class="select" src="{{ asset("bundles/app/img/news/ROM-NEWS-PATCH.png") }}" alt="{{ 'trans.news.patch_notes'|trans }}"/>
                    <img class="unselect" src="{{ asset("bundles/app/img/news/ROM-NEWS-PATCH-unselect.png") }}" alt="{{ 'trans.news.patch_notes'|trans }}"/>
                </label>
			</div>

			<div class="news" id="announcements">
				{% for entry in announcements %}
					<div class="news_box">
						<div class="news_title"><a href="{{ entry['link'] }}" target="_blank">{{ entry['title'] }}</a></div>
						<div class="news_stats">Author: {{ entry['author'] }} | Published: {{ entry['published'] }} | Updated: {{ entry['updated'] }}</div>
						<div class="news_content">{{ entry['content']|raw }}</div>
					</div>
				{% endfor %}
			</div>
			<div class="news" id="patches">
				{% for entry in patches %}
					<div class="news_box">
						<div class="news_title"><a href="{{ entry['link'] }}" target="_blank">{{ entry['title'] }}</a></div>
						<div class="news_stats">Author: {{ entry['author'] }} | Published: {{ entry['published'] }} | Updated: {{ entry['updated'] }}</div>
						<div class="news_content">{{ entry['content']|raw }}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
