{% extends 'AppBundle::layout.html.twig' %}
{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
	<div class="content">
		<h1>Privacy Policy of Blazegames</h1>
		<p>Blazegames is committed to protecting your privacy and creating a strong relationship with our users. This privacy policy explains the use of personal information collected via (i) our websites, whether at www.riseofmidgard.com or other uniform resource locators (URLs) owned or operated by us, and (ii) our products and services, including without limitation those that we provide via our websites, other third party platforms, and desktop and mobile applications (collectively, all of the foregoing in clauses (i) and (ii) are referred to as our "Services").</p>
		<p>This policy does not apply to (a) the practices of companies that we do not own or control, (b) people that we do not employ or manage, (c) third party websites, whether linked to or from our Services, (d) information that you provide to us for purposes of seeking employment, provision of services to us, business proposals or similar matters, (e) information that you provide to us unsolicited, or (f) information that we collect offline.</p>
		<p>As used in this Privacy Policy, "personal information" means information about you that is personally identifiable, such as your name, e-mail address, phone number or physical address.</p>
		<p>Important: If you do not agree with any terms or conditions described in this Privacy Policy, please do not use our Services.</p>
		<p>This Privacy Policy governs the manner in which Rise of Midgard collects, uses, maintains and discloses information collected from users (each, a <strong>"User"</strong>) of the <a>http://riseofmidgard.com</a> website (<strong>"Site"</strong>).</p>

		<h3>Personal identification information</h3>
		<p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, place an order, respond to a survey, and in connection with other activities, services, features or resources we make available on our Site.Users may be asked for, as appropriate, name, email address. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>

		<h3>Non-personal identification information</h3>
		<p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.</p>

		<h3>Web browser cookies</h3>
		<p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>

		<h3>How we use collected information</h3>
		<p>Blazegames may collect and use Users personal information for the following purposes:</p>
		<ul>
			<li>
				<i>To run and operate our Site</i><br/>
				We may need your information display content on the Site correctly.
			</li>
			<li>
				<i>To improve customer service</i><br/>
				Information you provide helps us respond to your customer service requests and support needs more efficiently.
			</li>
			<li>
				<i>To personalize user experience</i><br/>
				We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
			</li>
			<li>
				<i>To run a promotion, contest, survey or other Site feature</i><br/>
				To send Users information they agreed to receive about topics we think will be of interest to them.
			</li>
			<li>
				<i>To send periodic emails</i><br/>
				We may use the email address to send them information and updates pertaining to their order.
			</li>
		</ul>

		<h3>How we protect your information</h3>
		<p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.</p>

		<h3>Sharing your personal information</h3>
		<p>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. </p>

		<h3>Electronic newsletters</h3>
		<p>If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc.</p>

		<h3>Compliance with children's online privacy protection act</h3>
		<p>Protecting the privacy of the very young is especially important. For that reason, we never collect or maintain information at our Site from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</p>

		<h3>Changes to this privacy policy</h3>
		<p>Blazegames has the discretion to update this privacy policy at any time. When we do, we will send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.</p>

		<h3>Your acceptance of these terms</h3>
		<p>By using this Site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.

		<h3>Contacting us</h3>
		<p>If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us.</p>
	</div>
</section>
{% endblock %}
{% block javascripts_inline %}
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'TBD', 'auto');
		ga('send', 'pageview');
	</script>
{% endblock %}
