<div class="status_wrapper">
    <div class="status">
        <span class="status_info"><strong>{{ 'trans.current_users'|trans }}</strong> <em>{{ player_count }}</em></span> |
        <span class="status_info"><strong>{{ 'trans.daily_active'|trans }}</strong> <em>{{ daily_active }}</em></span> |
        <span class="status_info"><strong>{{ 'trans.total_users'|trans }}</strong> <em>{{ total_count }}</em></span> |
        <span class="status_info"><strong>{{ 'trans.server_status'|trans|raw }}</strong> {% if isalive %} <img class="sign_up_img" src="{{ asset('bundles/app/img/on.png') }}" alt="{{ 'trans.online'|trans }}" aria-label="{{ 'trans.online'|trans }}"/> {% else %} <img class="sign_up_img" src="{{ asset('bundles/app/img/off.png') }}" alt="{{ 'trans.offline'|trans }}" aria-label="{{ 'trans.offline'|trans }}"/> {% endif %}</span>
    </div>
</div>
