{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        {% if saved == true %}
            <div class="alert alert-success">
                {{ 'trans.support.sent'|trans }}
            </div>
        {% endif %}
        <div class="support_box">
            <div class="support_title">{{ 'trans.support.header'|trans }}</a></div>
            <div class="support_content">
                <p>{{ 'trans.support.info'|trans }}</p>
                <hr class="darksep">
                <div>
                {{ form_start(form, {'attr': {'id': 'support-form', 'class': 'singular_form'}}) }}
                    <div class="form-group has-feedback {% if form.subject.vars.errors|length > 0 %}has-error{% endif %}"  id="support-subject">
                        {{ form_label(form.subject) }}
                        {{ form_widget(form.subject) }}
                        <span id="supportFeedback-subject" class="glyphicon form-control-feedback {% if form.subject.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
                        <span id="supportStatus-subject" class="errorStatus help-block">
                                <ul class="list-unstyled">
                                    {%- for error in form.subject.vars.errors -%}
                                        <li>{{ error.message }}</li>
                                    {%- endfor -%}
                                </ul>
                        </span>
                    </div>

                    <div class="form-group has-feedback {% if form.type.vars.errors|length > 0 %}has-error{% endif %}"  id="support-type">
                        {{ form_label(form.type) }}
                        {{ form_widget(form.type) }}
                        <span id="supportFeedback-type" class="glyphicon form-control-feedback {% if form.type.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
                        <span id="supportStatus-type" class="errorStatus help-block">
                                <ul class="list-unstyled">
                                    {%- for error in form.type.vars.errors -%}
                                        <li>{{ error.message }}</li>
                                    {%- endfor -%}
                                </ul>
                        </span>
                    </div>

                    <div class="form-group has-feedback {% if form.account.vars.errors|length > 0 %}has-error{% endif %}"  id="support-account">
                        {{ form_label(form.account) }}
                        {{ form_widget(form.account) }}
                        <span id="supportFeedback-account" class="glyphicon form-control-feedback {% if form.account.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
                        <span id="supportStatus-account" class="errorStatus help-block">
                                <ul class="list-unstyled">
                                    {%- for error in form.account.vars.errors -%}
                                        <li>{{ error.message }}</li>
                                    {%- endfor -%}
                                </ul>
                        </span>
                    </div>

                    <div class="form-group has-feedback {% if form.description.vars.errors|length > 0 %}has-error{% endif %}"  id="support-description">
                        {{ form_label(form.description) }}
                        {{ form_widget(form.description) }}
                        <span id="supportFeedback-description" class="glyphicon form-control-feedback {% if form.description.vars.errors|length > 0 %}glyphicon-remove{% endif %}" aria-hidden="true"></span>
                        <span id="supportStatus-description" class="errorStatus help-block">
                                <ul class="list-unstyled">
                                    {%- for error in form.description.vars.errors -%}
                                        <li>{{ error.message }}</li>
                                    {%- endfor -%}
                                </ul>
                        </span>
                    </div>

                    <button type="submit" class="btn btn_rom btn-block">{{ 'trans.form.submit'|trans }}</button>
                {{ form_end(form) }}
                </div>
            </div>
        </div>
{# Support History? #}
        <div class="content-center">
            <table id="history-table" class="table table-bordered table-striped table-responsive text-center">
                <thead>
                <tr>
                    <th>{{ 'trans.support.id'|trans }}</th>
                    <th>{{ 'trans.support.created'|trans }}</th>
                    <th>{{ 'trans.support.updated'|trans }}</th>
                    <th>{{ 'trans.support.type'|trans }}</th>
                    <th>{{ 'trans.support.subject'|trans }}</th>
                    <th>{{ 'trans.support.priority'|trans }}</th>
                    <th>{{ 'trans.support.status'|trans }}</th>
                </tr>
                <thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts_inline %}
<script>
    $("#support-form").submit(function(e){
        clearAllErrors();
        $('#loading').show();
    });

    $('#history-table').DataTable( {
        "processing": true,
        "ajax": function (data, callback, settings) {
            callback(
                    jQuery.parseJSON( '{{ history|raw }}' )
            );
        },
        "sAjaxDataProp": "data",
        "sScrollX": "100%",
        "sScrollXInner": "100%",
        "pageLength": 15,
        "pagingType": "numbers",
        "language": {
            "zeroRecords": "{{ 'trans.support.no_history'|trans }}",
        },
        "columns":[
            {"data": "id",
                render:  function (data, type, full, meta) {
                    return '<b>'+data+'</b>';
                }
            },
            {"data": "created"},
            {"data": "updated"},
            {"data": "type"},
            {"data": "subject"},
            {"data": "priority"},
            {"data": "status"}
        ],
        "order": [ 0, "desc" ]
    } );
</script>
{% endblock %}
