{% extends 'AppBundle::layout.html.twig' %}
{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
<style>
	div.content {
		counter-reset: scope;
	}
	ol.scope {
		list-style-type: none;
		counter-reset: item;
		counter-increment: scope;
		margin: 0;
		padding: 0;
	}

	ol.scope > li {
		display: table;
		counter-increment: item;
		margin-bottom: 0.6em;
	}

	ol.scope > li:before {
		content: counters(scope,".") "." counters(item,".") " ";
		display: table-cell;
		padding-right: 0.6em;
	}
</style>
<section class="main_content" id="main">
	<div class="content">
		<div>
			<h1>Terms of Use of Blazegames</h1>
			<p>Blazegames offers PC games and online safety solutions for worldwide users.
				In addition, available additional services are part of the products as defined above. These additional services include the purchase of virtual currency, which can be exchanged for virtual items such as content that can be downloaded, additional packages, server change, in-game name changes or other additional functions (in these Terms of Use referred to jointly as <strong>"Premium Features"</strong>) as well as additional services primarily to enable communication with other players (e.g. forums, chats, profile pages for users, rankings, etc.). In accordance with the rules of the respective games, the premium features offered for a fee can e.g. enable Users to use additional functions for specific periods of time.
			</p>
		</div>
		<div>
			<h3>&sect; 1 Scope</h3>
				<ol class="scope">
					<li>Within the framework of the Users' own technical and operational possibilities Blazegames allows the Users to participate in games. Blazegames provides all services in connection with the games solely based on these Terms of Use (hereinafter referred to as <strong>"Terms of Use"</strong>).</li>
					<li>Blazegames objects to the validity of any general terms and conditions of users. Any general terms and conditions of users become an integral part of the Agreement only if Blazegames provided its express consent to them in writing.</li>
					<li>Additional game rules, rules for use, participation requirements and communication rules (in these Terms of Use jointly referred to as <strong>"Game Rules"</strong>) of the respective games are published on its websites or in the games. By his/her participation, the User bindingly accepts these game rules.</li>
					<li>If these Terms of Use and the game rules are contradictory, these Terms of Use supersede the game rules, unless the game rules provide specifically for a priority ranking over the Terms of Use.</li>
					<li>Blazegames can utilize the services of independent third parties for the games (in these Terms of Use referred to as <strong>"Third Party Service"</strong>) such as app stores and social networks. No third party services are provided by third parties upon the instruction of Blazegames. Third party services are not provided by Blazegames. Blazegames or the third party will identify these services in a suitable manner. Any issues in connection with third party services are not affected by these Terms of Use. Blazegames shall not be responsible for third party services. Third party services are potentially subject to their providers' general terms and conditions.</li>
				</ol>
		</div>
		<div>
			<h3>&sect; 2 Users eligible to participate</h3>
			<ol class="scope">
				<li>Blazegames offers its games only to consumers. It is prohibited to use the games for commercial purposes. Participation in the games is for entertainment purposes only.</li>
				<li>Only persons of legal age or persons whose legal guardians have provided consent to the use are allowed participation. Expressly barred from participation are persons whose account or game registration has been barred by Blazegames in accordance with
					&sect; 5.15 - 5.17 or &sect; 12.</li>
				<li>With his/her account registration or participation in a game, the User represents that he/she is of legal age and of legal capacity. If the User is a minor, then the legal guardian must provide consent. Blazegames is entitled to request at any time written proof of the User's legal age or the written consent of the legal guardian.</li>
				<li>As soon as a minor uses his/her account after he/she becomes of legal age, then all Agreements in connection with him/her concluded before achieving legal age are deemed approved provided he/she does not revoke the approval toward Blazegames within two weeks upon reaching legal age.</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 3 Registration / date of effectiveness of the Agreement</h3>
			<ol class="scope">
				<li>The participation in a game that is not a social game requires the prior registration and creation of a membership account at Blazegames (in these Terms of Use referred to as <strong>"Account"</strong>). The User registers either online by filling out the registration form on the website of the respective game, directly on the website of Blazegames, in the game itself, or using the registration function of a social network such as Facebook Connect or by any other website or landing page. In addition, Blazegames is entitled to use an additional procedure during which the e-mail address of the User will be verified by visiting a confirmation link sent by Blazegames via e-mail. After the account has been created successfully, the User can log in for participation in one or several games (in these Terms of Use referred to as <strong>"Game Registration"</strong>) as well as other services that are part of the game (such as the use of corresponding forums).</li>
				<li>A connection of the social game to the membership account of the social network is required for the participation in social games within social networks. The terms and conditions of the corresponding social network apply to the membership account. When connecting with the social network, the social network provides Blazegames with the personal information of the player. Further information about the collection and use of data are found in the privacy policy of the respective game.</li>
				<li>Prior to sending the registration form, the User can print out the Terms of Use or save them to a permanent data storage device.</li>
				<li>By sending his/her registration, the User sends an offer to conclude a user agreement with Blazegames (in these Terms of Use referred to as <strong>"User Application"</strong>). However, this does not conclude an agreement. The agreement is only concluded upon Blazegames' acceptance of the user application. Blazegames confirms access to the user application by sending an electronic mail to the e-mail address specified by the User. The confirmation of receipt is not an acceptance of the user application. The acceptance of the user application can be made in connection with the confirmation of access if expressly carried out that way. In addition, the acceptance can be expressly confirmed outside the confirmation of receipt or by the first deed of performance by Blazegames. There is no entitlement to the conclusion of an agreement to establish an account, to the participation in games or to the use of virtual currency or premium features.</li>
				<li>If the User subscribes to services of Blazegames and the User has to pay for services for a specific period, then he/she concludes a subscription agreement with Blazegames, which is subject to a fee. In this context, the User's order of a subscription is a binding offer to conclude a subscription agreement. An agreement on the conclusion of a subscription is only effective upon the express acceptance declaration of Blazegames, which is sent by e-mail.</li>
				<li>Blazegames is entitled but not obliged to verify the accuracy of the User's information. This may be done by Blazegames requesting documents to prove the identity such as a personal ID card. Blazegames is entitled to make the creation of an account subject to such verification.</li>
				<li>For game registration, Blazegames can request storage of a game-specific member name and password during game registration. This is only required for the identification in the game and not for registering an additional account. Blazegames provides just the sales channel for some games. These games are operated by other providers (in these Terms of Use referred to as "Third Party Games"). An account and additional acceptance of general terms and conditions of the third party game are required for the participation in third party games. During the selection of the game, the User will be informed whether it is a third party game and what terms and conditions the provider requires for participation.</li>
				<li>Every account is linked to one specific e-mail address. The number of accounts the User can establish is restricted to five. A separate e-mail address must be used for each of the accounts. One account can be used for all games.</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 4 RIGHT OF WITHDRAWAL</h3>
			<ol class="scope">
				<li>Right of withdrawal
					<p>You have the right to withdraw from this contract within 14 days without giving any reason.
						The withdrawal period will expire after 14 days from the day of the conclusion of the contract. To exercise the right of withdrawal, you must inform us (<a href="mailto:riseofmidgard@gmail.com">riseofmidgard@gmail.com</a>) of your decision to withdraw from this contract by an unequivocal statement. You may use the model withdrawal form, but it is not obligatory.</p>
					<p>To meet the withdrawal deadline, it is sufficient for you to send your communication concerning your exercise of the right of withdrawal before the withdrawal period has expired.</p>
				</li>
				<li>Effects of withdrawal
					<p>If you withdraw from this contract, we shall reimburse to you all payments received from you, including the costs of delivery (with the exception of the supplementary costs resulting from your choice of a type of delivery other than the least expensive type of standard delivery offered by us), without undue delay and in any event not later than 14 days from the day on which we are informed about your decision to withdraw from this contract. We will carry out such reimbursement using the same means of payment as you used for the initial transaction, unless you have expressly agreed otherwise; in any event, you will not incur any fees as a result of such reimbursement.</p>
				<li>Premature expiration of the right to cancel
					<p>In the case of a contract for the delivery of any digital content not delivered on a physical hard drive, your right of withdrawal will expire early if you have expressly agreed that we may begin execution of the contract before the end of the cancellation period, and if you have confirmed your understanding that you will lose your right of withdrawal by consenting to such execution of the contract.</p>
				</li>
				<li>Model withdrawal form<br>
					<div>To withdraw from this contract of sale, please send us the following information:
                        <div class="well">
                            I/we (*) hereby cancel the contract which I/we (*) entered into for the purchase of the following products (*)/provision of the following services (*)<br>
                            Ordered on (*)/received on (*)<br>
                            Name(s) of consumer(s)<br>
                            Address of consumer(s)<br>
                            Date
                        </div>

                        (*) Please delete the unnecessary word or phrase<br><br>
                        Please address to:<br>
                        <address>
                            <strong>Rise Of Midgard</strong><br>
                            <a href="mailto:riseofmidgard@gmail.com">riseofmidgard@gmail.com</a>
                        </address>
					</div>
				</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 5 Limits of use / prohibited conduct</h3>
			<ol class="scope">
				<li>Blazegames provides the games solely for use in accordance with these Terms of Use. The automatic establishment or registration of accounts or game registration is not permitted. Automated login is prohibited. Only the official clients and apps or websites provided by Blazegames may be used to connect to the servers.
				<li>The participation in the same game by the same User utilizing several accounts or game registrations is possible unless the game rules of the respective game expressly prohibit it. The game rules can limit the User's participation with several accounts and/or game registrations.
				<li>The User is prohibited from transferring his/her account and/or individual game registrations to third parties without the prior written consent of Blazegames. Any transfer consent of Blazegames does not entitle to transfer for a fee provided this has not been expressly permitted in the consent. The same applies to individual characters/game figures/avatars, which the user has created within the game.
				<li>The User is not entitled to use any means, mechanisms or software in connection with any game or any other services provided by Blazegames, which can disturb the function and the game's process. The User may not undertake any action, which can result in an unreasonable or excess load of the technical capacities of Blazegames. In particular, the User is not permitted to block, overwrite or modify the contents generated by Blazegames unless Blazegames has permitted it specifically in writing.
				<li>The User will refrain from anything that could endanger the performance and availability of the games or any other services.
				<li>The User may not utilize any ancillary means, which maliciously modify the game score or the game process (specifically so-called "bots", "hacks" or "cheats"). In addition, the user may not offer or promote such ancillary means. In particular, the User is prohibited from using third party software or other applications to obtain virtual currency, premium features or other benefits such as the systematic or automatic control of a game or of individual game functions. The same applies to the intentional utilization of program errors ("exploits") for one's own benefit.
				<li>The User is prohibited from selling, purchasing, renting, leasing, offering, accepting, disseminating or copying virtual items or virtual currency within and/or outside the games - in whatever form - to third parties unless expressly permitted by the game rules. A system provided by the game or by Blazegames to trade virtual items and virtual currency of the game, constitutes such an exception. In this case, the transfer of virtual items or virtual currency from one user to the other is only permitted, if the transfer takes place - no matter if within or outside the game - without consideration in exchange or if the consideration consists solely of virtual items or virtual currency of the same game and these are transferred within the game itself by a function provided by the game. The acquisition of virtual currency and virtual items against consideration in any form other than virtual currency and virtual items of the same game is expressly prohibited. If the User trades or exchange virtual currency or virtual items in a large-scale without a comparable value obtained within the game, then it is assumed that the User violates this &sect; 5.7. The User is entitled to provide counter-evidence.
				<li>Blazegames prohibits such actions because it does not intend to commercialize game content and asset and status positions acquired within games and it would like to ensure that Users always play in a fair manner. Any violation against the above-referenced ban to sell, leads to the immediate block of the User's account.</li>
				<li>The User knows that when he/she plays, he/she plays and communicates with numerous other players. Compliance with the game rules is required to allow good interaction. The User acknowledges bindingly the game rules of the games. The User will comply with the instructions of Blazegames represented by the administrators of the game. Furthermore, the User will refrain from undertaking anything that disturbs operation of the games and the good interaction of all users.</li>
				<li>By using the services, the User will not violate any applicable legal provisions such as the criminal code and youth protection provisions or third party rights and the User assures not to contribute or transmit any illegal or immoral contents to the games. This includes specifically any contents (including member names, character names, guild names, etc.), which are<br>
					- insulting, racist, sexist, pornographic, obscene, inciting, glorify violence or war,<br>
					- suitable to cause serious moral harm to children and young people or which threaten their wellbeing,<br>
					- which can damage the reputation of Blazegames and contents,<br>
					- suitable to violate copyrights, patents, brands or any other intellectual property rights, the rights on a person's own image and other personal rights or third party rights.</li>
				<li>The User is not permitted to disseminate commercial advertising for third party products or programs, to send unsolicited mass mails and unsolicited advertising in the games. The User will honour the privacy of third parties. In addition, the User is not permitted to disseminate in the games unauthorized any third party work that is protected by copyrights or other rights. Moreover, the User is not allowed to refer to offers with such content.</li>
				<li>Subject to Blazegames' express written permission published on the websites or in the games, it is generally not permitted to insert into the games any references (in these Terms of Use referred to as <strong>"Links"</strong>) to external websites and sources of information and links and other connections (such as buttons). Links are also non-activated web addresses (URLs) and parts thereof.</li>
				<li>Blazegames is entitled to stop such violations against this &sect; 5. In addition, Blazegames is entitled to delete the contents of the User. The same applies to definite indications of a violation against these Terms of Use or the game rules or to contents, which are otherwise illegal. There is no entitlement to the recovery of deleted content. Such claim is also voided if the restoration is not possible for technical reasons.</li>
				<li>Therefore, Blazegames is authorized to implement suitable measures and programs to uncover any contractual violations of Users. Blazegames can set a deadline for a written statement for the User, in the event of a justifiable reason. If the statement of the User is unsuitable to dispel the suspicion of a violation or culpable act of the User, then Blazegames is entitled to assume a culpable violation of contractual duties. Blazegames reserves the right to check individual actions for plausibility and compatibility with &sect; 5.1 to 5.12 and - if necessary - to stop these actions.</li>
				<li>Blazegames is entitled to transmit User data and User content to third parties and/or delete these provided it is permitted under legal provisions or mandated by court or government order. The same applies to the disclosure of User information.</li>
				<li>If the User violated culpably the contractual duties and particularly &sect; 5.1 to 5.12, then Blazegames is entitled to block the access to the User's account or individual games temporarily after prior warning letter and the threat of blocking the account. By blocking the account, the User loses access to his/her account and all games.</li>
				<li>Any warning threatening to block the account can be foregone, if there are special circumstances that justify the immediate block of the access in consideration of mutual interests.</li>
				<li>Blazegames shall notify the User about the reason for the block. Blocking the account includes the right of Blazegames to remove immediately from the database and the games all contents and information from the blocked User. Moreover, Blazegames can resort to other, less stringent measures within the framework of exercising the virtual domiciliary right. Primarily in all violations of &sect; 5.7 to 5.12 Blazegames can temporarily block the access to forums or block the option to participate in chats.</li>
				<li>Without the prior express written consent of Blazegames, any blocked User is prohibited from creating a new account, if his/her account was blocked, or to register for a game, if the access was blocked. If Blazegames finds that this ban was violated, then Blazegames has the right to block this account or game registration permanently without prior announcement.</li>
				<li>If Blazegames has the right to block the User's access to a game, then Blazegames is also entitled to block the User's access to further services in connection with this game (such as forums applicable to this game, etc.).</li>
				<li>The provisions of this &sect; 5 do not limit the termination right of Blazegames - particularly the right to terminate effective immediately - in accordance with &sect; 12. In addition, they do not limit the right of Blazegames to exercise the virtual domiciliary right.</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 6 Virtual currency / premium features / payment transactions / data connections</h3>
			<ol class="scope">
				<li>In general, the User can play the games free (in these Terms of Use referred to as "Free-2-Play"). In addition, in connection with the games, the User can purchase virtual currency and premium features. The User will be expressly notified if the service is not free and the User will be informed about his/her right of withdrawal. There is no obligation to use the services repeatedly unless the User has subscribed to them. Neither this Agreement nor the existence of an account or game registration give the User the right to use any sequels of the game or expansions, adventure packs or similar additional products without payment of applicable fees.</li>
				<li>In general, Users have the option to purchase virtual currency for these games for a fee. In this context, the Users generally acquire virtual currency for one or several specific games. This is dependent on the availability in the account or the game itself. Any virtual currency acquired by the User can be exchanged among others for items and/or other premium features. In addition to receiving virtual currency, Blazegames can offer Users, depending on the game, the option to utilize premium features in exchange for paying a fee. Blazegames can offer Users to subscribe to individual or several of the above-referenced services. Blazegames informs the User of the respective features, requirements and prices of the virtual currency or premium features prior to the User's use in the respective game or on the website of Blazegames.</li>
				<li>In the event of the conclusion of a subscription agreement, Blazegames is entitled to debit the User's credit card or bank account for the subscription fees plus any applicable value-added-tax. The content of services and prices of the subscription is specified in the pricing and services' guide effective at the time of the conclusion of the agreement retrievable at any time on the website or in the games. The subscription agreement is concluded for the period specified in the contract documents. The duration of the subscription renews itself automatically by the original period unless the User has terminated the subscription in accordance with &sect; 12.4. The subscription ends automatically and his/her access to games will be restricted to the utilization of the free-2-play features, if the User does not meet his/her payment obligations.</li>
				<li>The games may require different technical equipment (e.g. graphic card, browser, etc.) in order to be able to utilize them without any problems. Blazegames recommends that the User try out the services prior to purchasing virtual currency, premium features and/or subscriptions. This way, the User can determine whether his/her terminal device meets the technical requirements for trouble-free use of services.</li>
				<li>Children under the age of 7 are excluded from the use of the purchased services. If the User is older than 7 years, but below the age of 18, he/she needs the consent of his/her legal guardian to purchase virtual currency, premium features and/or subscriptions or he/she needs spending money provided by his/her legal guardian at his/her free disposal.</li>
				<li>The prices as published on the Internet sites of Blazegames and as specified in the respective shopping carts at the time of the order will apply. Any prices, which may be specified differently on the pages, which are loaded from the cache, are outdated and invalid. Blazegames is entitled to rescind the agreement if spelling errors and errors in calculation are found on the websites of Blazegames or in any offers provided by Blazegames. If orders are processed through an app store, a social network or third party game, then the corresponding terms and conditions apply.</li>
				<li>The User makes an offer to purchase virtual currency or premium features by selecting the type and quantity on the order site and by clicking the order button of the game. The agreement on the purchase becomes effective by Blazegames fulfilling the order and crediting the account for the respective virtual currency or premium features. In accordance with &sect; 9.8, Blazegames decides on the acceptance of the offer within 24 hours subject to the availability of the games. With regard to the acquisition of virtual currency or premium features via in-app-purchase in accordance with &sect; 6.11, the terms and conditions of the app store used apply as a matter of priority.</li>
				<li>Any subscription and virtual currency or premium features the User purchased are credited to his/her personal account. In addition, virtual currency does not expire for as long as the use agreement between User and Blazegames is in force. If it is possible to refund credit balances of virtual currency in various cases of termination of the use agreement, then it is mentioned expressly in these Terms of Use.</li>
				<li>Virtual currencies and premium features, specifically virtual items are not material things. Therefore, Blazegames does not transfer ownership to their Users but only a right to use. To the extent that the term "Selling" is used in connection with the purchase of virtual currency or premium features or when exchanging virtual currency for premium features, then this specifies the act of granting a right of use. The terms "Buyer", "Seller", "Sale", "Purchase" and similar terms have accordingly the same meanings. The scope and duration of the granted right of use depend on the type of virtual currency and the premium feature. The right of use ends at the latest at the time the agreement to use the games concluded between User and Blazegames is terminated. Virtual currency is not real money. Moreover, virtual currency is no means of payment or e-money in accordance with the banking laws and specifically in accordance with the Payment Services Regulatory Act (ZAG). Blazegames prohibits an exchange of this virtual currency into real money (for more information see &sect; 5.8). The User cannot exchange into money the virtual currency he/she purchased subject to any constellation regulated in these Terms of Use. The same applies to virtual currency, which the User has won while playing the games.
				<li>The premium features acquired through virtual currency or real money cannot be changed back to virtual currency or real money subject to any constellation regulated in these Terms of Use. Premium features used in the games can be subject to run-times and expire at the end of this period. The respective effective periods are clearly identified during the purchase.</li>
				<li>A use fee for games accessible with an app may become due and payable prior to the installation of the game. In addition, even games which can only be played with the use of an app can include virtual currency and premium features in accordance with &sect; 6.2. In this context, Blazegames can embed third party services of an app store to enable the purchase of virtual currency directly in the app through the app store (in these Terms of Use referred to as "In-App-Purchase"). The User enters into a purchase agreement with the app store in the case of an in-app-purchase. In this case, the User has no right to cancel with regard to Blazegames. To the extent that social networks offer the option to purchase virtual currency or premium features then the rules for in-app-purchases shall apply accordingly.</li>
				<li>The payment for virtual currency and premium features are to be paid by the User in advance at the time of the final order confirmation by Blazegames or a payment service provider utilized by Blazegames. In the event of default, Blazegames is entitled to charge late fees at the legal amount, to stop services and to block the User's account. Blazegames terminating the use agreement effective immediately is considered under the conditions specified in &sect; 12.</li>
				<li>Depending on the User's creditworthiness and the User's country of origin, Blazegames offers the User various payment options such as account debit or payment by credit card. The User is not entitled to use specific payment methods not already offered. If User utilizes a social game or app store, then User can only use the payment systems established at the respective social network or app store.</li>
				<li>The User shall pay all fees, if User is at fault or User's account is insufficiently covered and consequently Blazegames receives charge-backs and/or is charged for cancellations by the later cancellation of debits or credit card collections. Blazegames is entitled to request from User these expenses together with the original fee and to execute a one-time debit for this amount. If the User is responsible for any reverse charges (e.g. for insufficient funds in the User's account), then the User is obliged to reimburse Blazegames for any proven, reasonable damage Blazegames sustained thereby. If the direct debiting system or a credit card is used for payment and reverse charges apply, then Blazegames will charge the User a flat fee of &euro; 10.00, which is the expense Blazegames is invoiced by third parties. The User can prove that Blazegames did not sustain its claimed damage or the claimed damage was significantly lower than the flat fee. Blazegames' claim for additional damages shall remain unaffected thereby.</li>
				<li>The User can only set-off any fees if the counterclaims against Blazegames are undisputed or legally determined by a court of law. The User may only exercise the right of retention, if the counterclaim is based on the same contractual relationship. The User's assignment of claims against Blazegames to any third parties is excluded.</li>
				<li>Blazegames can offer the User alternative payment methods, by which the User uses third party services and which may require considerations other than monetary payments. To the extent, the User utilizes third party services the User concludes an additional agreement between the User and the corresponding third party. Such agreements may potentially include third party terms and conditions. The contents of these agreements and these terms and conditions are beyond the influence of Blazegames and Blazegames has generally no knowledge of these contents.</li>
				<li>Games can be played via landline connections and mobile data connections. Blazegames points out specifically that the games require in part a high data volume and the User may incur costs payable to the operator of the data connection. The prices for the utilization of data are described in the corresponding provider's description of services. Blazegames cannot provide any support in connection therewith.</li>
				<li>Blazegames is entitled to reduce and/or increase the prices for virtual currency and premiums features or it may offer new products, services, or invoicing modalities permanently or only for a limited time. Blazegames will notify the User by e-mail or within the game of any subscription price changes. These changes are deemed accepted by the User, if the User has not objected to the price changes in part or in whole in writing or by e-mail within six weeks upon receipt of the information on the price change. In this notification, Blazegames will inform the User expressly about the consequences of his/her reply. Irrespective thereof, the User can also exercise his/her right to termination as described in &sect; 12.</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 7 Duties and obligations of Users</h3>
			<ol class="scope">
				<li>The User's primary duty is the payment of any fees that are potentially due and payable. Another primary duty of the User is the duty to ensure the data provided to Blazegames at the time of the conclusion of the agreement or during the further contractual relationship is accurate and complete. Therefore, the User assures that the information he/she provides about his/her person within the framework of the contractual offer or the conclusion of the agreement or in the continuation of the contractual relationships and other contractual circumstances, specifically the banking information and credit card number, are complete and accurate.
				<li>Blazegames protects its systems against virus attacks. Despite all precautions, a virus attack can never be fully excluded. In addition, it may happen that unauthorized third parties send e-mails using the name of Blazegames without consent of Blazegames. These e-mails may for example contain viruses or so-called spyware or links to web contents that contain viruses or spyware. These acts are beyond the influence of Blazegames. Therefore, the User should scan for viruses all incoming e-mails sent under the name of Blazegames. The same applies to e-mails of other Users.
				<li>Blazegames is not responsible for damages or the loss of data, which can occur on the User's terminal device by installing software that is not from Blazegames.</li>
				<li>The User agrees to keep strictly confidential the access data (login data, passwords, etc.) required to access the games and not to disclose them to any third party unless Blazegames has approved the transfer of the account in writing or has consented to the game registration beforehand in writing.</li>
				<li>The User agrees that User will under no circumstances participate in unauthorized use of the terminal device, the account or game registration, the login name or password of any other user. If a third party uses an account or a game registration after gaining possession of the access data because User did not sufficiently secure these from third party access, then the User must allow being treated as if he/she has acted on his/her own. The same applies to the third party use of any mobile terminal device. If the User does not play games with his/her own mobile terminal device or his/her own data connection then User must obtain consent from the respective owner. For this event, User guarantees Blazegames that such consent was provided.</li>
				<li>The User will inform Blazegames immediately as soon as he/she becomes aware that unauthorized third parties have knowledge of the access data or unauthorized third parties use his/her terminal device. Blazegames points specifically out that for security reasons access data should be changed regularly.</li>
				<li>In case of a justifiable suspicion that access data are known to unauthorized third parties or mobile terminal devices were used by third parties, then for security reasons Blazegames has the right but it is not obliged to change the access data at its own discretion but without prior notification or Blazegames has the right to block the account or game registration. In this case, Blazegames informs the authorized User immediately and upon request, it provides the new access data within a reasonable time. The User has no claim for his/her original access data to be restored.</li>
				<li>Blazegames communicates with the Users generally by e-mail unless otherwise specified by these Terms of Use or by another agreement with the User. Therefore, Users must ensure that they get these e-mails, which Blazegames mails to the e-mail address provided by the User during registration or during a later time. Users will configure their settings of the spam filter accordingly and will check this e-mail address regularly. Furthermore, Blazegames shall be entitled to choose any other suitable form of correspondence.</li>
				<li>Users can contact Blazegames through the media and addresses listed under &sect; 4 "Instructions on the right of withdrawal". For reasons of evidence, Blazegames recommends that User sends in text form (e.g. by e-mail) any significant matters concerning his/her subscriptions (such as terminations, complaints, etc.), provided these Terms of Use do not require any other form.</li>
				<li>Blazegames points out expressly that customer service representatives and personnel ordered to monitor compliance with game rules are not authorized to agree on any changes to the use agreement. This affects specifically hosts, game masters and customer service representatives.</li>
				<li>The User is obliged to maintain his/her terminal device in a condition that allows using the games. Blazegames provides system requirements and compatibility information to the best of its knowledge. To use the games, the User's terminal device must comply at least with the minimum system requirements and he/she must have an Internet connection; neither is provided by Blazegames. Due to the multitude of terminal devices, system configurations, network operators and operating systems, it is impossible for Blazegames to check and ensure the games ability to work in all constellations. Blazegames recommends the User to consult in addition to the system requirements and compatibility information published by Blazegames in accordance with the best of its knowledge to consult also discussion forums and lists with frequently asked questions (FAQ) about the respective games. It can happen that games cannot be used with all browsers, mobile terminal devices or connected devices or games may subject to limitations even if this is not specifically stated in the system requirements and the compatibility information.</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 8 Advancements / quality / roll-back/ beta tests / deficiencies</h3>
			<ol class="scope">
				<li>It is in the nature of the offered games that these are continuously advanced and updated. Changes can be the result of loading updates, which ensure and improve playability. By changing and advancing games, Blazegames intends to provide Users fun with the games for as long as possible. Therefore, Blazegames grants the User access to games in their available form or version. Changes and advancements can affect system requirements and compatibility requirements. The User has no claim for maintaining or reconstruction of a specific condition of scope of services of the game. Any of the User's claims for deficiency, which refer to the technical playability of the game itself, shall remain unaffected thereby. Due to the continuous advancement of the games, Blazegames reserves the right to offer new virtual currencies and premium features and/or to remove them from the offer, to change them or to provide them in the free base version. The User consents for Blazegames and its licensors to change the games and virtual currencies continuously and to add, delete, re-introduce and change premium features. In addition, the User consents for Blazegames and its licensors to be able and to change properties, functions, or capacities of every game element or the virtual currencies and premium features at their own discretion (which can improve or reduce the effectiveness and function of premium features significantly, which can change their distribution or which can remove them entirely). If the User paid already for a future period for virtual currency or premium features and he/she can no longer use these for the above-referenced reasons or these are also provided for the free basic version, the Blazegames will offer other virtual currency or premium features for the game and/or reimburse prorated the User for the amount according to the User's choice. In these cases, the User has the right to terminate the use agreement effective immediately. Further claims of the User are excluded in this context.</li>
				<li>Blazegames points out that the games are in accordance with the state of the art but any absence of defects in the games cannot be guaranteed. For this reasons, the User must take into consideration that games do not work flawlessly in each function. Blazegames tries its best to provide games without glitches, which ensure complete playability of games. However, any minor software glitches in the games - as with any software - cannot be completely excluded. The User can only claim any damages for deficient games if playability or use is seriously and lastingly impaired.</li>
				<li>The User knows that games can be subject to technical limitations. This applies specifically to the maximum memory capacity or maximum size of data and the maximum number of news and publications.</li>
				<li>Blazegames is entitled to delete data and/or refuse storage of additional data if the technical limits are exceeded and in consideration of the provisions of these Terms of Use. Blazegames will notify the User prior to deleting the data.</li>
				<li>In exceptional cases such as within the framework of updates or error rectifications, it may be required to reset a game to an earlier status in order to prevent any greater damage (in these Terms of Use referred to as "Roll-back"). In this context, the game progress, game score, high scores and achievements/accomplishments, etc. is reset to a corresponding earlier status; any changes in the interim or any developments are lost. To the extent technically possible, Blazegames will restore any virtual currency or premium features the User loses because of such rollback. Further claims of the User are excluded unless otherwise specified in these Terms of Use. Blazegames is entitled but not obliged to grant individual Users a voluntary bonus e.g. in form of virtual currency or premium features. It is at Blazegames' discretion to grant such a bonus and it does not oblige Blazegames to grant a bonus during future rollbacks to other Users or the same Users.</li>
				<li>Blazegames can offer the User for the purpose of testing participation in or use of games, game elements, services and contents not ready to market (in these Terms of Use referred to as "Beta Test"). Beta tests can include programming errors - even serious ones - known or unknown to Blazegames. These may lead to the game or the User's terminal device to crash. Within the framework of beta tests, Blazegames delete or add contents at any time among others to search for errors and to improve the game experience. Furthermore, it can reset game scores, install backups or create specific game scores. The User is not entitled to the restoration of a specific game status. Blazegames can extend, shorten any beta test in whole or in part at any time.</li>
				<li>The User will always document in a meaningful manner any defects occurring in the games and the User will specifically report these in writing logging the displayed error messages. Prior to reporting any error, the User should consult the game or service instructions and perhaps any other support for troubleshooting provided by Blazegames (particularly lists with frequently asked questions, discussion forums about problems). In any possible rectification of defects, the User will support Blazegames to the best of his/her abilities.</li>
				<li>Excluded from warranty are generally such errors, which occur through external influences such as operating errors by the User, force majeure or any modifications, not carried out by Blazegames or any other manipulations.
				<li>Blazegames does not assume any guarantees in a legal sense.</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 9 Limited liability / availability</h3>
			<ol class="scope">
				<li>If Blazegames requires payment of a fee for the services, then Blazegames shall only have an unlimited liability for damages if it acted wilfully and with gross negligence. In the event of any violation of significant contractual duties, Blazegames shall also be liable in the event of slight negligence. Significant contractual duties or so-called cardinal duties in accordance with the law are such duties, which only allow proper execution of the agreement and on the fulfilment of them the User can depend.</li>
				<li>To the extent Blazegames provides free services, Blazegames shall only be liable for damage compensation if it caused the damage by gross negligence or wilfully.</li>
				<li>The replacement duty is always limited to the foreseeable damage in case of a violation of significant contractual duties.</li>
				<li>The typical foreseeable damage in accordance with the above-referenced &sect; 9.3 shall be no more than EUR 50.00 per account.</li>
				<li>The above-referenced liability limitations do not apply to the liability in the event of injury to life, body and health or in case Blazegames assumed a guarantee or in case of liability.</li>
				<li>Blazegames shall be liable for advice only if it concerns a problem with its games.</li>
				<li>A change of the burden of proof to the disadvantage of the Customer is not connected with the above-referenced regulations.</li>
				<li>On an annual average, Blazegames guarantees availability of 95% for each game. Exempt therefrom are periods, during which the server for the individual games cannot be reached because of technical or other problems beyond the influence of Blazegames (e.g. force majeure, culpability of third parties, etc.). The periods during which regular maintenance takes place are also exempt therefrom. Blazegames can limit access to games, if required for the security of the network operation, the maintenance of the network integrity, particularly to avoid any serious malfunctions of the network, software or stored data; these periods are not considered in the calculation of availability. Blazegames' liability for non-availability of the server shall remain unaffected in the case of intent and gross negligence. Details on the liability of Blazegames are described in &sect; 10. The games of Blazegames may not be retrievable worldwide. Whether the games can be retrieved fully or in a limited manner may depend on legal regulations and licensing requirements in particular countries. The description of the respective game may include more details about this situation.</li>
				<li>The above-referenced indemnifications or limitations to liability apply also to the liability of employees, workers, staff members, representatives and agents of Blazegames, in particular to the benefit of shareholders, employees, representatives, company bodies and their members with regard to their personal liability.</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 10 Third party contents / responsibility</h3>
			<ol class="scope">
				<li>Blazegames provides Users communication options, which Users can use to communicate with one another. Users themselves are responsible for this communication and all other contents (particularly in form of texts, photos and graphic images), which Users publish on the Internet site or in a game. Blazegames does not assume any liability for information and statements made by the User. Blazegames shall not be liable for any User's violations of duty toward any third party or the User himself/herself. For Blazegames, these contents are third party contents in accordance with Section 8 (1) of the Telemedia Act (TMG). In accordance with legal provisions, as service provider Blazegames is not obliged to monitor the transmitted or stored information or to search for circumstances, which point toward an illegal activity. Blazegames does make the contents its property and it does not acknowledge these. Blazegames shall not be responsible for the content of linked pages to the extent that Users provide links to other sites operated by third parties. Blazegames does not check these sites and it expressly distances itself from their contents. If Blazegames becomes aware of illegal contents through a notification, then Blazegames will exercise its rights to delete and immediately remove them or it will block access to these contents and it will investigate and perhaps initiate further sanctions against the User.</li>
				<li>Blazegames merely provides the technical platform to publish the contents provided by Users. Blazegames is not responsible for third party content or content to which Blazegames merely negotiates access, or, which Blazegames forwards unchanged. The same shall apply for the unchanged buffer storage of third party contents. Blazegames informs the User that Blazegames reviews only contents if Blazegames has been notified that the contents are illegal. Blazegames encourages Users expressly to report any illegal contents to customer services on <a href="/support/">https://riseofmidgard.com/support/</a></li>
			</ol>
		</div>
		<div>
			<h3>&sect; 11 Intellectual property rights and copyrights / user-generated contents</h3>
			<ol class="scope">
				<li>Blazegames or its respective licensor is the exclusive owner or exclusive owner of the rights of all contents of the respective games. The content is protected by national and international law and particularly by copyright. The unauthorized dissemination, copying, deletion or any other violation of intellectual property rights and copyrights of Blazegames are prosecuted under both civil and criminal law.</li>
				<li>Within the framework of the use of the games, Blazegames provides in part software to the User (e.g. the client). Blazegames grants the User the non-exclusive right limited to the period of use of the games for this software within the framework of a non-commercial use on the User's respective terminal device. The User may only copy this software for the purpose of backup and archiving for personal purposes, unless Blazegames permits the User explicitly the passing on of the software. The User agrees to retain the information about the intellectual property, which is marked on the software, also on copies of the software or in this software and to comply with all laws applicable to the use of the software.</li>
				<li>The User is not permitted to copy the game or the software in whole or in part (with the exception of any necessary backup copy) or to disseminate, to sell, auction, rent, lease, modify, or develop derived works, to edit, translate, execute, exhibit, sub-license or generally transfer the game or the software. The User is not permitted to copy the game or the software for a fee or make it accessible to third parties for a fee and to lease or rent the game or the software or the rights thereof to third parties against payment of a fee or to transfer it in any other form to third parties for a fee or modify, translate, apply reverse engineering, to decompile or disassemble or to develop any other works derived on the basis of the game or software.</li>
				<li>Blazegames and/or its suppliers and licensors retain the rights on the intellectual property of all contents of the games - with the exception of the contents uploaded by the User - as well as any other intellectual property rights on the game or software.</li>
				<li>Any remaining agreements on further licensing provisions for the game or software, which the User potentially accepts prior to using the games, shall remain unaffected by the above-referenced provisions.</li>
				<li>Blazegames permits the User the revocable right to use the contents of the games of Blazegames to produce templates for user-generated contents and to disseminate these in a limited manner provided the games and Blazegames are not depreciated thereby. This permission expressly does not refer to the source code or any other public elements of the game and particularly not the logic of the program. Templates refer to game contents, game scenes, characters, texts, places, maps, graphic images, animation, sounds, movies, and works of music and images. Such user-generated contents are for example videos commented by the user during his/her own game session ("Let's-Play-Videos") or the parts of images from the game in social networks or the accessibility granted on fan sites or fan forums. Blazegames permits the use of templates strictly for personal but not business or commercial purposes. This permission is non-transferable. In this context, any advertising the operator places on a platform independent of the User - e.g. introductory ads on video portals - are not deemed commercial use, if it is beyond the User's realm of influence. Blazegames has the right to revoke this permission at any time. Any further and specifically commercial use is only permitted upon prior written consent of Blazegames.</li>
				<li>The User shall retain all rights on the contents provided by the User. By providing contents in the games, the User grants Blazegames a non-exclusive, free license to publish worldwide these contents in games and make these contents accessible to third parties. This non-exclusive free license can be revoked by User at any time Blazegames will only edit any contents provided by the User to the extent and if technical reasons require it for the error-free rendition in the games. Blazegames does not have any further rights of use on the contents provided by User. The User can remove his/her contents at any time. This license expires once the User deletes the contents from the games. Blazegames is not obliged to provide any means for deletion. The terms and conditions of the social network have priority in social games. Blazegames has no influence on social networks.</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 12 Contractual term, proper termination / virtual domiciliary right / extraordinary termination</h3>
			<ol class="scope">
				<li>The agreements between User and Blazegames (e.g. use agreement of the account, use agreement for individual games) are concluded for an unspecified time unless otherwise agreed in writing.</li>
				<li>Both Parties have the right to terminate the agreements by giving an advance notice of seven working days unless otherwise agreed in writing.</li>
				<li>The User can demand that Blazegames delete his/her account at any time. In this case, Blazegames will block the personal information of that User for 8 weeks and subsequently, it will delete it. If the User requests that Blazegames delete his/her account, the User terminates simultaneously the use agreement without complying with the termination period. Any virtual currency acquired up to this time will be forfeited without the claim for reimbursement if the User terminates in this manner.</li>
				<li>Any potential subscription agreement is concluded for the period specified in the list of services for which the User opted at the time of the conclusion of the subscription agreement. The respective term renews itself automatically by the original term if the User does not terminate the agreement no later than five workdays prior to the end of the term. The subscription must be terminated through the account management tool on the respective game website or through direct contact with customer service (which can be reached under <a href="/support/">https://riseofmidgard.com/support/</a> ).</li>
				<li>If the User terminates the subscription, then Blazegames will not pay back any fees already paid and it does not pay out in real money any virtual credit balances credited to the User's account subject to any constellation regulated in these Terms of Use.</li>
				<li>Blazegames reserves the right to exercise its virtual domiciliary right at any time.</li>
				<li>The right of the Parties to terminate the use agreement at any time for a significant reason effective immediately remains unaffected by the above-referenced provisions. In particular, Blazegames can terminate this agreement for any significant reason, if
					<ol type="a">
						<li>the User violates culpably the laws, these Terms of Use, the game rules and/or use rules for virtual currencies or premium features and the User continues to act in the same or similar manner despite warning letter;</li>
						<li>the User is in arrears with the payment of fees by at least EUR 10.00 and the User does not pay despite two dunning letters;
						<li>the User has not utilized his/her account for three months despite reminder;</li>
						<li>during the use of his/her account, the User realizes one of the termination reasons of &sect; 12.7 letters a., b. or c.</li>
						<li>third parties (e.g. social network operators), through the registration function of which the User gains access to his/her account at Blazegames, requests Blazegames to delete the user data and/or to undertake any comparable actions;</li>
						<li>third parties (e.g. social network operators), through the registration function of which the User gains access to his/her account at Blazegames, limit Blazegames' access to data.</li>
					</ol>
				</li>
				<li>Termination effective immediately is permissible in case of serious violations without the need for any advance-warning letter.</li>
				<li>A serious violation is any violation which makes it unreasonable for Blazegames to keep to the agreement.</li>
				<li>In the following cases, it is unreasonable for Blazegames to maintain the agreement:
					<ol type="a">
						<li>if the User violates the criminal code;</li>
						<li>if the User uses the account or a game in an impermissible manner (see above &sect; 5);</li>
						<li>if the User provides false information during registration (cf. above &sect; 3) or during payment of chargeable services (cf. &sect; 6);</li>
						<li>if during the use of his/her account, the User realizes one of the termination reasons of &sect; 12.7 letters a., b. or c.</li>
					</ol>
				</li>
				<li>In case Blazegames pronounced a justifiable termination for a significant reason, Blazegames is entitled to demand an amount of 75% of the total of all fees the User would have had to pay if Blazegames would have terminated the agreement during the contractual terms at the same time with an advance notice (i.e. for services not yet provided by Blazegames, particularly for virtual currencies or premium features already provided). The right of the User to prove that no damage or a significantly lower damage occurred shall remain unaffected thereby. There is no claim for reimbursement to the extent the User has already received the services to be provided by Blazegames. In particular, any virtual currencies or premium features the User has already ordered or received from Blazegames are not paid back.</li>
				<li>If the User is responsible for the extraordinary termination, then the User is not permitted to create a new account if his/her account was blocked unless he/she has the express prior written permission of Blazegames. In this case, the User is not permitted to register for any game to which access was denied to him/her without the express prior written permission of Blazegames. If Blazegames finds that this ban was violated, then Blazegames has the right to block this account or game registration permanently without prior announcement.</li>
				<li>If Blazegames is responsible for the extraordinary termination and the User still has virtual currency in his/her account, then Blazegames will credit the User the virtual currency to a game offered by Blazegames and chosen by the User. Any repayment in cash is excluded unless the credit for another game of Blazegames is in an exceptional case unreasonable for the User, e.g. because no equivalent or similar game is offered. In this case, Blazegames will reimburse the User the full value of any virtual currency the User paid and which is still in his/her account. Further claims of the User are excluded unless otherwise specified in these Terms of Use.</li>
				<li>Blazegames has the right to a special termination with regard to the User's game registration for specific games, provided Blazegames loses authorization to operate the respective game, e.g. because of the termination of the respective licensing agreement between Blazegames and the respective licensor. In this case, Blazegames can terminate effective at the time of termination of its licensing agreement all agreements in reference to the operation and use of the game (e.g. use agreement, agreement on the provision and use of virtual currency or premium features). Other rights to terminate shall remain unaffected thereby. &sect; 12.7 applies accordingly.</li>
				<li>Every termination must be in written form, whereby the written form is maintained by e-mail. Upon request, the reasons for extraordinary termination must be disclosed immediately in writing if the termination notice did not specify them already. Any standard termination notice does not require specification of the termination reasons.</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 13 Sweepstakes / tournaments / competitions</h3>
			<ol class="scope"></ol>
			With reference to the games, Blazegames can hold competitions, tournaments or sweepstakes. Blazegames does not 	guarantee the Users any prizes. Users are not entitled to receive the prize in cash unless such entitlement is expressly specified in these Terms of Use. Therefore, any claims to payout of winnings are only valid if such prizes were expressly offered by Blazegames. In addition, there will not be such claim even if Blazegames finds that the possible claim for the prize could have been created based on manipulation - technical or legal in nature and/or based on generally criminally relevant manipulation. By participating in games of Blazegames, the User allows Blazegames to demand at any time a comprehensive examination with regard to the eligibility of the prize claim and in the meantime to refuse payout of the prize without the User's separate consent. The claims are forfeited as well if the User does not comply with the rules of conduct. If in doubt, the User has the burden of proof, the User must demonstrate that he/she complied with the rules of the games. The User knows of his/her burden of proof and acknowledges it expressly even it is potentially not required by law.
		</div>
		<div>
			<h3>&sect; 14 Data Protection</h3>
			<ol class="scope">
				<li>Blazegames processes and utilizes the User's data collected during the conclusion of the agreement and within the framework of the use of the offer, specifically to the extent necessary to fulfil the agreement properly, in accordance with all applicable data protection provisions. The privacy policy of Blazegames shall apply (retrievable under <a href="/privacy">https://riseofmidgard.com/privacy</a> ).</li>
				<li>The User has the right at any time to demand from Blazegames the deletion of all personal data of the User by sending an e-mail riseofmidgard@gmail.com . The request for deletion in accordance with this &sect; 14.2 is equal to the User's termination effective immediately, to which &sect; 12.3 of these Terms of Usev apply.</li>
				<li>Communication among various players of games can lead to criminally relevant conduct (e.g. harassment of minors). Therefore, the User agrees with Blazegames that for the effective prosecution of crimes, even though the User requested deletion as described above, the User's personal information will be stored for a period of 8 weeks beginning with Blazegames receiving such deletion request, i.e. the personal information is initially only blocked. This block period makes it easier for Blazegames to reactivate any account in case a third party requested an unauthorized deletion (e.g. in case of account theft). After the 8-week-period, the personal information is permanently deleted.<br>
					The above-referenced explanations become also valid if the User terminates the use agreement with Blazegames properly and as a consequence his/her personal information is deleted or if Blazegames terminates the use agreement with the User (e.g. because the User made untrue statements or the User selected a prohibited member name.</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 15 Changes to the Terms of Use</h3>
			<ol class="scope">
				<li>Blazegames reserves the right to change or expand these Terms of Use at any time effective in the future provided it seems necessary and it does not affect the User adversely under the principle of equity and good faith. In particular, any changes in the legal environment may require a change of these Terms of Use. Moreover, any new court decisions constitute a change in the legal situation. Any changes and advancements of the games may necessitate a change or an amendment to these Terms of Use.</li>
				<li>Any change or amendment will be announced in a suitable manner at least six weeks prior to its effective date. In general, the information about the modification of the Terms of Use is announced by e-mail or on the games' website or in the games but in any case, the next time the User logs into his/her account.</li>
				<li>The User has the right to object to any change or amendment within six weeks after the date of publication and possibility of acknowledgment. In case of a timely objection, both Parties are entitled to an extraordinary right to terminate the agreement in accordance with the termination provisions specified in this Agreement. Other rights to terminate shall be unaffected thereby. If the User does not object within the objection period or if the User continues to use the services, then the change or amendment is deemed accepted and becomes an integral element of the agreement.</li>
				<li>Blazegames will inform the User specifically of the changes in the Terms of Use and the possibility to object and cancel, of the deadline and the legal consequences, particularly the consequences of non-objection.</li>
			</ol>
		</div>
		<div>
			<h3>&sect; 16 Miscellaneous</h3>
			<ol class="scope">
				<li>If one Party delays, waives or fails to enforce his/her rights within the framework of these Terms of Use or the Party grants deadlines to the other Party, then the Party does not hinder the applicability of the respective right.</li>
				<li>The User is not entitled to assign to third parties his/her rights under this contractual relationship. Something else applies only if Blazegames provides its prior consent in writing. Blazegames is entitled to transfer to a third party any rights and duties under this contractual relationship. The User can terminate the use of the games effective immediately upon such transfer. Any virtual currency at the time in the User's account will be reimbursed.</li>
				<li>In the event that the User takes legal action, suit must be filed before the court of the User's domicile.</li>
				<li>The agreements concluded based on these Terms of Use and therefore any claims in connection therewith are construed and governed exclusively by the law of the United States. The provisions of the unified UN Convention on the International Sale of Goods (CISG) are expressly excluded.</li>
				<li>If individual provisions of these Terms of Use are or become ineffective, it does not affect the effectiveness of the remaining provisions.</li>
				<li>Any changes or amendments to the use agreement and any side-agreements must be specified in writing. The same shall apply to the change of the written form requirement. The written form requirements do not apply to any changes to these Terms of Use.</li>
			</ol>
		</div>
	</div>
</section>
{% endblock %}
{% block javascripts_inline %}
	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'TBD', 'auto');
		ga('send', 'pageview');
	</script>
{% endblock %}
