{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        <div class="btn-group btn-group-justified vending_button" role="group">
            <a href="{{ path("app_pages_vendors") }}" class="btn btn-lg btn_rom active">
                {{ 'trans.market_list.vending_list'|trans }}
            </a>
            <a href="{{ path("app_pages_buyingstore") }}" class="btn btn-lg btn_rom">
                {{ 'trans.market_list.buying_list'|trans }}
            </a>
        </div>

        <div class="active_zeny">
            <div class="zeny_amount">{{ active_zeny }}*</div>
            <small>{{ 'trans.market_list.active_zeny'|trans }}</small>
        </div>

        <div class="content-center">
            <table id="vending-table" class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>{{ 'trans.market_list.item_name'|trans }}</th>
                        <th>Item Name Hidden</th>
                        <th>Item ID</th>
                        <th>Card 1 Name</th>
                        <th>Card 1 ID</th>
                        <th>Card 2 Name</th>
                        <th>Card 2 ID</th>
                        <th>Card 3 Name</th>
                        <th>Card 3 ID</th>
                        <th>Card 4 Name</th>
                        <th>Card 4 ID</th>
                        <th>{{ 'trans.market_list.amount'|trans }}</th>
                        <th>{{ 'trans.market_list.price'|trans }}</th>
                        <th>{{ 'trans.market_list.shop_name'|trans }}</th>
                        <th>{{ 'trans.market_list.vendor'|trans }}</th>
                        <th>{{ 'trans.market_list.location'|trans }}</th>
                    </tr>
                <thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts_inline %}
<script>
    var table = $('#vending-table').DataTable( {
        "processing": true,
        "ajax": function (data, callback, settings) {
            callback(
                    jQuery.parseJSON( '{{ vendors|raw }}' )
            );
        },
        "sAjaxDataProp": "data",
        "sScrollX": "100%",
        "sScrollXInner": "100%",
        "bLengthChange": true,
        "pagingType": "numbers",
        "language": {
            "zeroRecords": "{{ 'trans.market_list.no_vendors'|trans }}"
        },
        "order": [[ 0, "asc" ]],
        "columns":[
            {"data": "parsed_name",
                "className": 'details-control',
                "searchable": false,
                "render": function (data, type, full, meta) {
                    if (full.card0 != null ||
                            full.card1 != null ||
                            full.card2 != null ||
                            full.card3 != null) {
                        return full.parsed_name + '<br/><span style="font-size:10px;color:#E28005;">(Click to see card slots)</span>';
                    } else {
                        return full.parsed_name;
                    }
                }
            },
            {"data": "parsed_name", "visible": false},
            {"data": "nameid", "visible": false},
            {"data": "card0_name", "visible": false},
            {"data": "card0", "visible": false},
            {"data": "card1_name", "visible": false},
            {"data": "card1", "visible": false},
            {"data": "card2_name", "visible": false},
            {"data": "card2", "visible": false},
            {"data": "card3_name", "visible": false},
            {"data": "card3", "visible": false},
            {"data": "amount"},
            {"data": "price"},
            {"data": "shop_name"},
            {"data": "vendor", "searchable": false},
            {"data": "location", "searchable": false,
                "render": function (data, type, full, meta) {
                    if (full.map != null &&
                            full.x != null &&
                            full.y != null ) {
                        return '/navi '+full.map+' '+full.x+'/'+full.y;
                    } else {
                        return full.location;
                    }
                }
            }
        ],
        responsive: {
            details: {
                type: 'column',
                target: 'tr'
            }
        }
    } );

    /* Formatting function for row details - modify as you need */
    function format ( d ) {
        // `d` is the original data object for the row
        return '<table cellpadding="10" cellspacing="5" border="0" style="padding-left:50px;text-align:left;">'+
                '<tr>'+
                '<td><i>{{ 'trans.market_list.slot'|trans }} 1: </i></td>'+
                '<td><i>'+(d.card0 != null ? d.card0_name : '')+'</i></td>'+
                '</tr>'+
                '<tr>'+
                '<td><i>{{ 'trans.market_list.slot'|trans }} 2: </i></td>'+
                '<td><i>'+(d.card1 != null ? d.card1_name : '')+'</i></td>'+
                '</tr>'+
                '<tr>'+
                '<td><i>{{ 'trans.market_list.slot'|trans }} 3: </i></td>'+
                '<td><i>'+(d.card2 != null ? d.card2_name : '')+'</i></td>'+
                '</tr>'+
                '<tr>'+
                '<td><i>{{ 'trans.market_list.slot'|trans }} 4: </i></td>'+
                '<td><i>'+(d.card3 != null ? d.card3_name : '')+'</i></td>'+
                '</tr>'+
                '</table>';
    }


    // Add event listener for opening and closing details
    $('#vending-table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            if (row.data().card0 != null ||
                    row.data().card1 != null ||
                    row.data().card2 != null ||
                    row.data().card3 != null) {
                // Open this row
                row.child( format(row.data()) ).show();
                tr.addClass('shown');
            }
        }
    } );
</script>
{% endblock %}
