{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="bg">{% endblock %}

{% block page_content %}
    <section class="main_content" id="main">
        <div class="container">
            {% if delay != 0 %}
                <div class="alert alert-warning text-center">{{ 'trans.master.vote_point_wait'|trans({'%time%': delay}) }}</div>
            {% endif %}

            {% if not app.user %}
                <div class="alert alert-info text-center">{{ 'trans.master.vote_point_login'|trans }} {{ 'trans.click_login'|trans|raw }}</div>
            {% else %}
                <div class="alert alert-info text-center">{{ 'trans.master.vote_point_count'|trans({'%count%': app.user.votePointsFormatted}) }}</div>
            {% endif %}

            <div class="vote_content">
                <div class="vote_left_box">
                    <div class="vote_link">
                        <a target="_blank" href="{{ path ("app_pages_vote") }}/1" onclick="showHover(this)">
                            <img class="vote_img" src="{{ asset('bundles/app/img/vote/ROM-VOTE-LEFT-gtop.png') }}" alt="gtop100.com" aria-label="gtop100.com">
                            <img class="voted_img" src="{{ asset('bundles/app/img/vote/VOTEBUTTON-LEFT-hover0' ~ litems[0] ~'.png') }}" alt="{{ 'trans.master.vote_thank_you'|trans }}" aria-label="{{ 'trans.master.vote_thank_you'|trans }}">
                        </a>
                    </div>
                    <div class="vote_link">
                        <a target="_blank" href="{{ path ("app_pages_vote") }}/2" onclick="showHover(this)">
                            <img src="{{ asset('bundles/app/img/vote/ROM-VOTE-LEFT-rotop.png') }}" alt="rotopserv.net" aria-label="rotopserv.net">
                            <img class="voted_img" src="{{ asset('bundles/app/img/vote/VOTEBUTTON-LEFT-hover0' ~ litems[1] ~'.png') }}" alt="{{ 'trans.master.vote_thank_you'|trans }}" aria-label="{{ 'trans.master.vote_thank_you'|trans }}">
                        </a>
                    </div>
                    <div class="vote_link">
                        <a target="_blank" href="{{ path ("app_pages_vote") }}/3" onclick="showHover(this)">
                            <img src="{{ asset('bundles/app/img/vote/ROM-VOTE-LEFT-topserver.png') }}" alt="topservers200.com" aria-label="topservers200.com">
                            <img class="voted_img" src="{{ asset('bundles/app/img/vote/VOTEBUTTON-LEFT-hover0' ~ litems[2] ~'.png') }}" alt="{{ 'trans.master.vote_thank_you'|trans }}" aria-label="{{ 'trans.master.vote_thank_you'|trans }}">
                        </a>
                    </div>
                </div>
                <div class="vote_right_box">
                    <div class="vote_link">
                        <a target="_blank" href="{{ path ("app_pages_vote") }}/4" onclick="showHover(this)">
                            <img src="{{ asset('bundles/app/img/vote/ROM-VOTE-RIGHT-topg.png') }}" alt="topg.org" aria-label="topg.org">
                            <img class="voted_img" src="{{ asset('bundles/app/img/vote/VOTEBUTTON-RIGHT-hover0' ~ litems[3] ~'.png') }}" alt="{{ 'trans.master.vote_thank_you'|trans }}" aria-label="{{ 'trans.master.vote_thank_you'|trans }}">
                        </a>
                    </div>
                    <div class="vote_link">
                        <a target="_blank" href="{{ path ("app_pages_vote") }}/5" onclick="showHover(this)">
                            <img src="{{ asset('bundles/app/img/vote/ROM-VOTE-RIGHT-topragnarok.png') }}" alt="topragnarok.org" aria-label="topragnarok.org">
                            <img class="voted_img" src="{{ asset('bundles/app/img/vote/VOTEBUTTON-RIGHT-hover0' ~ litems[4] ~'.png') }}" alt="{{ 'trans.master.vote_thank_you'|trans }}" aria-label="{{ 'trans.master.vote_thank_you'|trans }}">
                        </a>
                    </div>
                    <div class="vote_link">
                        <a target="_blank" href="{{ path ("app_pages_vote") }}/6" onclick="showHover(this)">
                            <img src="{{ asset('bundles/app/img/vote/ROM-VOTE-RIGHT-xtremetop.png') }}" alt="" aria-label="">
                            <img class="voted_img" src="{{ asset('bundles/app/img/vote/VOTEBUTTON-RIGHT-hover0' ~ litems[0] ~'.png') }}" alt="{{ 'trans.master.vote_thank_you'|trans }}" aria-label="{{ 'trans.master.vote_thank_you'|trans }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts_inline %}
<script>
    function showHover(a) {
        console.log(a);
        a.classList.add("vote_hover_show");
        setTimeout(function (){
            a.href = '#';
            a.target = '';
        },100);
    }
</script>
{% endblock %}
