{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="woe_bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
	<div class="container">
		<div class="row">
            <div class="col-xs-4 text-center woe_links">
                <div class="woe-title">
                    <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Woeready.png") }}"/>
                </div>
                <div class="woe-shard">
                    <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Shard.png") }}"/>
                </div>

                <div>
                    <a href="{{ path ("app_woestats_guildlist", { 'type' : 'woe', 'war': 'pre' }) }}" class="woe_buttons">
                        <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Pretrans-av.png") }}" alt="{{ 'trans.woe.pretrans'|trans }}"/>
                    </a>
                </div>
            </div>
			<div class="col-xs-4 text-center">
                <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Crystal.png") }}"/>
			</div>
            <div class="col-xs-4 text-center woe_links">
                <div class="woe-title">
                    <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Romlive.png") }}"/>
                </div>
                <div class="woe-shard">
                    <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Shard.png") }}"/>
                </div>
                <div>
                    <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Unrestricted-un.png") }}" alt="{{ 'trans.woe.unrestricted'|trans }}"/>
                </div>
                <div>
                    <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Competitive-un.png") }}" alt="{{ 'trans.woe.competitive'|trans }}"/>
                </div>
            </div>
		</div>
	</div>
</section>
{% endblock %}
