{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="woe_bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        <div class="woe_list_header">
            <a href="{{ path ("app_woestats_guildlist", { 'type': type, 'war': war }) }}" class="guildlist_button">
                <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Guildstatistics-unselect.png") }}" alt="{{ 'trans.woe.guild_stats'|trans }}"/>
            </a>
            <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Shard.png") }}"/>
            <a href="{{ path ("app_woestats_playerlist", { 'type' : type, 'war': war }) }}" class="charstats_button">
                <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Characterranking.png") }}" alt="{{ 'trans.woe.character_rankings'|trans }}"/>
            </a>
        </div>
        <div class="woestats_charbox">
            <div class="woestats_charbox_head">
                <p class="charstats_playername">
                    {% if emblem is not empty %} <img src="data:image/png;base64,{{ emblem }}" width="24" height="24"/> {% endif %}
                    <i>(<a href="{{ path("app_woestats_guildmembers", { 'type': type, 'war': war, 'uid': player.guildId }) }}" class="woe_url_blackbg">{{ player.woeguild.name }}</a>)</i> {{ player.name }}
                </p>
                <p class="charstats_playerclass">{{ player.class }} {{ player.baseLevel }}/{{ player.jobLevel }}</p>
                <img onerror='this.style.visibility = "hidden"' alt="" src="{{ asset('bundles/app/img/woestats/') }}{{ player.class }}.gif" style="margin-right:5px; margin-top:8px; float:right;"/>
            </div>
            <div class="woestats_charbox_statsection">
                <div class="woestats_charbox_stat">
                    <img alt="" src="{{ asset('bundles/app/img/woestats/kills.gif') }}" class="charstats_img"/>
                    <div style="float:left;">
                        <span style="font-weight:bold;">{{ 'trans.woe.kills'|trans }}</span><br/>
                        {{ player.kills }}
                    </div>
                </div>
                <div class="woestats_charbox_stat">
                    <img alt="" src="{{ asset('bundles/app/img/woestats/deaths.gif') }}" class="charstats_img"/>
                    <div style="float:left;">
                        <span style="font-weight:bold;">{{ 'trans.woe.deaths'|trans }}</span><br/>
                        {{ player.deaths }}
                    </div>
                </div>
                <div class="woestats_charbox_stat">
                    <img alt="" src="{{ asset('bundles/app/img/woestats/emperiums.gif') }}" class="charstats_img"/>
                    <div style="float:left;">
                        <span style="font-weight:bold;">{{ 'trans.woe.emperiums'|trans }}</span><br/>
                        {{ player.emperiums }}
                    </div>
                </div>
                <div class="woestats_charbox_stat">
                    <img alt="" src="{{ asset('bundles/app/img/woestats/barricades.gif') }}" class="charstats_img"/>
                    <div style="float:left;">
                        <span style="font-weight:bold;">{{ 'trans.woe.barricades'|trans }}</span><br/>
                        {{ player.barricades }}
                    </div>
                </div>
            </div>
            <div class="woestats_charbox_bar">
                <p style="margin-left:20px; margin-top:4px; float:left; font-weight:bold;">{{ 'trans.woe.skills_used'|trans }}</p>
                <p style="margin-right:20px; margin-top:4px; float:right;">
                    <img alt="" src="{{ asset('bundles/app/img/woestats/skill.png') }}" class="charstats_img"/>
                    <b>{{ 'trans.woe.total_skills'|trans }}</b>: {{ player.skillsTotal }}
                </p>
            </div>
            <div class="woestats_charbox_statsection" style="padding-left:5%;">
                {% for skill in player.skillsList %}
                      <div class="woestats_charbox_usestat"><b>{{ skill.name }}</b>: {{ skill.amount }}</div>
                {% endfor %}
                {% set var = player.skillsList|length % 3 %}
                {% for i in 0..var %}
                    <div class="woestats_charbox_usestat"></div>
                {% endfor %}
            </div>
            <div class="woestats_charbox_bar">
                <p style="margin-left:20px; margin-top:4px; float:left; font-weight:bold;">{{ 'trans.woe.supplies_used'|trans }}</p>
                <p style="margin-right:20px; margin-top:4px; float:right;">
                    <img alt="" src="{{ asset('bundles/app/img/woestats/potion.png') }}" class="charstats_img"/>
                    <b>{{ 'trans.woe.total_supplies'|trans }}</b>: {{ player.itemsTotal }}
                </p>
            </div>
            <div class="woestats_charbox_statsection" style="padding-left:5%;">
                {% for item in player.itemsList %}
                    <div class="woestats_charbox_usestat"><b>{{ item.name }}</b>: {{ item.amount }}</div>
                {% endfor %}
                {% set var = player.itemsList|length % 3 %}
                {% for i in 0..var %}
                    <div class="woestats_charbox_usestat"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
