{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="woe_bg">{% endblock %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        <div class="woe_name_header">
            <a href="{{ path ("app_woestats_guildlist", { 'type' : type, 'war': war }) }}" class="guildname-button">
                {% if emblem is not empty %} <img src="data:image/png;base64,{{ emblem }}" width="24" height="24"/> {% endif %}
                {{ gname }}
            </a>
        </div>
        <table id="stats-table" class="table table-bordered table-striped table-responsive">
          <thead>
            <tr>
                <th>{{ 'trans.character.name'|trans }}</th>
                <th>{{ 'trans.character.class'|trans }}</th>
                <th>{{ 'trans.woe.kills'|trans }}</th>
                <th>{{ 'trans.woe.deaths'|trans }}</th>
                <th>{{ 'trans.woe.damage_dealt'|trans }}</th>
                <th>{{ 'trans.woe.damage_taken'|trans }}</th>
                <th>{{ 'trans.woe.objectives'|trans }}</th>
            </tr>
          <thead>
          <tbody>

          </tbody>
        </table>
    </div>
</section>
{% endblock %}
{% block javascripts_inline %}
<script>
    var table = $('#stats-table').DataTable( {
        "ajax": function (data, callback, settings) {
            callback(
                    jQuery.parseJSON( '{{ members|raw }}' )
            );
        },
        "sScrollX": "100%",
        "sScrollXInner": "100%",
        "bLengthChange": true,
        "pageLength": 18,
        "pagingType": "numbers",
        "language": {
            "zeroRecords": "{{ 'trans.woe.no_character_stats'|trans }}"
        },
        "columns":[
            {"data": "char_name",
                "render": function (data, type, full, meta) {
                    return '<b><a href="{{ asset("/woestats/charstats") }}/{{ type }}/{{ war }}/'+full.char_id+'" target="_blank">'+full.char_name+'</a></b>';
                }},
            {"data": "class"},
            {"data": "kills"},
            {"data": "deaths"},
            {"data": "damage_dealt"},
            {"data": "damage_taken"},
            {"data": "objectives"}

        ],
        "order": [[ 1, "asc" ]]
    } );
</script>
{% endblock %}
