{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="woe_bg">{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
	<div class="container">
		<div id="woestats_content" style="margin: 0 auto;">
            <div class="woe_list_header">
                <a href="{{ path ("app_woestats_guildlist", { 'type': type, 'war': war }) }}" class="guildlist_button">
                    <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Guildstatistics.png") }}" alt="{{ 'trans.woe.guild_stats'|trans }}"/>
                </a>
                <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Shard.png") }}"/>
                <a href="{{ path ("app_woestats_playerlist", { 'type' : type, 'war': war }) }}" class="charstats_button">
                    <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-Characterranking-unselect.png") }}" alt="{{ 'trans.woe.character_rankings'|trans }}"/>
                </a>
            </div>

            <div id="guildlist" class="text-center">
			{% for key, guild in woeguilds %}
                <div class="woestats_guildbox text-center {% if key == 0 %}woestats_first{% elseif key == 1 %}woestats_second{% elseif key == 2 %}woestats_third{% endif %}">
                    <div class="woestats_guildbox_top">
                       {% if emblems[key] is not empty %} <img src="data:image/png;base64,{{ emblems[key] }}" width="24" height="24"/> {% endif %}
                        <a href="{{ path ("app_woestats_guildmembers", { 'type': type, 'war': war, 'uid': guild.guildId }) }}" class="woe_url_orangebg">{{ guild.name }}</a>
                    </div>
                    <div class="woestats_guildbox_content">
                        <div>
                            <div class="woestats_guildbox_stat">
                                <img alt="" src="{{ asset('bundles/app/img/woestats/kills.gif') }}" style="float:left; margin-right:5px;"/>
                                <div style="float:left;">
                                    <span style="font-weight:bold;">{{ 'trans.woe.kills'|trans }}</span><br/>
                                    {{ guild.kills }}
                                </div>
                            </div>
                            <div class="woestats_guildbox_stat">
                                <img alt="" src="{{ asset('bundles/app/img/woestats/deaths.gif') }}" style="float:left; margin-right:5px;"/>
                                <div style="float:left;">
                                    <span style="font-weight:bold;">{{ 'trans.woe.deaths'|trans }}</span><br/>
                                    {{ guild.deaths }}
                                </div>
                            </div>
                            <div class="woestats_guildbox_stat">
                                <img alt="" src="{{ asset('bundles/app/img/woestats/emperiums.gif') }}" style="float:left; margin-right:5px;"/>
                                <div style="float:left;">
                                    <span style="font-weight:bold;">{{ 'trans.woe.emperiums'|trans }}</span><br/>
                                    {{ guild.emperiums }}
                                </div>
                            </div>
                        </div>
                        <div style="clear:both; height:15px;"></div>
                        <div style="padding-left:10%; text-align:left;"></div>
                    </div>
                    {% if key == 0 %}
                    <div class="woestats_first_footer">
                        <img src="{{ asset("bundles/app/img/woestats/ROM-WOE-one-bottom.png") }}" width="691px" height="88px"/>
                    </div>
                    {% endif %}
                </div>
			{% endfor %}
            </div>
		</div>
	</div>
</section>
{% endblock %}

