{% extends 'AppBundle:Emails:layout.html.twig' %}

{% block email_content %}
<p><strong>Hello Midgardians!</strong></p>

<p>If you are receiving this email today, it's because you joined the adventure Dawn of Midgard last year and would eventually be interested in hearing more about our new project.</p>

<p>Almost a year ago, we launched Dawn of Midgard with high hopes and enjoyed brief success before I overlooked major issues which lead to the untimely end of the project.
    Time has passed since then, leaving me with a unique chance to open a dialogue between myself and the community, to look back into the mistakes we've done, to understand them, and to learn from them so that they never happen again.</p>
<p>Two months ago, the team and I announced the launch of Rise of Midgard on <a href="https://www.reddit.com/r/RagnarokOnline/comments/58nnkj/dawn_of_midgard_renaming_announcement_looking_for">Reddit</a>, the project we have been working on for the past 6 months.</p>
<p>We presented an entirely restructured team as well as some features we thought would be relevant, and thoroughly tested them in an Open Beta the following month, the most important of them being:</p>
<ul>
    <li><strong>Rise!</strong> Be Reborn again as a High Novice once you've reached the maximum level, and exchange points for exclusive items through the <strong>Rising Shop</strong>.</li>
    <li>A proper balance between PvM and PvP, contrary to Dawn of Midgard.</li>
    <li>An exclusive Crafting System, designed to help you obtain your equipment through partying and events.</li>
    <li>Lower XP Rates, but higher drop rates. Cards are 0.2%, equipment is 0.1% minimum.</li>
    <li>Absolutely no pay-to-win aspects.</li>
    <li>Pre-Renewal Episode 13.3, without stun immunity gear or BG equipment.</li>
</ul>

<p>With the server's Open Beta coming to a close, we can officially, and safely, announce that Rise of Midgard will finally go live on the 6th of January, 22:00 GMT+0. Any account registered before the 5th of January will receive an XP Book, an Amistr Bag, and the DDoS Cap from DoM!</p>
<p>To all donators from DoM, please be aware that we are redistributing your cash points to your new accounts. <a href="https://riseofmidgard.com/forum/viewtopic.php?f=43&t=25">This topic contains more information.</a></p>
<p>The team and I sincerely wish to see you around and have the chance to offer you exactly what you were looking for when you joined Dawn of Midgard last year.</p>
<p>From the bottom of my heart,</p>
<p>Zinnia</p>
{% endblock %}
