{% extends 'AppBundle:Emails:layout.html.twig' %}

{% block email_content %}
<p><strong>Hello Midgardians!</strong></p>

<p>As promised, here is our mail to officially announce the launch date! :')</p>
<p>Rise of Midgard will open its gates on the 6th of January, 22:00 GMT+0, so ready yourself and tell your friends that they only have 2 weeks left to sign up to receive their Pre-Launch bonuses, containing a 50% XP Book and an exclusive Amistr Bag and DDoS Cap!</p>
<p>The last 2 months of Open Beta have been really enriching. The War of Emperium testing on the WoE-Ready Server helped us in identifying issues with our host that we are now fixing with a worldwide proxy infrastructure, and a lot of our features were tweaked with your feedback. For example, our crafting system is now completed and we decided to move forward with a lot of your suggested changes.</p>
<p>We are now entering the last stage of our release plan and we need you now more than ever.
    The public Open Beta server is going to be shut down from January 1st to January 7th to avoid any confusion, so please take a look at what we already implemented and make your last suggestions on our forums before the server launches!</p>
<p>We really hope to see many of you in January!</p>
<p>Yours faithfully,</p>
<p>The Rise of Midgard Team</p>
{% endblock %}
