<div class="modal fade add_account-modal text-left" id="add_account" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
				<h4 class="modal-title">{{ 'trans.game_account.add'|trans }}</h4>
			</div>
			{{ form_start(form, {'attr': {'id': 'add_account-form'}}) }}
			<div class="modal-body">
				<div role="alert" id="add_account-alert" class="alert alert-danger" style="display: none"></div>

				<div class="form-group has-feedback"  id="add_account-userid">
					{{ form_label(form.userid) }}
					{{ form_widget(form.userid) }}
					<span id="add_accountFeedback-userid" class="glyphicon form-control-feedback" aria-hidden="true"></span>
					<span id="add_accountStatus-userid" class="errorStatus help-block"></span>
				</div>

				<div class="form-group has-feedback"  id="add_account-password">
					{{ form_label(form.plainPassword.password) }}
					{{ form_widget(form.plainPassword.password) }}
					<span id="add_accountFeedback-password" class="glyphicon form-control-feedback" aria-hidden="true"></span>
					<span id="add_accountStatus-password" class="errorStatus help-block"></span>
				</div>

				<div class="form-group has-feedback"  id="add_account-confirm_password">
					{{ form_label(form.plainPassword.confirm_password) }}
					{{ form_widget(form.plainPassword.confirm_password) }}
					<span id="add_accountFeedback-confirm_password" class="glyphicon form-control-feedback" aria-hidden="true"></span>
					<span id="add_accountStatus-confirm_password" class="errorStatus help-block"></span>
				</div>

				<div class="form-group has-feedback"  id="add_account-sex">
					{{ form_label(form.sex) }}
					{{ form_widget(form.sex) }}
					<span id="add_accountFeedback-sex" class="glyphicon form-control-feedback" aria-hidden="true"></span>
					<span id="add_accountStatus-sex" class="errorStatus help-block"></span>
				</div>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn_rom_modal btn-block">{{ 'trans.form.create'|trans }}</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
</div>

<script>
	$("#add_account-form").submit(function(e) {

		clearAllErrors();
		$('#loading').show();
		$.ajax({
			type: "POST",
			url: "{{ path('panel_add_gameaccount') }}",
			data: $("#add_account-form").serialize(),
			success: function (response) {
				if (response['success']) {
					location.reload();
				} else {
					var fields = ["userid", "password", "confirm_password", "sex"];
					var msg = '';
					for (var k in response) {
						if (fields.indexOf(k) == -1) {
							msg += "<li>" + response[k] + "</li>";
						} else {
							var form_group = $('#add_account-' + k);
							var error_feedback = $('#add_accountFeedback-' + k);
							var error_status = $('#add_accountStatus-' + k);

							form_group.addClass('has-error');
							if (error_feedback) {
								error_feedback.addClass('glyphicon-remove');
							}

							error_status.html(response[k]);
							error_status.show();

							if (k == 'password' && response[k].indexOf('match') !== -1) {
								$('#add_account-confirm_password').addClass('has-error');
								$('#add_account-confirm_password').addClass('glyphicon-remove');
							}
						}
					}
					if (msg.length > 0) {
						msg = "<ul class='list-unstyled'>" + msg + "</ul>";
						$("#add_account-alert").show();
						$("#add_account-alert").html(msg);
					}
					$('#loading').hide();
				}
			}
		});

		e.preventDefault();
	});
</script>
