<div class="modal fade change_password-modal text-left" id="change_password-modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
			  <h4 class="modal-title">{{ 'trans.game_account.change_password'|trans }}</h4>
			</div>
			{{ form_start(form, {'attr': {'id': 'change_password-form'}}) }}
                <div class="modal-body">
					<div role="alert" id="change_password-alert" class="alert alert-danger" style="display: none"></div>
					{{ form_row(form.accountId) }}

					<div class="form-group has-feedback"  id="change_password-new_password">
                        {{ form_label(form.newPassword.new_password) }}
                        {{ form_widget(form.newPassword.new_password) }}
                        <span id="change_passwordFeedback-new_password" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span id="change_passwordStatus-new_password" class="errorStatus help-block"></span>
                    </div>

                    <div class="form-group has-feedback"  id="change_password-confirm_new_password">
                        {{ form_label(form.newPassword.confirm_new_password) }}
                        {{ form_widget(form.newPassword.confirm_new_password) }}
                        <span id="change_passwordFeedback-confirm_new_password" class="glyphicon form-control-feedback" aria-hidden="true"></span>
                        <span id="change_passwordStatus-confirm_new_password" class="errorStatus help-block"></span>
                    </div>

					<div class="form-group has-feedback"  id="change_password-currentPassword">
						{{ form_label(form.currentPassword) }}
						{{ form_widget(form.currentPassword) }}
						<span id="change_passwordFeedback-currentPassword" class="glyphicon form-control-feedback" aria-hidden="true"></span>
						<span id="change_passwordStatus-currentPassword" class="errorStatus help-block"></span>
					</div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn_rom_modal btn-block">{{ 'trans.form.change'|trans }}</button>
                </div>
            {{ form_end(form) }}
		</div>
	</div>
</div>

<script>
	$('#change_password-modal').on('show.bs.modal', function (event) {
		var link = $(event.relatedTarget);

		$('#game_account_edit_form_accountId').val(link.data('id'));
	});

    $("#change_password-form").submit(function(e) {
        clearAllErrors();
        $('#panel-alert').hide();
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('panel_change_password') }}",
            data: $("#change_password-form").serialize(),
			success: function (response) {
				if (response['success']) {
					location.reload();
				} else {
                    var fields = ["new_password", "confirm_new_password", "currentPassword"];
                    var msg = '';
					for (var k in response) {
                        if (fields.indexOf(k) == -1) {
                            msg += "<li>" + response[k] + "</li>";
                        } else {
                            var form_group = $('#change_password-' + k);
                            var error_feedback = $('#change_passwordFeedback-' + k);
                            var error_status = $('#change_passwordStatus-' + k);

                            form_group.addClass('has-error');
                            if (error_feedback) {
                                error_feedback.addClass('glyphicon-remove');
                            }

                            error_status.html(response[k]);
                            error_status.show();

                            if (k == 'password' && response[k].indexOf('match') !== -1) {
                                $('#change_password-confirm_password').addClass('has-error');
                                $('#change_password-confirm_password').addClass('glyphicon-remove');
                            }
                        }
					}
                    if (msg.length > 0) {
                        msg = "<ul class='list-unstyled'>" + msg + "</ul>";
                        $("#change_password-alert").show();
                        $("#change_password-alert").html(msg);
                    }
					$('#loading').hide();
				}
			}
        });

        e.preventDefault();
    });
</script>
