<div class="modal fade move_zeny-modal text-left" id="move_zeny" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
			    <h4 class="modal-title">{{ 'trans.game_account.transfer_zeny'|trans }}</h4>
			</div>
			{{ form_start(form, {'attr': {'id': 'move_zeny-form'}}) }}
                <div class="modal-body">
                    <div role="alert alert-danger" id="move_zeny-alert" style="display: none;"></div>
                    {{ form_row(form.from_account) }}
                    {{ form_row(form.to_account) }}
					{{ form_row(form.value) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn_rom_modal btn-block">{{ 'trans.form.transfer'|trans }}</button>
                </div>
            {{ form_end(form) }}
		</div>
	</div>
</div>

<script>
    $("#move_zeny-form").submit(function(e) {

        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('panel_move', {'type' : 'zeny'}) }}",
            data: $("#move_zeny-form").serialize(),
            success: function (response) {
                if (response['success']) {
                    location.reload();
                } else {

                    var msg = '';
                    for (var k in response) {
                        msg += "<li>" + response[k] + "</li>";
                    }
                    msg = "<ul class='list-unstyled'>" + msg + "</ul>";

                    $("#move_zeny-alert").show();
                    $("#move_zeny-alert").html(msg);

                    $('#loading').hide();
                }
            }
        });

        e.preventDefault();
    });
</script>
