{{ form_start(form, {'attr': {'id': 'reset_character-form'}}) }}
        {{ form_row(form.accountId) }}
        {{ form_row(form.characterId) }}
{{ form_end(form) }}

<script>
    function resetPosition($accountId,$charId) {
        $('#reset_character_accountId').val($accountId);
        $('#reset_character_characterId').val($charId);
        $('#reset_character_type').val('position');
        $('#reset_character-form').submit();
    }

    function resetStyle($accountId,$charId) {
        $('#reset_character_accountId').val($accountId);
        $('#reset_character_characterId').val($charId);
        $('#reset_character_type').val('style');
        $('#reset_character-form').submit();
    }

    $("#reset_character-form").submit(function(e) {
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('panel_reset_character') }}",
            data: $("#reset_character-form").serialize(),
			success: function (response) {
				if (response['success']) {
					location.reload();
				} else {
                    $('#loading').hide();
				    $('#panel-alert').show();
                    $('#panel-alert').html(response['error']);
                }
			}
        });

        e.preventDefault();
    });
</script>
