{% extends 'AppBundle::layout.html.twig' %}

{% block html_class %}<html lang="en" class="panel_bg">{% endblock %}

{% use 'AppBundle::datatables_reqs.html.twig' %}

{% block modals %}
	{% if app.user %}
		{{ render(controller('AppBundle:GameAccount:addGameAccount', {'modal' : true})) }}
		{{ render(controller('AppBundle:GameAccount:move', {'type' : 'zeny', 'modal' : true})) }}
		{{ render(controller('AppBundle:GameAccount:move', {'type' : 'points', 'modal' : true})) }}
		{{ render(controller('AppBundle:GameAccount:changeGameAccountPassword', {'modal' : true})) }}
		{{ render(controller('AppBundle:GameAccount:resetCharacter', {'modal' : true})) }}
	{% endif %}
{% endblock %}

{% block page_content %}
<section class="main_content" id="main">
    <div class="container">
        {% if email_unconfirmed %}
            <div role="alert" class="alert alert-danger text-center email_unconfirmed" id="email_unconfirmed-alert">{{ 'trans.master.email_unconfirmed'|trans({'%path%': path('security_resend_email_confirm')})|raw }}</div>
        {% endif %}

        <div class="account_info">
            <div class="account_user">{{ 'trans.master.logged_in'|trans }}: {{ app.user.email }}</div>
            <div class="account_points row">
                <div class="col-sm-4">{{ 'trans.master.vote_points'|trans }}: {{ app.user.votePointsFormatted }}</div>
                <div class="col-sm-4">{{ 'trans.master.referral_points'|trans }}: {{ app.user.referralPointsFormatted }}</div>
                <div class="col-sm-4"><abbr title="{{ 'trans.master.points_relog'|trans }}">{{ 'trans.master.points_pending'|trans }}</abbr> : {{ pending_points }}</div>
            </div>
            <div class="account_info_content">
                <div class="account_referrals">
                    {{ 'trans.master.referral_url'|trans }}<br><br>
                    <input class="referral_link form-control" onclick="$(this).select();document.execCommand('copy');" readonly="readonly" value="{{ url('security_register') }}/{{ app.user.referralCode }}" type="text">
                    <br>{{ 'trans.master.referral_info'|trans }}
                </div>
            </div>
        </div>

		<div class="btn-group btn-group-justified panel_buttons" role="group">
			<a href="#add_account" data-toggle="modal" data-backdrop="true" role="button" class="btn btn_rom">
                {{ 'trans.game_account.add'|trans }}
			</a>
			<a href="#move_zeny" data-toggle="modal" data-backdrop="true" role="button" class="btn btn_rom">
				{{ 'trans.game_account.move_zeny'|trans }}
			</a>
			<a href="#move_points" data-toggle="modal" data-backdrop="true" role="button" class="btn btn_rom">
				{{ 'trans.game_account.move_point'|trans }}
			</a>
		</div>

		<div role="alert" class="alert alert-danger" id="panel-alert" style="display: none;"></div>

        <div class="content-center">
            <table id="gamelogin-table" class="table table-bordered table-responsive">
                <thead>
                    <tr>
                        <th>{{ 'trans.game_account.userid'|trans }}</th>
                        <th>{{ 'trans.game_account.points'|trans }}</th>
                        <th>{{ 'trans.game_account.zeny'|trans }}</th>
                        <th>{{ 'trans.game_account.last_login'|trans }}</th>
                        <th>{{ 'trans.game_account.last_ip'|trans }}</th>
                        <th>{{ 'trans.game_account.change_password'|trans }}</th>
                    </tr>
                <thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
{% block javascripts_inline %}
<script>
    {% if app.user %}
    $(window).load(function(){
        if(location.hash == "#add_account")
            $('#add_account').modal('show');
        else if(location.hash == "#move_zeny")
            $('#move_zeny').modal('show');
        else if(location.hash == "#move_points")
            $('#move_points').modal('show');
    });
    {% endif %}
    var table = $('#gamelogin-table').DataTable( {
        "processing": true,
        "ajax": function (data, callback, settings) {
            callback(
                    jQuery.parseJSON( '{{ gameaccounts|raw }}' )
            );
        },
        "sAjaxDataProp": "data",
        "sScrollX": "100%",
        "sScrollXInner": "100%",
        "bLengthChange": true,
        "pageLength": 15,
        "pagingType": "numbers",
        "language": {
            "zeroRecords": "{{ 'trans.game_account.no_game_account'|trans }}"
        },
        "columns":[
            {"data": "userid",
                "className": 'details-control',
                "render": function (data, type, full, meta) {
                    return '<b>'+full.userid + '</b><br/><span style="font-size:10px">(Click to see characters)</span>';
                }},
            {"data": "cashpoints"},
            {"data": "zeny"},
            {"data": "last_login"},
            {"data": "last_ip"},
            {"data": "userid",
                "render": function ( data, type, full, meta ) {
                    return "<a data-toggle='modal' data-id='"+full.account_id+"' data-target='#change_password-modal' data-backdrop='true' id='cgp-modal' class='cgp-modal'>{{ 'trans.game_account.change_password'|trans }}</a>";
                }
            },
        ],
        "columnDefs": [
            { "targets": 3,
                "width": "130px"},
            { "targets": 5,
                "width": "180px"}
        ]
    });

    /* Formatting function for row details */
    function format ( d ) {
        // `d` is the original data object for the row
        var ret = '<table class="character_list" cellpadding="10" cellspacing="5" border="1" style="width:100%;padding-left:50px;text-align:center;">'+
                '<thead>'+
                '<tr>'+
                '<th>{{ 'trans.character.name'|trans }}</th>'+
                '<th>{{ 'trans.character.class'|trans }}</th>'+
                '<th>{{ 'trans.character.gender'|trans }}</th>'+
                '<th>{{ 'trans.character.guild'|trans }}</th>'+
                '<th>{{ 'trans.character.base_level'|trans }}</th>'+
                '<th>{{ 'trans.character.job_level'|trans }}</th>'+
                '<th>{{ 'trans.character.online'|trans }}</th>'+
                '<th>{{ 'trans.character.location'|trans }}</th>'+
                '<th>{{ 'trans.character.save_point'|trans }}</th>'+
                '<th>{{ 'trans.character.resets'|trans }}</th>'+
                '</tr>'+
                '</thead>'+
                '<tbody>';

        for (var i = 0; i < d.chars.length; i++) {
            ret = ret + '<tr>'+
                    '<td>'+d.chars[i].name+'</td>'+
                    '<td>'+d.chars[i].class+'</td>'+
                    '<td>'+d.chars[i].sex+'</td>'+
                    '<td>'+d.chars[i].guild+'</td>'+
                    '<td>'+d.chars[i].base_level+'</td>'+
                    '<td>'+d.chars[i].job_level+'</td>'+
                    '<td>'+(d.chars[i].online == 1? 'Online' : 'Offline')+'</td>'+
                    '<td>'+d.chars[i].location+'</td>'+
                    '<td>'+d.chars[i].savepoint+'</td>'+
                    "<td><a href='#' class='reset_style' onclick='event.preventDefault();resetStyle("+d.account_id+","+d.chars[i].char_id+");'>{{ 'trans.character.reset_style'|trans }}</a> | " +
                    "<a href='#' class='reset_position' onclick='event.preventDefault();resetPosition("+d.account_id+","+d.chars[i].char_id+");'>{{ 'trans.character.reset_position'|trans }}</a></td>"+
                    '</tr>';
        }

        ret = ret +	'</tbody>'+
                '</table>';

        return ret;
    }

    // Add event listener for opening and closing details
    $('#gamelogin-table tbody').on('click', 'td.details-control', function () {
        var tr = $(this).closest('tr');
        var row = table.row( tr );

        if ( row.child.isShown() ) {
            // This row is already open - close it
            row.child.hide();
            tr.removeClass('shown');
        }
        else {
            row.child( format(row.data()), 'char_row' ).show();
            tr.addClass('shown');
        }
    } );
</script>
{% endblock %}
