<div class="modal fade text-left" id="ban_user" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
                <h4 class="modal-title">{{ 'trans.admin.ban_master_account'|trans }} (<span id="ban_user-label_id"></span>)</h4>
            </div>
            {{ form_start(form, {'attr': {'id': 'ban_user-form'}}) }}
            <div class="modal-body">
                <div id="ban_user-alert" class="alert alert-danger" style="display: none"></div>
                <div id="ban_user-info" class="alert bg-purple"><i class="icon fa fa-warning"></i> {{ 'trans.admin.master_ban'|trans }}</div>
                {{ form_row(form.masterId) }}
                {{ form_row(form.reason) }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-block">{{ 'trans.form.submit'|trans }}</span></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
    function banUser($masterId) {
        $('#ban_user_form_masterId').val($masterId);
        $('#ban_user-label_id').html("{{ 'trans.admin.master_id'|trans }} " + $masterId);
        $('#ban_user').modal('show');
    }

    $("#ban_user-form").submit(function(e) {
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('admin_ban_user') }}",
            data: $("#ban_user-form").serialize(),
            success: function (response) {
                if (response['success']) {
                    location.reload();
                } else {
                    $('#loading').hide();
                    $('#ban_user-alert').show();
                    $('#ban_user-alert').html(response['error']);
                }
            }
        });

        e.preventDefault();
    });
</script>
