<div class="modal fade text-left" id="ban_gameaccount" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
                <h4 class="modal-title">{{ 'trans.admin.ban_game_account'|trans }} (<span id="ban_gameaccount-label_id"></span>)</h4>
            </div>
            {{ form_start(form, {'attr': {'id': 'ban_gameaccount-form'}}) }}
                <div class="modal-body">
                    <div id="ban_gameaccount-alert" class="alert alert-danger" style="display: none">
                    </div>
                    {{ form_row(form.accountId) }}
                    {{ form_row(form.reason) }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success btn-block">{{ 'trans.form.submit'|trans }}</span></button>
                </div>
                {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
    function banGameAccount($accountId) {
        $('#ban_gameaccount_form_accountId').val($accountId);
        $('#ban_gameaccount-label_id').html("{{ 'trans.game_account.id'|trans }} " + $accountId);
        $('#ban_gameaccount').modal('show');
    }

    $("#ban_gameaccount-form").submit(function(e) {
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('admin_ban_gameaccount') }}",
            data: $("#ban_gameaccount-form").serialize(),
			success: function (response) {
				if (response['success']) {
					location.reload();
				} else {
                    $('#loading').hide();
                    $('#ban_gameaccount-alert').show();
                    $('#ban_gameaccount-alert').html(response['error']);
                }
			}
        });

        e.preventDefault();
    });
</script>
