{{ form_start(form, {'attr': {'id': 'confirm_user-form'}}) }}
        {{ form_row(form.masterId) }}
{{ form_end(form) }}

<script>
    function confirmUser($masterId) {
        $('#confirm_user_form_masterId').val($masterId);
        $('#confirm_user-form').submit();
    }

    $("#confirm_user-form").submit(function(e) {
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('security_admin_confirm_user') }}",
            data: $("#confirm_user-form").serialize(),
			success: function (response) {
				if (response['success']) {
					location.reload();
				} else {
                    $('#loading').hide();
				    $('#panel-alert').show();
                    $('#panel-alert').html(response['error']);
                }
			}
        });

        e.preventDefault();
    });
</script>
