{{ form_start(form, {'attr': {'id': 'edit_staff-form'}}) }}
        {{ form_row(form.masterId) }}
        {{ form_row(form.type) }}
{{ form_end(form) }}

<script>
    function editStaff($masterId,$type) {
        $('#edit_staff_form_masterId').val($masterId);
        $('#edit_staff_form_type').val($type);
        $('#edit_staff-form').submit();
    }

    $("#edit_staff-form").submit(function(e) {
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('security_edit_staff') }}",
            data: $("#edit_staff-form").serialize(),
			success: function (response) {
				if (response['success']) {
					location.reload();
				} else {
                    $('#loading').hide();
				    $('#panel-alert').show();
                    $('#panel-alert').html(response['error']);
                }
			}
        });

        e.preventDefault();
    });
</script>
