<div class="modal fade text-left" id="move_gameaccount" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
                <h4 class="modal-title">{{ 'trans.admin.move_game_account'|trans }} (<span id="move_gameaccount-label_id"></span>)</h4>
            </div>
            {{ form_start(form, {'attr': {'id': 'move_gameaccount-form'}}) }}
            <div class="modal-body">
                <div id="move_gameaccount-alert" class="alert alert-danger" style="display: none"></div>
                <div id="move_gameaccount-info" class="alert bg-purple"><i class="icon fa fa-warning"></i> {{ 'trans.admin.move_info'|trans }}</div>
                {{ form_row(form.accountId) }}
                {{ form_row(form.newMasterId) }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-block">{{ 'trans.form.submit'|trans }}</span></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
    function moveGameAccount($accountId) {
        $('#move_gameaccount_form_accountId').val($accountId);
        $('#move_gameaccount-label_id').html("{{ 'trans.game_account.id'|trans }} " + $accountId);
        $('#move_gameaccount').modal('show');
    }

    $("#move_gameaccount-form").submit(function(e) {
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('admin_move_gameaccount') }}",
            data: $("#move_gameaccount-form").serialize(),
            success: function (response) {
                if (response['success']) {
                    location.reload();
                } else {
                    $('#loading').hide();
                    $('#move_gameaccount-alert').show();
                    $('#move_gameaccount-alert').html(response['error']);
                }
            }
        });

        e.preventDefault();
    });
</script>
