<div class="modal fade text-left" id="unban_gameaccount" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
                <h4 class="modal-title">{{ 'trans.admin.unban_game_account'|trans }} (<span id="unban_gameaccount-label_id"></span>)</h4>
            </div>
            {{ form_start(form, {'attr': {'id': 'unban_gameaccount-form'}}) }}
            <div class="modal-body">
                <div id="unban_gameaccount-alert" class="alert alert-danger" style="display: none">
                </div>
                {{ form_row(form.accountId) }}
                {{ form_row(form.reason) }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-block">{{ 'trans.form.submit'|trans }}</span></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
            
<script>
    function unbanGameAccount($accountId) {
        $('#unban_gameaccount_form_accountId').val($accountId);
        $('#unban_gameaccount-label_id').html("{{ 'trans.game_account.id'|trans }} " + $accountId);
        $('#unban_gameaccount').modal('show');
    }

    $("#unban_gameaccount-form").submit(function(e) {
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('admin_unban_gameaccount') }}",
            data: $("#unban_gameaccount-form").serialize(),
			success: function (response) {
				if (response['success']) {
					location.reload();
				} else {
                    $('#loading').hide();
                    $('#ban_gameaccount-alert').show();
                    $('#ban_gameaccount-alert').html(response['error']);
                }
			}
        });

        e.preventDefault();
    });
</script>
