<div class="modal fade text-left" id="unban_user" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
                <h4 class="modal-title">{{ 'trans.admin.unban_master_account'|trans }} (<span id="unban_user-label_id"></span>)</h4>
            </div>
            {{ form_start(form, {'attr': {'id': 'unban_user-form'}}) }}
            <div class="modal-body">
                <div id="unban_user-alert" class="alert alert-danger" style="display: none">
                </div>
                <div id="unban_user-info" class="alert bg-purple"><i class="icon fa fa-warning"></i> {{ 'trans.admin.master_unban'|trans }}</div>
                {{ form_row(form.masterId) }}
                {{ form_row(form.reason) }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-block">{{ 'trans.form.submit'|trans }}</span></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
            
<script>
    function unbanUser($masterId) {
        $('#unban_user_form_masterId').val($masterId);
        $('#unban_user-label_id').html("{{ 'trans.admin.master_id'|trans }} " + $masterId);
        $('#unban_user').modal('show');
    }

    $("#unban_user-form").submit(function(e) {
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('admin_unban_user') }}",
            data: $("#unban_user-form").serialize(),
			success: function (response) {
				if (response['success']) {
					location.reload();
				} else {
                    $('#loading').hide();
                    $('#unban_user-alert').show();
                    $('#unban_user-alert').html(response['error']);
                }
			}
        });

        e.preventDefault();
    });
</script>
