<div class="modal fade text-left" id="update_points" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'trans.back_to_page'|trans }}">&times;</button>
                <h4 class="modal-title">{{ 'trans.admin.update_points'|trans }} (<span id="update_points-label_id"></span>)</h4>
            </div>
            {{ form_start(form, {'attr': {'id': 'update_points-form'}}) }}
            <div class="modal-body">
                <div id="update_points-alert" class="alert alert-danger" style="display: none"></div>
                <div id="update_points-info" class="alert bg-purple"><i class="icon fa fa-warning"></i> {{ 'trans.admin.points_info'|trans }}</div>
                {{ form_row(form.accountId) }}
                {{ form_row(form.amount) }}
                {{ form_row(form.reason) }}
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-block">{{ 'trans.form.submit'|trans }}</span></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script>
    function updatePoints($accountId) {
        $('#update_points_form_accountId').val($accountId);
        $('#update_points-label_id').html("{{ 'trans.game_account.id'|trans }} " + $accountId);
        $('#update_points').modal('show');
    }

    $("#update_points-form").submit(function(e) {
        $('#loading').show();
        $.ajax({
            type: "POST",
            url: "{{ path('admin_update_points') }}",
            data: $("#update_points-form").serialize(),
            success: function (response) {
                if (response['success']) {
                    location.reload();
                } else {
                    $('#loading').hide();
                    $('#update_points-alert').show();
                    $('#update_points-alert').html(response['error']);
                }
            }
        });

        e.preventDefault();
    });
</script>
